mixin mobile-menu()
  .b-mobile-menu.iblock&attributes(attributes)
    .b-mobile-menu__return
      a.b-mobile-menu__return-link(href="#") Вернуться к&nbsp;выбору категории

    ul.b-mobile-menu__top-level
      li.b-mobile-menu__top-item
        a.b-mobile-menu__top-link._contain(href="#") Электроника
        .b-mobile-menu__container
          ul.b-mobile-menu__sub-level
            li.b-mobile-menu__sub-item
              a.b-mobile-menu__sub-link._contain(href="#") Мобильные телефоны
              .b-mobile-menu__sub-container
                ul.b-mobile-menu__sub-level
                  li.b-mobile-menu__sub-item
                    a.b-mobile-menu__sub-link._third(href="#") <nobr>Сплит-системы</nobr>
                  li.b-mobile-menu__sub-item
                    a.b-mobile-menu__sub-link._third(href="#") Мобильные кондиционеры
                  li.b-mobile-menu__sub-item
                    a.b-mobile-menu__sub-link._third(href="#") Обогреватели Вентиляторы
                  li.b-mobile-menu__sub-item
                    a.b-mobile-menu__sub-link._third(href="#") Очистители и&nbsp;увлажнители воздуха
                  li.b-mobile-menu__sub-item
                    a.b-mobile-menu__sub-link._third(href="#") Погодные станции
                  li.b-mobile-menu__sub-item
                    a.b-mobile-menu__sub-link._third(href="#") Водонагреватели
                  li.b-mobile-menu__sub-item
                    a.b-mobile-menu__sub-link._third(href="#") Тепловые пушки
                  li.b-mobile-menu__sub-item
                    a.b-mobile-menu__sub-link._third(href="#") Осушители воздуха
                  li.b-mobile-menu__sub-item
                    a.b-mobile-menu__sub-link._third(href="#") Электрические камины

            li.b-mobile-menu__sub-item
              a.b-mobile-menu__sub-link(href="#") Фото и&nbsp;видеокамеры
            li.b-mobile-menu__sub-item
              a.b-mobile-menu__sub-link(href="#") Телевизоры
            li.b-mobile-menu__sub-item
              a.b-mobile-menu__sub-link(href="#") Аудио и&nbsp;видео техника
            li.b-mobile-menu__sub-item
              a.b-mobile-menu__sub-link(href="#") Плееры и&nbsp;наушники

      li.b-mobile-menu__top-item
        a.b-mobile-menu__top-link._contain(href="#") Компьютерная техника
        .b-mobile-menu__container
          ul.b-mobile-menu__sub-level
            li.b-mobile-menu__sub-item
              a.b-mobile-menu__sub-link(href="#") Мобильные телефоны
            li.b-mobile-menu__sub-item
              a.b-mobile-menu__sub-link(href="#") Фото и&nbsp;видеокамеры
            li.b-mobile-menu__sub-item
              a.b-mobile-menu__sub-link(href="#") Телевизоры
            li.b-mobile-menu__sub-item
              a.b-mobile-menu__sub-link(href="#") Аудио и&nbsp;видео техника
            li.b-mobile-menu__sub-item
              a.b-mobile-menu__sub-link(href="#") Плееры и&nbsp;наушники

      li.b-mobile-menu__top-item
        a.b-mobile-menu__top-link._contain(href="#") Бытовая техника
        .b-mobile-menu__container
          ul.b-mobile-menu__sub-level
            li.b-mobile-menu__sub-item
              a.b-mobile-menu__sub-link(href="#") Мобильные телефоны
            li.b-mobile-menu__sub-item
              a.b-mobile-menu__sub-link(href="#") Фото и&nbsp;видеокамеры
            li.b-mobile-menu__sub-item
              a.b-mobile-menu__sub-link(href="#") Телевизоры
            li.b-mobile-menu__sub-item
              a.b-mobile-menu__sub-link(href="#") Аудио и&nbsp;видео техника
            li.b-mobile-menu__sub-item
              a.b-mobile-menu__sub-link(href="#") Плееры и&nbsp;наушники

      li.b-mobile-menu__top-item
        a.b-mobile-menu__top-link._contain(href="#") Семья и&nbsp;дети
        .b-mobile-menu__container
          ul.b-mobile-menu__sub-level
            li.b-mobile-menu__sub-item
              a.b-mobile-menu__sub-link(href="#") Мобильные телефоны
            li.b-mobile-menu__sub-item
              a.b-mobile-menu__sub-link(href="#") Фото и&nbsp;видеокамеры
            li.b-mobile-menu__sub-item
              a.b-mobile-menu__sub-link(href="#") Телевизоры
            li.b-mobile-menu__sub-item
              a.b-mobile-menu__sub-link(href="#") Аудио и&nbsp;видео техника
            li.b-mobile-menu__sub-item
              a.b-mobile-menu__sub-link(href="#") Плееры и&nbsp;наушники

      li.b-mobile-menu__top-item
        a.b-mobile-menu__top-link._contain(href="#") Дом, дача, авто
        .b-mobile-menu__container
          ul.b-mobile-menu__sub-level
            li.b-mobile-menu__sub-item
              a.b-mobile-menu__sub-link(href="#") Мобильные телефоны
            li.b-mobile-menu__sub-item
              a.b-mobile-menu__sub-link(href="#") Фото и&nbsp;видеокамеры
            li.b-mobile-menu__sub-item
              a.b-mobile-menu__sub-link(href="#") Телевизоры
            li.b-mobile-menu__sub-item
              a.b-mobile-menu__sub-link(href="#") Аудио и&nbsp;видео техника
            li.b-mobile-menu__sub-item
              a.b-mobile-menu__sub-link(href="#") Плееры и&nbsp;наушники
