mixin product-delivery()
  .b-product-delivery.js-accordion&attributes(attributes)
    .b-product-delivery__section.js-accordion-item
      .b-product-delivery__section-title.js-accordion-header <b>Самовывоз</b> м. Коломенская
        span.b-product-delivery__section-icon.package
      .b-product-delivery__section-body.js-accordion-body
        span.b-product-delivery__type пр. Андропова, д. 22
        span.b-product-delivery__payment Мы не доставляем уцененные товары. Уцененные товары можно купить только в гипермаркете на м. Коломенская.
    
    .b-product-delivery__section.js-accordion-item
      .b-product-delivery__section-title.js-accordion-header <b>Доставка</b> 8 августа бесплатно
        span.b-product-delivery__section-icon.truck
      .b-product-delivery__section-body.js-accordion-body
        span.b-product-delivery__type Постаматы или ПВЗ
        span.b-product-delivery__payment Оплата картой на сайте
        span.b-product-delivery__date Ожидаемая дата доставки <b>08.10</b> от 340 ₽
  
  .b-product-delivery
    a(href="#map-pickup" class="b-product-delivery__section b-product-delivery__section--fixed b-product-delivery__popup")
      .b-product-delivery__section-title <b>Самовывоз</b> из гипермаркетов и точек выдачи
        span.b-product-delivery__section-icon.package

    .b-product-delivery__section.b-product-delivery__section
      .b-product-delivery__section-title Как получить <a href="#">цифровой товар?</a>
        span.b-product-delivery__section-icon.cloud

    .b-product-delivery__desc
      p Обратите внимание!
      p Expressale.eu осуществляет трансграничные продажи с со склада в Эстонии.
      p С 1 января 2020 года сумма беспошлинного ввоза товаров через границу для физических лиц составляет 200 евро по курсу ЦБ на день оформления. В случае превышения этого лимита необходимо оплатить таможенную пошлину в размере 15% от суммы, превышающей 200 евро.
      p Например, если стоимость посылки составит 280 евро, пошлина будет взиматься с суммы в 80 евро и составит 12 евро.

    .b-product-delivery__misc
      p 
        a(href="#") Правила покупки товара из-за рубежа