mixin added-cart()
	.b-added-cart.iblock&attributes(attributes)
		.b-added-cart__caption Товар добавлен в корзину!
		.b-added-cart__btns
			a.button-gray(href="#") Перейти в корзину
			a.button(href="#") Перейти к оформлению
