mixin top-product-slider()
	.b-top-product-slider.iblock&attributes(attributes)
		.b-top-product-slider__header
			.b-top-product-slider__title Товары Samsung с&nbsp;выским рейтингом
			.b-top-product-slider__arrows
				a.b-top-product-slider__prev(href="#")
				a.b-top-product-slider__next(href="#")

		.b-top-product-slider__slider
			.b-top-product-slider__slide
				+top-product()

			.b-top-product-slider__slide
				+top-product()

			.b-top-product-slider__slide
				+top-product()

			.b-top-product-slider__slide
				+top-product()
