mixin subcategory-plates()
  .b-subcategory-plates.iblock&attributes(attributes)
    ul.b-subcategory-plates__items
      li.b-subcategory-plates__item.b-subcategory-plates__item_big
        .b-subcategory-plates__ratio-holder.b-subcategory-plates__ratio-holder_big
          .b-subcategory-plates__item-wrap
            +subcategory-slider()

      li.b-subcategory-plates__item
        .b-subcategory-plates__ratio-holder
          a.b-subcategory-plates__item-wrap._blue(href="#")
            span.b-subcategory-plates__image-holder
              img.b-subcategory-plates__image(src="assets/img/content/categories/cat27.png", alt="Категория" width=200 height=200)
            span.b-subcategory-plates__title Смартфоны

      li.b-subcategory-plates__item
        .b-subcategory-plates__ratio-holder
          a.b-subcategory-plates__item-wrap(href="#")
            span.b-subcategory-plates__image-holder
              .b-subcategory-plates__full-image(style="background-image: url('assets/img/content/categories/cat-bg1.png');")
              .b-subcategory-plates__full-image._2x(style="background-image: url('assets/img/content/categories/cat-bg1@2x.png');")

            span.b-subcategory-plates__title Игровые приставки

      li.b-subcategory-plates__item
        .b-subcategory-plates__ratio-holder
          a.b-subcategory-plates__item-wrap._red(href="#")
            span.b-subcategory-plates__image-holder
              img.b-subcategory-plates__image(src="assets/img/content/categories/cat25.png", alt="Категория" width=200 height=200)
            span.b-subcategory-plates__title Телевизоры

      li.b-subcategory-plates__item
        .b-subcategory-plates__ratio-holder
          a.b-subcategory-plates__item-wrap._gray(href="#")
            span.b-subcategory-plates__image-holder
              img.b-subcategory-plates__image(src="assets/img/content/categories/cat33.png", alt="Категория" width=200 height=200)
            span.b-subcategory-plates__title Электроника от&nbsp;Apple
