mixin cart()
	.b-cart.iblock&attributes(attributes)
		ul.b-cart__items
			li.b-cart__item
				+cart-product()
			li.b-cart__item
				+cart-product()
			li.b-cart__item
				+cart-product()
			li.b-cart__item
				+cart-product()
