.b-configurator-obligatory {
  margin-bottom: 14px;
  &__title {
    margin-bottom: 10px;
    color: #1d1d1d;
    font-size: rem(18);
    line-height: 1.22;
  }
  &__subtitle {
    margin-bottom: 10px;
    color: #1d1d1d;
    font-size: rem(14);
    font-weight: 300;
    line-height: 1.43;
  }
  &__progress {
    display: block;
    position: relative;
    width: 100%;
    flex: auto;
    height: 26px;
     overflow: hidden;
    -webkit-appearance: none;
      -moz-appearance: none;
            appearance: none;
    background: #f1f1f1;
    &-bar {
      position: absolute;
      width: 0;
      height: 100%;
      top: 0;
      left: 0;
      background: #E96263;
      transition: width 0.2s ease-in-out;
      &.required {background: #E96263;}
      &.incompatible {background: #FEBF00;}
      &.complete {background: #3E8BDC;}
    }
  }
}