mixin configurator-obligatory()
  .b-configurator-obligatory.iblock&attributes(attributes)
    .b-configurator-obligatory__title Конфигурация
    .b-configurator-obligatory__subtitle Выбраны не все обязательные компоненты
    .b-configurator-obligatory__progress
      span.b-configurator-obligatory__progress-bar