mixin rating-form()
	.b-rating-form.iblock&attributes(attributes)
		.b-rating-form__input
			input(type="text" value=3)
		.b-rating-form__title Ваша оценка:
		ul.b-rating-form__items
			li.b-rating-form__item
			li.b-rating-form__item
			li.b-rating-form__item
			li.b-rating-form__item
			li.b-rating-form__item

mixin rating-form_big()
	.b-rating-form.iblock&attributes(attributes)
		.b-rating-form__input
			input(type="text" value=3 name="rating")
		.b-rating-form__title Ваша оценка:
		ul.b-rating-form__items.b-rating-form__items_big
			li.b-rating-form__item
			li.b-rating-form__item
			li.b-rating-form__item
			li.b-rating-form__item
			li.b-rating-form__item
