mixin configurator-save()
	.b-configurator-save.iblock&attributes(attributes)
		.b-configurator-save__title Сохранить комплект
		.b-configurator-save__ui
			.b-configurator-save__input-holder
				input.b-configurator-save__input(type="text" placeholder="Название")
			.b-configurator-save__btn-holder
				a.b-configurator-save__btn.button-gray(href="#") Сохранить

		.b-configurator-save__items-holder
			ul.b-configurator-save__items
				li.b-configurator-save__item
					a.b-configurator-save__item-link(href="#") Комп для игр
				li.b-configurator-save__item
					a.b-configurator-save__item-link(href="#") Компьютер маме
