mixin configurator-save()
  .b-configurator-save.iblock&attributes(attributes)
    .b-configurator-save__title Сохранить конфигурацию
    form.b-configurator-save__ui
      fieldset.b-configurator-save__input-holder
        input.b-configurator-save__input(type="text" placeholder="Мой компьютер #47089")
      fieldset.b-configurator-save__btn-holder
        button(type="submit").b-configurator-save__btn.button-gray Сохранить
        button.b-configurator-save__btn.button-gray D
        button.b-configurator-save__btn.button-gray L
        button.b-configurator-save__btn.button-gray M
        button.b-configurator-save__btn.button-gray P

mixin configurator-saved()
  .b-configurator-save.iblock&attributes(attributes)
  .b-configurator-save__title Мои конфигурации
    .b-configurator-save__items-holder
      ul.b-configurator-save__items
        li.b-configurator-save__item
          a.b-configurator-save__item-link(href="#") Мой компьютер #47085
        li.b-configurator-save__item
          a.b-configurator-save__item-link(href="#") Компьютер для мамы на дачу
        li.b-configurator-save__item
          a.b-configurator-save__item-link(href="#") Мой самый крутой геймерский компьютер
        li.b-configurator-save__item
          a.b-configurator-save__item-link(href="#") Мой компьютер #47642
        li.b-configurator-save__item
          a.b-configurator-save__item-link(href="#") Мой компьютер #65199
      
      a(href="#") Посмотреть все конфигурации