mixin top-logo()
	.b-top-logo.iblock&attributes(attributes)
		.b-top-logo__img-holder
			img.b-top-logo__img(src="assets/img/logo.png", alt="Логотип" width=150 height=51)
		.b-top-logo__slogan-holder
			.b-top-logo__slogan Магазины<br/>для&nbsp;современной<br/>семьи
