mixin paginator()
	.b-paginator.iblock&attributes(attributes)
		ul.b-paginator__items.b-paginator__items_center
			li.b-paginator__item
				a.b-paginator__prev-link(href="#")
			li.b-paginator__item
				span.b-paginator__link.b-paginator__link_current(href="#") 1
			li.b-paginator__item
				a.b-paginator__link(href="#") 2
			li.b-paginator__item
				a.b-paginator__link(href="#") &hellip;
			li.b-paginator__item
				a.b-paginator__link(href="#") 10
			li.b-paginator__item
				a.b-paginator__next-link(href="#")

mixin paginator_sort()
	.b-paginator.iblock.b-paginator_white&attributes(attributes)
		ul.b-paginator__items
			li.b-paginator__item
				a.b-paginator__prev-link(href="#")
			li.b-paginator__item
				span.b-paginator__link.b-paginator__link_current(href="#") 1
			li.b-paginator__item
				a.b-paginator__link(href="#") 2
			li.b-paginator__item
				a.b-paginator__link(href="#") &hellip;
			li.b-paginator__item
				a.b-paginator__link(href="#") 10
			li.b-paginator__item
				a.b-paginator__next-link(href="#")

mixin paginator_feedbacks()
	.b-paginator.iblock.b-paginator_gray&attributes(attributes)
		ul.b-paginator__items
			li.b-paginator__item
				a.b-paginator__prev-link(href="#")
			li.b-paginator__item
				span.b-paginator__link.b-paginator__link_current(href="#") 1
			li.b-paginator__item
				a.b-paginator__link(href="#") 2
			li.b-paginator__item
				a.b-paginator__link(href="#") &hellip;
			li.b-paginator__item
				a.b-paginator__link(href="#") 10
			li.b-paginator__item
				a.b-paginator__next-link(href="#")
