/** 
* GAMING START
* UPDATE: 06.07.2021 Карцев Михаил
*/
@mixin gradient-background {
  background: #242424;
  background: -moz-radial-gradient(center, ellipse cover,  #242424 0%, #1d1d1d 100%);
  background: -webkit-radial-gradient(center, ellipse cover,  #242424 0%,#1d1d1d 100%);
  background: radial-gradient(ellipse at center,  #242424 0%,#1d1d1d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#242424', endColorstr='#1d1d1d',GradientType=1 );
  box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.25); 
}
@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
  28%,
  33% {
    color: #ff65bd;
    text-shadow: none;
  }
  82%,
  97% {
    color: #ff2483;
    text-shadow: none;
  }
}
@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
}
@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {opacity: 0.9;}
  6% {opacity: 0.85;}
  8% {opacity: 0.95;}
  10% {opacity: 0.9;}
  11% {opacity: 0.922;}
  12% {opacity: 0.9;}
  14% {opacity: 0.95;}
  16% {opacity: 0.98;}
  17% {opacity: 0.9;}
  19% {opacity: 0.93;}
  20% {opacity: 0.99;}
  24% {opacity: 1;}
  26% {opacity: 0.94;}
  28% {opacity: 0.98;}
  37% {opacity: 0.93;}
  38% {opacity: 0.5;}
  39% {opacity: 0.96;}
  42% {opacity: 1;}
  44% {opacity: 0.97;}
  46% {opacity: 0.94;}
  56% {opacity: 0.9;}
  58% {opacity: 0.9;}
  60% {opacity: 0.99;}
  68% {opacity: 1;}
  70% {opacity: 0.9;}
  72% {opacity: 0.95;}
  93% {opacity: 0.93;}
  95% {opacity: 0.95;}
  97% {opacity: 0.93;}

  to {
    opacity: 1;
  }
}
@keyframes float {
	0% {
    transform: translate3d(0, 0, 0) rotate(0deg) scale(1);
	}
	50% {
   transform: translate3d(0, -20px, 0) rotate(0.02deg) scale(1.01);
	}
	100% {
	transform: translate3d(0, 0, 0) rotate(0deg) scale(1);
	}
}

.button {
  &-gaming {
    display: inline-block;
    padding: 0.75em 1em;
    text-decoration: none;
    transition: .2s background-color;
    position: relative;
    color: #fff;
    font-size: 14/16*100%;
    line-height: 20/16*100%;
    background: none;
    border-radius: 0;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right,  #ef7f78 0%,#e62a55 20%,#e41857 40%,#dc166e 60%,#db1875 80%,#dc3e48 100%,#df679c 100%);
    z-index: 1;
    &:hover {
      cursor: pointer;
      &:before {
        opacity: 1;
      }
    }
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      background: #ef7f78;
      background: -moz-linear-gradient(left,  #ef7f78 0%, #e62a55 20%, #e41857 40%, #dc166e 60%, #db1875 80%, #dc3e48 100%, #df679c 100%);
      background: -webkit-linear-gradient(left,  #ef7f78 0%,#e62a55 20%,#e41857 40%,#dc166e 60%,#db1875 80%,#dc3e48 100%,#df679c 100%);
      background: linear-gradient(to right,  #ef7f78 0%,#e62a55 20%,#e41857 40%,#dc166e 60%,#db1875 80%,#dc3e48 100%,#df679c 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef7f78', endColorstr='#df679c',GradientType=1 );
      z-index: -1;
      transition: opacity 0.4s ease-in-out;
    }
  }
  &-ghost {
    @extend .button;
    color: #D1D1D1;
    text-decoration: none;
    background: transparent;
    border-color: #4a4a4a !important;
    transition: color 0.2s, background-color 0.2s;
    &:hover {
      color: #fff !important;
      border-color: #fff !important;
    }
  }
}
.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}
.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}
.slider-arrow {
  display: inline-block;
  cursor: pointer;
  font-size: 12px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  vertical-align: top;
  width: 32px;
  height: 32px;
  text-align: center;
  color: #4a4a4a;
  border: 1px solid #4a4a4a;
  background: none;
  transition: border-color 0.2s, box-shadow 0.2s;
  opacity: 1 !important;
  &:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    font-variant: normal;
    text-transform: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: inherit;
    line-height: inherit;
  }
  &:hover {
    color: #fff;
    border-color: #fff;
    opacity: 1;
  }
  &:focus {
    background: none;
    outline: none;
  }
}
.slider-arrow.slider-arrow-next:before {
  content: "";
}
.slider-arrow.slider-arrow-prev:before {
  content: "";
}
.slick {
  &-arrow {
    @extend .slider-arrow;
    &:hover {
      opacity: 1 !important;
    }
  }
  &-prev {
    &:before{
      content: "";
      color: inherit;
      opacity: inherit;
    }
    &:hover {
      opacity: 1!important;
    }
  }
  &-next {
    &:before {
      content: "";
      color: inherit;
      opacity: inherit;
    }
    &:hover {
      opacity: 1!important;
    }
  }
  &-dots {
    display: flex;
    position: absolute;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    left: 50%;
    bottom: 3em;
    transform: translateX(-50%);
    li {
      list-style: none;
      margin: 0 3px;
      button {
        display: block;
        width: 8px;
        height: 8px;
        padding: 0;
        color: transparent;
        font-size: 0;
        line-height: 0;
        background: rgba(255, 255, 255, 0.3);
        box-sizing: border-box;
        border: none;
        transition: background-color 0.25s ease-in-out;
        &:hover {
          background: rgba(255, 255, 255, 0.5);
        }
        &:focus {
          outline: none;
          background: rgba(255, 255, 255, 0.5);
        }
      }
      &.slick-active {
        button {
          background: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }
}
.text-center {
  text-align: center;
}


[class^=b-gaming-],
[class^=c-gaming-] {
  box-sizing: border-box;
}
.c-gaming {
  position: relative;
  margin: 40px 0;
  background: #131313;
  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 40px;
    left: 0;
  }
  &:before {
    top: -40px;      
    background: url('../img/gaming/gaming-section-before.png') repeat-x bottom center
  }
  &:after {
    bottom: -40px;
    background: url('../img/gaming/gaming-section-after.png') repeat-x top center
  }
  &-categories {
    display: flex;
    flex-flow: row nowrap;
    &-left {
      display: flex;
      flex-flow: row wrap;
      flex: 2 2 auto;
      margin: 0 -7px;
    }
    &-right {
      display: block;
      flex: 1 1 calc(33.333% - 14px);
      max-width: calc(33.333% - 14px);
      margin-left: 14px;
    }
  }
  &-category {
    &__cell {
      flex: 1 0 calc(50% - 14px);
      max-width: calc(50% - 14px);
      margin: 0 7px 14px;
      &:last-child {margin-bottom: 0;}
      //&:nth-child(even) {margin-right: 0;}
      &:nth-last-child(2) {margin-bottom: 0;}
    }
  }
  &-reviews {
    padding: 35px;
    &-grid {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 35px 14px;
      margin-bottom: 34px;
    }
  }
  &-pc {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -7px 80px;
    &__cell {
      flex: 1 1 calc(33.333% - 14px);
      max-width: calc(33.333% - 14px);
      margin: 0 7px 14px;
      box-sizing: border-box;
      &:nth-last-child(-3n) {
        padding-bottom: 0;
      }
    }
  }
  &__more-link {
    display: block;
    width: 100%;
    font-size: rem(14);
    line-height: rem(20);
    text-align: center;
    &:after {
      position: relative;
      top: -2px;
      content: "";
      font-family: fontello;
      font-style: normal;
      font-weight: normal;
      speak: none;
      display: inline-block;
      width: 1em;
      color: #4a4a4a;
      font-size: 25%;
      text-align: center;
      text-transform: none;
      line-height: 1em;
      margin-left: 1.5em;
      transform-origin: right center;
      font-variant: normal;
      text-decoration: none;
      -webkit-font-smoothing: antialiased;
    }
  }
  &--contest,
  &--stream {
    color: #fff;
  }
}
.b-gaming {
  &-advantages {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    margin-top: 20px;
  }
  &-advantage {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 -7px;
    &__cell {
      flex: 1 0 calc(50% - 14px);
      max-width: calc(50% - 14px);
      margin: 0 7px;
      padding: 20px;
      @include gradient-background;
    }
    &__title {
      margin-bottom: 14px;
      font-weight: 500;
    }
    &__list {
      margin: 0;
      padding: 0;
      list-style: none;
      &-item {
        position: relative;
        font-size: rem(16);
        line-height: rem(26);
        padding-left: 16px;
        &:before {
          content: '•';
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
  &-banner { 
    padding: 50px 0 40px 70px;
    background-color: #131313;
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
    &__title {
      max-width: 406px;
      margin: 0 0 16px 0;
      color: #f0434e;
      font-size: 26/16*100%;
      font-weight: 600;
      line-height: 30px;
      @supports (-webkit-background-clip: text) {
        background: #ef7f78;
        background: -moz-linear-gradient(left,  #ef7f78 0%, #e62a55 20%, #e41857 40%, #dc166e 60%, #db1875 80%, #dc3e48 100%, #df679c 100%);
        background: -webkit-linear-gradient(left,  #ef7f78 0%,#e62a55 20%,#e41857 40%,#dc166e 60%,#db1875 80%,#dc3e48 100%,#df679c 100%);
        background: linear-gradient(to right,  #ef7f78 0%,#e62a55 20%,#e41857 40%,#dc166e 60%,#db1875 80%,#dc3e48 100%,#df679c 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef7f78', endColorstr='#df679c',GradientType=1 );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    &__logo {
      max-width: 190px;
      max-height: 97px;
      margin-bottom: 66px;
      img {
        width: 100%; 
      }
    }
    &__content {
      max-width: 406px;
      margin: 16px 0 55px 0;
      color: #f2f2f2;
      line-height: 20/16*100%;
    }
  }
  &-carousel {
    width: 100%;
    height: auto;
    min-height: 300px;
    margin-bottom: 100px;
    padding: 0 32px;
    background: url('../img/gaming/gaming-carousel0.jpg')no-repeat center center / auto 370px;
    &__slide {
      justify-content: center;
      text-decoration: none;
      &.slick-current {
        .b-gaming-carousel__slide-body {
          transform: scale(1.3);
          transform-origin: 50% 50%;
        }
        //.b-gaming-carousel__slide-image {
        //  animation-play-state: running;
        //}
      }
      &-body {
        transition: transform 0.4s ease-in-out;
      }
      &-title {
        display: block;
        margin: 0 auto;
        max-width: 80%;
        color: #fff;
        font-size: rem(16);
        line-height: rem(20);
        font-weight: 400;
        text-decoration: none;
        text-align: center;
      }
      &-image {
        width: auto;
        max-height: 215px;
        transform: translate3d(0, 0, 0);
        will-change: transform;
        backface-visibility: hidden;
        //animation: float 6s ease-in-out infinite;
        //animation-play-state: paused;
        &-wrap {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 230px;
          height: 230px;
          margin: 10px auto 0;
        }
      }
      &:not(:first-child) {
        display: none;
      }
      .b-gaming-carousel.slick-initialized &,
      .b-gaming-slider.slick-initialized & {
        display: flex !important;
      }
      &:focus {
        outline: none;
      }
    }
    .slick {
      &-list,
      &-track {
        height: 100%;
      }
      &-list {}
      &-track {
        padding: 30px 0 50px;
      }
      &-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
      }
      &-prev {
        left: 0;
        &:before{
          content: "";
        }
      }
      &-next {
        right: 0;
        &:before {
          content: "";
        }
      }
    }
  }
  &-category {
    display: flex;
    position: relative;
    min-height: 250px;
    max-height: 250px;
    @include gradient-background;
    &-link {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      width: 100%;
      padding: 20px;
      text-decoration: none;
      overflow: hidden;
      border: 1px solid transparent;
      transition: border 0.25s ease-in-out;
      &:hover {
        border-image-slice: 1;
        border-image-source: linear-gradient(to right,  #ef7f78 0%,#e62a55 20%,#e41857 40%,#dc166e 60%,#db1875 80%,#dc3e48 100%,#df679c 100%);
        .b-gaming-category__image {
          transform: translate(-50%, -50%) scale3d(1.05, 1.05, 1);
        }
      }
    }
    &-header,
    &-footer {
      display: block;
      position: relative;
      z-index: 1;
    }
    &__title {
      display: block;
      max-width: 55%;
      color: #fff;
      font-weight: 500;
      font-size: rem(18);
      line-height: rem(22)
    }
    &__image {
      position: absolute;
      max-height: 100%;
      top: 50%;
      left: 50%;
      transition: transform 2s cubic-bezier(0.39,0.57,0.56,1);
      transform: translate(-50%, -50%);
    }
    &__pseudolink {
      color: #969696;
      font-size: rem(14);
      line-height: rem(18);
      &:after {
        content: ' →';
        font-family: Arial, sans-serif;
      }
      &:hover {
        text-decoration: underline;
      }
      &--no-arrow {
        &:after {
          content: '';
        } 
      }
    }
    &__social {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      //position: absolute;
      //bottom: 20px;
      //left: 20px;
      img {
        width: 32px;
        height: 32px;
        margin-right: 7px;
      }
      span {
        color: #fff;
        font-size: rem(14);
        line-height: rem(18);
      }
    }
  }
  &-contest {
    &__addtext {
      font-size: 18px;
      font-weight: 300;
      line-height: 24px;
      text-align: center;
    }
    &__prize {
      display: flex;
      flex-flow: row nowrap;
      text-decoration: none;
      margin-bottom: 30px;
      &-desc {
        flex: 1 1 auto;
        font-weight: 300;
        line-height: 32px;
        .b-gaming__list li:before {
          top: 13px;
        }
      }
      &-image {
        display: flex;
        flex: 0 0 auto;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: flex-start;
        max-width: 380px;
        max-height: 380px;
        margin: 0 24px 0 0;
        transition: transform 0.24s ease-in;
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
      &-title {
        display: block;
        color: #fff;
        font-size: 22px;
        font-weight: 600;
        line-height: 28px;
      }

      &--small {
        flex-flow: column;
        max-width: 280px;
        margin: 0 auto 48px auto;
        .b-gaming-contest__prize-image {
          align-items: center;
          margin: 0 auto;
          max-width: 280px;
          max-height: 280px;
          img {
            max-width: 100%;
            max-height: 100%;
          }
        }
        .b-gaming-contest__prize-title {
          font-size: 16px;
          line-height: 22px;
          text-align: center;
        }
        &:hover {
          .b-gaming-contest__prize-image {
            transform: scale3d(1.03, 1.03, 1);
          }
          .b-gaming-contest__prize-title {
            text-decoration: underline;
          }
        }
      }
      
    }
    &__require {
      display: flex;
      flex-flow: column nowrap;
      text-decoration: none;
      max-width: 380px;
      margin: 0 auto 24px;
      &-image {
        display: flex;
        flex: 0 0 auto;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: flex-start;
        margin: 0 auto 20px;
        img {
          max-width: 110px;
          max-height: 110px;
        }
      }
      &-title {
        display: block;
        color: #fff;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
      }

    }
    &__section-title {
      margin-bottom: 40px;
      color: #fff;
      font-size: 24px;
      font-weight: 300;
      line-height: 28px;
      text-align: center;
    }
  }
  &__cta {
    display: inline-block;
    max-width: 1200px;
    margin: 0 auto 40px;
    &-image {
      width: 100%;
      object-fit: cover;
    }
    &-image-sm {
      display: none;
      width: 100%;
      object-fit: cover;
    }
  }
  &-event {
    position: relative;
    &-overlay {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      padding: 20px;
      background: linear-gradient(360deg, #131313 -3.61%, rgba(19, 19, 19, 0.84127) 21.54%, rgba(19, 19, 19, 0) 52.51%);
      box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.25);
    }
    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      &-wrap {
        width: 100%;
        max-height: 370px;
      }
    }
    &__title {
      display: block;
      margin-bottom: 8px;
      color: #fff;
      font-size: rem(18);
      font-weight: 500;
    }
    &__link {
      color: #969696;
      font-size: rem(14);
      line-height: rem(18);
      text-decoration: none;
      &:after {
        content: ' →';
        font-family: Arial, sans-serif;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &-hero {
    padding: 35px;
    
    &-grid {
      display: grid;
      color: #fff;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr minmax(auto, 50%);
      grid-gap: 14px;
      grid-template-areas: 
        "first second"
        "third second";
      //background: url('../img/gaming/gaming-hero.png')no-repeat top right / auto;
    }
    &__cell {
      &-first {
        grid-area: first;
      }
      &-second {
        grid-area: second;
      }
      &-third {
        grid-area: third;
      }
    }
    &__image {
      max-width: 100%;
    }
  }
  &__list {
    margin: 24px 0;
    padding: 0;
    color: #fff;
    list-style: none;
    li {
      position: relative;
      padding-left: 20px;
      &:before {
        position: absolute;
        content: '';
        top: 7px;
        left: 0;
        width: 8px;
        height: 8px;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAB4SURBVHgBTY7bCsMwDEMlU1j/d+yXu7fBnspgiepL0tYQsKNjyfw8X+rbrrbt+L9/1LercWXHioaHDBJEEvG85B38C1U0H53pqUVPFwMqgrCgrWYmS5TVqAWDVtnetPIwnWlDvPILmA2nkEcq746V5Z433fLIytUB0Us9c4xHh5sAAAAASUVORK5CYII=');
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
  &-partners {
    &__header {
      margin-bottom: 12px;
      color: #fff;
    }
    &__grid {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 14px;
    }
  }
  &__partner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    max-height: 80px;
    padding: 14px;
    @include gradient-background;
    img {
      max-width: 100%;
    }
  }
  &-parts {
    margin-bottom: 80px;
    &-grid {
      display: flex;
      flex-flow: row;
      margin: 0 -7px;
    }
    &__cell {
      flex: 1 0 25%;
      max-width: 25%;
      padding: 0 7px;
      box-sizing: border-box;
    }
    &__category {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      position: relative;
      text-decoration: none;
      box-sizing: border-box;
      overflow: hidden;
      border: 1px solid transparent;
      background: #1e1e1e;
      transition: border 0.25s ease-in-out;
      &-image {
        width: 100%;
        max-height: 200px;
        transition: transform 2s cubic-bezier(0.39,0.57,0.56,1);
      }
      &-title {
        display: block;
        position: absolute;
        bottom: 20px;
        left: 20px;
        color: #f2f2f2;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
      }
      &:hover {
        border-image-slice: 1;
        border-image-source: linear-gradient(to right,  #ef7f78 0%,#e62a55 20%,#e41857 40%,#dc166e 60%,#db1875 80%,#dc3e48 100%,#df679c 100%);
        .b-gaming-parts__category-image {
          transform: scale3d(1.03, 1.03, 1);
        }
      }
    }
  }
  &-review {
    &__desc {
      margin-top: 30px;
      color: #fff;
    }
    &__date {
      display: block;
      color: #969696;
      font-size: rem(16);
      line-height: rem(20);
    }
    &__title {
      margin: 20px 0 10px;
      color: #fff;
      font-size: rem(16);
      &--large {
        font-size: rem(32);
      }
    }
    &__video {
      position: relative;
      height: 0;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      &.widescreen {
        padding-bottom: 56.25%;
      }
    }
  }
  &-section {
    margin: 40px 0;
    padding: 0 35px;
    &__title {
      margin: 0 0 40px 0;
      color: #fff;
      font-size: rem(42);
      line-height: 1;
      text-align: center;
      text-transform: uppercase;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
      animation: shine 2s forwards, flicker 3s infinite;
      
      &.text-left {
        text-align: left;
      }
    }
    &__subtitle {
      display: block;
      margin: 0 0 25px 0;
      color: #fff;
      font-size: rem(32);
      line-height: 1;
      text-align: center;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
      animation: shine 2s forwards, flicker 3s infinite;
    }
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &--light {
      padding-top: 40px;
      padding-bottom: 40px;
      background: #212121;
    }
  }
  &-slider {
    width: 100%;
    height: calc(100% - 57px);
    background: url('../img/gaming/gaming-carousel0.jpg')no-repeat top -50px center / contain;
    &__slide {
      display: block;
      height: 100%;
      
      &-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
      }
      &-title {
        display: block;
        margin: 0 auto;
        max-width: 80%;
        color: #fff;
        font-weight: 600;
        font-size: rem(18);
        line-height: rem(22);
        text-align: center;
      }
      &-image {
        width: 100%;
        transform: translate3d(0, 0, 0);
        will-change: transform;
        backface-visibility: hidden;
        animation: float 6s ease-in-out infinite;
        &-wrap {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 230px;
          height: 230px;
          margin: 10px auto 0;
        }
      }
      &-price {
        display: block;
        margin: 20px auto 25px;
        color: #fff;
        font-size: rem(32);
        line-height: 1;
        text-align: center;
      }
      &:not(:first-child) {
        display: none;
      }
      .b-gaming-carousel.slick-initialized &,
      .b-gaming-slider.slick-initialized & {
        display: flex !important;
      }
      &:focus {
        outline: none;
      }
    }
    .slick {
      &-list,
      &-track {
        height: 100%;
      }
      &-arrow {
        position: absolute;
        top: calc(50% - 70px);
        transform: translateY(-50%);
        z-index: 1;
      }
      &-prev {
        left: 0;
      }
      &-next {
        right: 0;
      }
    }
  }
  &-stream {
    &-grid {
      display: grid;
      grid-template-columns: 55% 43%;
      grid-template-rows: auto;
      grid-column-gap: 2%;
      padding-right: 75px;
      padding-left: 75px;
      &__start {}
      &__middle {
        grid-row-start: 1;
        grid-column-start: 2;
        grid-row-end: 3;
        grid-column-end: 2;
      }
      &__end {}
    }
    &-info {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      &__footer {
        display: flex;
        width: 100%;
        &-image {
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          width: 100px;
          height: 100px;
          img {
            max-width: 100%;
            max-height: 100%;
          }
        }
        &-time,
        &-place {
          display: flex;
          flex-flow: column nowrap;
          flex: 1 0 50%;
          align-items: center;
        }
      }
    }
    &__misc {
      color: #fff;
      font-size: 16px;
      font-weight: 300;
      line-height: 32px;
    }
    &__title {
      margin-top: 0;
      margin-bottom: 36px;
      color: #fff;
      font-size: 24px;
      font-weight: 600;
      line-height: 30px;
    }
  }
  &-streamer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 30px;
    text-align: center;
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 190px;
      max-height: 190px;
      margin: 0 auto 10px;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
    &__info {
      font-size: 16px;
      font-weight: 300;
      line-height: 2;
    }
    &__name {
      font-size: 24px;
      font-weight: 600;
      line-height: 1.5;
    }
  }
  &-subscribe {
    max-width: 406px;
    &-fields {
      display: flex;
      flex-flow: row nowrap;
      margin: 0;
      padding: 0;
      border: none;
    }
    &__caption {
      display: block;
      margin: 0 0 12px 0;
      color: #fff;
      font-weight: 600;
      line-height: 22/16
    }
    input.b-gaming-subscribe__input {
      flex: 1;
      max-width: 256px;
      margin-right: 14px;
      color: #fff;
      background-color: #272727;
      border: none;
      box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.5);
    }
    //input.b-gaming-subscribe__submit,
    //button.b-gaming-subscribe__submit {}
  }
  &-10years {
    position: relative;
    margin: 40px 0 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background: url('../img/gaming/gaming-10years.jpg')no-repeat center center / cover;
    &-overlay {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      //position: absolute;
      //width: 100%;
      //height: 100%;
      //top: 0;
      //left: 0;
      padding: 70px 0;
      background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.71) 0%, rgba(0, 0, 0, 0) 100%),
                  linear-gradient(0deg, rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.24));
      box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.25);
    }
    &__title {
      margin-bottom: 10px;
      color: #fff;
      font-size: rem(32);
      font-weight: 300;
      line-height: 1;
      text-align: center;
      text-transform: uppercase;
      //text-decoration: none;
    }
    &__subtitle {
      color: #fff;
      font-size: rem(14);
      line-height: rem(18);
      text-decoration: none;
      &:after {
        content: ' →';
        font-family: Arial, sans-serif;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.c-gaming4k {
  @extend .c-gaming;
  color: #fff;
  font-weight: 300;
}
.b-gaming4k {
  &-banner { 
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    flex: 1;
    padding: 50px 35px 35px 35px;
    background-color: #131313;
    background-size: cover;
    background-position: right bottom;
    background-repeat: no-repeat;
    &__header {
      flex-shrink: 0;
      margin-bottom: 30px;
    }
    &__body {
      flex: 1 1 auto;
      max-width: 470px;
      margin: 0 0 70px 0;
      color: #fff;
      font-size: rem(16);
      line-height: 1.4;
    }
    &__footer {
      flex-shrink: 0;
    }

    &__title {
      margin: 0 0 30px 0;
      color: #fff;
      font-size: rem(32);
      font-weight: normal;
      line-height: rem(36);
    }
    &__logo {
      display: flex;
      flex-flow: row wrap;
      img {
        max-height: 38px;
        + img {
          margin-left: 14px;
        }
      }
    }
  }
  &-divider {
    height: 15px;
  }
  &-section {
    //margin-bottom: 30px;
    padding: 50px 35px;
    &:last-child {
      margin-bottom: 0;
    }
    &__title {
      margin: 0 0 20px 0;
      color: #fff;
      font-size: rem(32);
      font-size: rem(36);
      text-align: center;
      text-transform: uppercase;
    }
  }
  &-grid {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -7px;
    $columns-count: 12;
    $columns-gap: 14px;
    &.align-center {
      justify-content: center;
    }
    &.align-left {
      justify-content: flex-start;
    }
    &.align-right {
      justify-content: flex-end;
    }
    &__cell {
      display: flex;
      flex-direction: column;
      flex: 0 0 auto;
      width: 100%;
      padding: 0 $columns-gap/2;
      box-sizing: border-box;
      &.lg-1-of-5 {
        width: 20%;
      }
      @for $i from 1 through $columns-count {
        &.lg-#{$i} {
          width: 100% / ($columns-count / $i);
        }
      }
      @include w768 {
        &.md-1-of-5 {
          width: 20%;
        }
        @for $i from 1 through 12 {
          &.md-#{$i} {
            width: 100% / ($columns-count / $i);
          }
        }
      }
      @include w480 {
        &.sm-1-of-5 {
          width: 20%;
        }
        @for $i from 1 through 12 {
          &.sm-#{$i} {
            width: 100% / ($columns-count / $i);
          }
        }
      }
    }
  }
  &-product {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 100%;
    &__body {
      display: flex;
      flex-flow: column nowrap;
      flex: 1 1 auto;
      width: 100%;
    }
    &__footer {
      flex-shrink: 0;
    }
    &__title {
      color: #fff;
      font-weight: 600;
      font-size: 26px;
      line-height: 36px;
      text-align: center;
      text-transform: uppercase;
    }
    &__image {
      display: block;
      position: absolute;
      max-width: 100%;
      max-height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      &-wrapper {
        position: relative;
        width: 100%;
        height: 0;
        margin-bottom: 20px;
        padding-bottom: 100%;
        &.four-by-three {
          padding-bottom: 75%;
        }
      }
    }
    &__price {
      margin-bottom: 16px;
      color: #9A9A9A;
      font-weight: 600;
      font-size: rem(16);
      line-height: rem(22);
      text-align: center;
    }
    &__desc {
      max-width: 80%;
      min-height: 3em;
      margin: 0 auto 16px;
      color: #fff;
      font-weight: 300;
      font-size: rem(16);
      line-height: rem(22);
      text-align: center;
    }
  }
  &__block {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin-bottom: 45px; 
    color: #fff;
    &-body {
      flex: 1;
    }
    &-footer {
      margin-top: 20px;
    }
    &-heading {
      margin: 0 0 10px 0;
      color: #77B900;
      font-weight: 600;
      font-size: rem(26);
      line-height: rem(30);
      text-transform: uppercase;
      &--large {
        margin: 0 0 14px 0;
        font-size: rem(42);
        font-weight: 700;
        line-height: rem(36);
      }
    }
    &-subheading {
      margin: 0 0 10px 0;
      color: #fff;
      font-weight: 600;
      font-size: rem(16);
      line-height: rem(20);
      text-transform: uppercase;
      &--large {
        font-size: rem(22);
        font-weight: 400;
        line-height: rem(22);
      }
    }
    &-image {
      display: block;
      position: absolute;
      max-width: 100%;
      max-height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      &-wrapper {
        position: relative;
        width: 100%;
        height: 0;
        margin-bottom: 20px;
        padding-bottom: 42.85%; // 21/9 ratio
      }
    }
    p {
      margin-top: 0;
      line-height: 1.4;
    }
  }
  &__video {
    position: relative;
    height: 0;
    margin-bottom: 1rem;
    padding-bottom: 56.25%;
    overflow: hidden;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    &-poster {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    &-trigger {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      &:hover {
        cursor: pointer
      }
    }
  }
}
.b-subcategory-slider {
  .slick-arrow {
    font-size: 0;
    &:before {
      font-size: 1rem;
    }
  }
  .slick-dots {
    left: 50%;
    bottom: 3em;
  }
}
.b-news-slider--gaming {
  .b-news-slider__header {
    flex-wrap: wrap;
  }
  .b-news-slider__title {
    color: #fff;
  }
  .b-news-slider__slide {
    &:focus{
      outline: none;
    }
  }
  .b-news-slider__slide-wrap {
    @include gradient-background;
    border: 1px solid transparent;
    transition: border 0.25s ease-in-out;
    &:hover {
      border-image-slice: 1;
      border-image-source: linear-gradient(to right,  #ef7f78 0%,#e62a55 20%,#e41857 40%,#dc166e 60%,#db1875 80%,#dc3e48 100%,#df679c 100%);
      .b-gaming-category__image {
        transform: translate(-50%, -50%) scale3d(1.05, 1.05, 1);
      }
    }
  }
  .b-news-slider__caption,
  .b-news-slider__date {
    color: #fff;
  }
  .b-news-slider__more {
    @extend .button-gaming;
  }
}
@media screen and (min-width: 768px) {
  .b-gaming4k {
    &-grid {
      &__cell {
        &:nth-last-child(2),
        &:last-child {
          .b-gaming4k__block {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
@include w1024 {
  .b-gaming {
    &-hero {
      padding: 15px;
    }
    &-stream-grid {
      padding-right: 0;
      padding-left: 0;
    }
  }
  .b-gaming4k {
    &-banner {
      padding: 10px 15px;
      background-size: 100% auto;
      background-position: right center;
      &__header,
      &__body {
        margin-bottom: 15px;
      }
    }
    &-section {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    &__block {
      &-footer {
        margin-top: 20px;
      }
    }
  }
}
@include w768 {
  .c-gaming {
    &-reviews {
      padding: 14px;
    }
  }
  .b-gaming {
    &-banner {
      padding: 30px 0 30px 35px;
      background-size: auto;
    }
    &-category {
      &__title {
        max-width: 100%;
      }
    }
    &-contest {
      &__prize {
        &-desc {
          flex: 1 1 auto;
          line-height: 1.4;
        }
        &-image {
          max-width: 322px;
          max-height: 322px;
        }
      }
      &__require {
        max-width: 300px;
      }
    }
    &-partners {
      &__grid {
        grid-template-columns: repeat(6, minmax(100px, 1fr));
      }
    }
    &-review {
      &__title {
        margin: 15px 0 10px;
        &--large {
          font-size: rem(30);
        }
      }
    }
    &-section {
      padding: 0 14px;
      &--light {
        padding-top: 40px;
        padding-bottom: 40px;
      }
    }
    &-stream-grid {
      grid-template-columns: 49% 49%;
      padding-right: 0;
      padding-left: 0;
    }
  }
  .b-gaming4k {
    &-banner {
      padding: 10px 15px;
      background-size: 100% auto;
      background-position: right bottom;
    }
    &-section {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
  
}
@media screen and (max-width: 500px){
  .c-gaming {
    .slick-prev, .slick-next { 
      display: block !important;
    }
  }
}
@include w480 {
  .c-gaming {
    &-categories {
      &-left {
        flex: 1 0 100%;
        margin-right: 0;
        max-width: 100%;
      }
      &-right {
        display: none;
      }
    }
    &-category__cell {
      flex: 1 0 100%;
      max-width: 100%;
      margin-right: 0;
      &:nth-last-child(2) {
        margin-bottom: 14px;
      }
    }
    &-pc {
      margin: 0;
      &__cell {
        flex: 1 0 100%;
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
      }
    }
    &-reviews {
      padding: 14px;
      &-grid {
        grid-template-columns: 1fr;
      }
    }
  }
  .b-gaming {
    &-advantages {
      flex-flow: column nowrap;
    }
    &-advantage {
      margin: 0;
      &__cell {
        flex: 1 0 100%;
        max-width: 100%;
        margin: 0 0 14px 0;
      }
    }
    &-banner {
      background-size: auto 250px;
      background-position: left -150px bottom 110px;
      padding: 14px;
      &__logo {
        max-width: 148px;
        margin-bottom: 20px;
      }
      &__title {
        margin-bottom: 16px;
      }
      &__content {
        margin-bottom: 250px;
      }
    }
    &-contest {
      &__prize{
        flex-direction: column;
        align-items: center;
        padding-right: 12px;
        padding-left: 12px;
        &-image {
          justify-content: center;
          margin: 0 auto;
        }
      }
      &__require {
        padding-right: 32px;
        padding-left: 32px;
      }
    }
    &__cta {
      display: block;
      max-width: 100%;
      margin: 0 auto 40px;
      &-image {
        display: none;
      }
      &-image-sm {
        display: block;
      }
    }
    &-hero {
      padding: 25px 15px;
      &-grid {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
        "first"
        "second"
        "third";
      }
    }
    &-partners {
      &__grid {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 8px;
      }
    }
    &-parts {
      &-grid {
        flex-wrap: wrap;
        margin: 0 -3px;
      }
      &__cell {
        flex: 1 0 50%;
        max-width: 50%;
        margin-bottom: 20px;
        padding: 0 3px;
      }
      &__category {
        &-title {
          display: block;
          position: static;
          margin-top: 3px;
          text-align: center;
        }
      }
    }
    &-review {
      &__desc {
        margin-top: 20px;
      }
      &__title {
        margin: 10px 0;
        &--large {
          font-size: rem(26);
        }
      }
    }
    &-section {
      margin: 14px 0;
      padding: 0 14px;
      &__title {
        font-size: rem(38);
      }
      &:first-child {
        margin-top: 0
      }
      &:last-child {
        margin-bottom: 0
      }
      &--light {
        padding: 24px 0;
      }
    }
    &-stream-grid {
      grid-template-columns: 100%;
      grid-template-rows: auto;
      grid-column-gap: 0;
      grid-row-gap: 14px;
      padding-right: 0;
      padding-left: 0;
      &__middle {
        grid-row-start: 2;
        grid-column-start: unset;
        grid-row-end: 3;
        grid-column-end: unset;
      }
    }
    &-10years {
      margin-right: -14px;
      margin-left: -14px;
      &-overlay {
        padding: 40px 0;
      }
    }
  }
  .b-gaming4k {
    &-banner {
      background-size: 160% auto;
      padding-bottom: 250px;
      &__header {
        margin-bottom: 20px;
      }
      &__body {
        margin-bottom: 20px;
      }
      &__title {
        font-size: rem(24);
        line-height: 1.17;
      }
    }
    &-section {
      padding-top: 25px;
      padding-bottom: 25px;
      &__title {
        font-size: rem(24);
        line-height: 1.17;
      }
    }
    &-product {
      margin-bottom: 40px;
    }
    &__block {
      margin-bottom: 20px;
      
    }
  }
}


// Модный скрипт


// 20/20 Class Prefix
$pluginPrefix: "twentytwenty" !default;

// 20/20 Handle Styles
$twenty20-handle-color: #E01761 !default;
$twenty20-handle-stroke: 2px !default;
$twenty20-handle-circle-width: 52px !default;
$twenty20-handle-box-shadow: none !default;
$twenty20-handle-background: #E01761 !default;
$twenty20-handle-triangle-color: #fff !default;
$twenty20-handle-triangle-size: 8px !default;
$twenty20-handle-triangle-position: 4px !default;
$twenty20-handle-radius: 1000px !default;

// 20/20 Overlay Styles
$twenty20-overlay-bg: rgba(#000,0.5) !default;
$twenty20-overlay-label-color: #fff !default;
$twenty20-overlay-label-bg: rgba(#fff, .2) !default;
$twenty20-overlay-label-height: 38px !default;
$twenty20-overlay-label-width: 90px !default;
$twenty20-overlay-label-padding: 20px !default;
$twenty20-overlay-label-font-size: 13px !default;
$twenty20-overlay-label-letter-spacing: 0.1em !default;
$twenty20-label-radius: 2px !default;

// 20/20 Placeholders
@mixin handle-content {
  content: " ";
  display: block;
  background: $twenty20-handle-color;
  position: absolute;
  z-index: 30;
  // @include box-shadow($twenty20-handle-box-shadow);
}

@mixin handle-position-horizontal {
  width: $twenty20-handle-stroke;
  height: 9999px;
  left: 50%;
  margin-left: -($twenty20-handle-stroke / 2);
}

@mixin handle-position-vertical {
  width: 9999px;
  height: $twenty20-handle-stroke;
  top: 50%;
  margin-top: -($twenty20-handle-stroke / 2);
}

@mixin absolute-wh-position {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

@mixin overlay-transition-duration {
  transition-duration: 0.5s;
}

@mixin label-transition-property {
  transition-property: opacity;
}

@mixin label-text {
  color: $twenty20-overlay-label-color;
  font-size: $twenty20-overlay-label-font-size;
  letter-spacing: $twenty20-overlay-label-letter-spacing;
}

@mixin label-structure {
  position: absolute;
  background: $twenty20-overlay-label-bg;
  line-height: $twenty20-overlay-label-height;
  padding: 0 $twenty20-overlay-label-padding;
  border-radius: $twenty20-label-radius;
}

@mixin label-position-horizontal {
  bottom: 0;
}

@mixin label-position-vertical {
  left: 50%;
  margin-left: -($twenty20-overlay-label-width / 2);
  text-align: center;
  width: $twenty20-overlay-label-width;
}

@mixin css-triangle {
  width: 0;
  height: 0;
  //border: $twenty20-handle-triangle-size solid transparent;
  position: absolute;
}

@mixin css-triangle-horizontal {
  @include css-triangle;
  top: 50%;
  margin-top: -$twenty20-handle-triangle-size;
  border-top: $twenty20-handle-triangle-size solid transparent;
  border-bottom: $twenty20-handle-triangle-size solid transparent;
}

@mixin css-triangle-vertical {
  @include css-triangle;
  left: 50%;
  margin-left: -$twenty20-handle-triangle-size;
}

// 20/20 Container
.#{$pluginPrefix}-container {
  box-sizing: content-box;
  z-index: 0;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;

  img {
    max-width: 100%;
    position: absolute;
    top: 0;
    display: block;
  }

  //&.active .#{$pluginPrefix}-overlay,
  //&.active :hover.#{$pluginPrefix}-overlay { background: rgba(#000,0);
  //  .#{$pluginPrefix}-before-label,
  //  .#{$pluginPrefix}-after-label { opacity: 0; }
  //}
  * {
    box-sizing: content-box;
  }
}

// 20/20 Before Label
.#{$pluginPrefix}-before-label {
  position: absolute;
  left: 0;
  bottom: 0;
  &:before {
    position: absolute;
    content: '';
    width: 66px;
    height: 38px;
    left: 0;
    bottom: 0;
    background: url('../img/gaming/4k/rtx-logo-off.png')no-repeat center center / contain;
  }
}

// 20/20 After Label
.#{$pluginPrefix}-after-label {
  position: absolute;
  right: 0;
  bottom: 0;
  &:before {
    position: absolute;
    content: '';
    width: 66px;
    height: 38px;
    right: 0;
    bottom: 0;
    background: url('../img/gaming/4k/rtx-logo-on.png')no-repeat center center / contain;
  }
}

// 20/20 Horizontal Labels
.#{$pluginPrefix}-horizontal .#{$pluginPrefix}-before-label {
  &:before {
    @include label-position-horizontal;
    left: 0;
  }
}

.#{$pluginPrefix}-horizontal .#{$pluginPrefix}-after-label {

  &:before {
    @include label-position-horizontal;
    right: 0;
  }
}

// 20/20 Vertical Labels
.#{$pluginPrefix}-vertical .#{$pluginPrefix}-before-label {

  &:before {
    @include label-position-vertical;
    top: 10px;
  }
}

.#{$pluginPrefix}-vertical .#{$pluginPrefix}-after-label {

  &:before {
    @include label-position-vertical;
    bottom: 10px;
  }
}

// 20/20 Overlay
.#{$pluginPrefix}-overlay {
  @include absolute-wh-position;
  @include overlay-transition-duration;
  transition-property: background;
  background: rgba(#000,0);
  z-index: 25;
}

.#{$pluginPrefix}-before { z-index: 20; }
.#{$pluginPrefix}-after { z-index: 10; }

// 20/20 Handle Styles
.#{$pluginPrefix}-handle {
  height: $twenty20-handle-circle-width;
  width: $twenty20-handle-circle-width;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -($twenty20-handle-circle-width/2) - $twenty20-handle-stroke;
  margin-top: -($twenty20-handle-circle-width/2) - $twenty20-handle-stroke;
  border: $twenty20-handle-stroke solid $twenty20-handle-color;
  border-radius: $twenty20-handle-radius;
  background: $twenty20-handle-background;
  z-index: 40;
  cursor: pointer;
}

// 20/20 Horizontal Handle Styles
.#{$pluginPrefix}-horizontal .#{$pluginPrefix}-handle {

  &:before {
    @include handle-content;
    @include handle-position-horizontal;
    bottom: 50%;
    margin-bottom: ($twenty20-handle-circle-width/2) + $twenty20-handle-stroke;
    box-shadow: 0 $twenty20-handle-stroke 0 $twenty20-handle-color, $twenty20-handle-box-shadow;
  }

  &:after {
    @include handle-content;
    @include handle-position-horizontal;
    top: 50%;
    margin-top: ($twenty20-handle-circle-width/2) + $twenty20-handle-stroke;
    box-shadow: 0 (-$twenty20-handle-stroke) 0 $twenty20-handle-color, $twenty20-handle-box-shadow;
  }
}

// 20/20 Vertical Handle Styles
.#{$pluginPrefix}-vertical .#{$pluginPrefix}-handle {

  &:before {
    @include handle-content;
    @include handle-position-vertical;
    left: 50%;
    margin-left: ($twenty20-handle-circle-width/2) + $twenty20-handle-stroke;
    box-shadow: $twenty20-handle-stroke 0 0 $twenty20-handle-color, $twenty20-handle-box-shadow;
  }

  &:after {
    @include handle-content;
    @include handle-position-vertical;
    right: 50%;
    margin-right: ($twenty20-handle-circle-width/2) + $twenty20-handle-stroke;
    box-shadow: (-$twenty20-handle-stroke) 0 0 $twenty20-handle-color, $twenty20-handle-box-shadow;
  }
}

// 20/20 Left Handle
.#{$pluginPrefix}-left-arrow {
  border-right: $twenty20-handle-triangle-size solid $twenty20-handle-triangle-color;
  left: 50%;
  margin-left: -($twenty20-handle-triangle-size * 2);
  @include css-triangle-horizontal;
}

// 20/20 Right Handle
.#{$pluginPrefix}-right-arrow {
  border-left: $twenty20-handle-triangle-size solid $twenty20-handle-triangle-color;
  right: 50%;
  margin-right: -($twenty20-handle-triangle-size * 2);
  @include css-triangle-horizontal;
}

// 20/20 Up Handle
.#{$pluginPrefix}-up-arrow {
  border-bottom: $twenty20-handle-triangle-size solid $twenty20-handle-triangle-color;
  top: 50%;
  margin-top: -($twenty20-handle-triangle-size * 2) + $twenty20-handle-triangle-position;
  @include css-triangle-vertical;
}

// 20/20 Down Handle
.#{$pluginPrefix}-down-arrow {
  border-top: $twenty20-handle-triangle-size solid $twenty20-handle-triangle-color;
  bottom: 50%;
  margin-bottom: -($twenty20-handle-triangle-size * 2) + $twenty20-handle-triangle-position;
  @include css-triangle-vertical;
}


/** 
* GAMING END
*/