mixin details-item()
	.b-details-item.iblock&attributes(attributes)
		.b-details-item__header
			.b-details-item__title <nobr>ООО &laquo;Минус вектор&raquo;</nobr>

		.b-details-item__main
			.b-details-item__static-state.b-details-item__static-state_active
				ul.b-details-item__static-fields
					li.b-details-item__static-field
						span.b-details-item__field-label Название организации:
						span.b-details-item__field-content.b-details-item__field-content_company-name <nobr>ООО &laquo;Минус вектор&raquo;</nobr>

					li.b-details-item__static-field
						span.b-details-item__field-label Юридический адрес:
						span.b-details-item__field-content.b-details-item__field-content_company-legal-address Москва, улица Нижняя Масловка, дом 23, квартира 47

					li.b-details-item__static-field
						span.b-details-item__field-label Фактический адрес:
						span.b-details-item__field-content.b-details-item__field-content_company-real-address Москва, улица Нижняя Масловка, дом 23, квартира 47

					li.b-details-item__static-field
						span.b-details-item__field-label Телефон:
						span.b-details-item__field-content.b-details-item__field-content_company-phone +7 (495) 145 21 01

					li.b-details-item__static-field
						span.b-details-item__field-label ИНН:
						span.b-details-item__field-content.b-details-item__field-content_inn 08980707096900600

					li.b-details-item__static-field
						span.b-details-item__field-label КПП:
						span.b-details-item__field-content.b-details-item__field-content_kpp 5555757975111122

					li.b-details-item__static-field
						span.b-details-item__field-label Наименование банка:
						span.b-details-item__field-content.b-details-item__field-content_bank <nobr>ОАО &laquo;Сбербанк России&raquo;</nobr>

					li.b-details-item__static-field
						span.b-details-item__field-label <nobr>Р/С</nobr>:
						span.b-details-item__field-content.b-details-item__field-content_rs 00006764

					li.b-details-item__static-field
						span.b-details-item__field-label <nobr>К/С</nobr>:
						span.b-details-item__field-content.b-details-item__field-content_ks <nobr>ОАО &laquo;Сбербанк России&raquo;</nobr>

					li.b-details-item__static-field
						span.b-details-item__field-label БИК:
						span.b-details-item__field-content.b-details-item__field-content_bic 00006764

			.b-details-item__edit-state
				+details-form()

		.b-details-item__footer
			.b-details-item__ui
				.b-details-item__ui-left
					a.b-details-item__recognize.b-details-item__recognize_active.button-gray(href="#") Вставить данные одним текстом
					a.b-details-item__manual.button-gray(href="#") Ввести вручную
					a.b-details-item__upload.button-gray(href="#") Загрузить документ

				.b-details-item__ui-remove
					a.b-details-item__remove-btn.button-gray(href="#") Удалить
				.b-details-item__ui-edit.b-details-item__ui-edit_active
					a.b-details-item__edit-btn.button-gray(href="#") Редактировать
				.b-details-item__ui-save
					a.b-details-item__save-btn.button(href="#") Сохранить
