mixin gray-remark(data)
  .b-gray-remark.iblock&attributes(attributes)
    if data.caption !== undefined
      .b-gray-remark__caption!= data.caption
    if data.text !== undefined
      .b-gray-remark__content!= data.text
