mixin catalog-list()
	.b-catalog-list.iblock&attributes(attributes)
		.b-catalog-list__items
			.b-catalog-list__item
				+list-product()
			.b-catalog-list__item
				+list-product()
			.b-catalog-list__item
				+list-product()
			.b-catalog-list__item
				+list-product()
			.b-catalog-list__item
				+list-product()
			.b-catalog-list__item
				+list-product()
			.b-catalog-list__item
				+list-product()
			.b-catalog-list__item
				+list-product()
			.b-catalog-list__item
				+list-product()

mixin catalog-list_pure()
	.b-catalog-list.iblock&attributes(attributes)
		.b-catalog-list__items
			.b-catalog-list__item
				+list-product()
			.b-catalog-list__item
				+list-product()
			.b-catalog-list__item
				+list-product()
