mixin social-btns()
  // Начало блока: Соц.сети
  .social-btns.iblock&attributes(attributes)
    ul.social-btns__list
      li.social-btns__item
        a.social-btns__btn(href="#")
          span.fb
      li.social-btns__item
        a.social-btns__btn(href="#")
          span.tw
      li.social-btns__item
        a.social-btns__btn(href="#")
          span.inst
      li.social-btns__item
        a.social-btns__btn(href="#")
          span.vk
  // Конец блока: Соц.сети

mixin social-btns_aside()
  // Начало блока: Соц.сети
  .social-btns.iblock&attributes(attributes)
    .social-btns__title Поделиться в&nbsp;соц. сетях

    ul.social-btns__list
      li.social-btns__item
        a.social-btns__btn(href="#")
          span.fb
      li.social-btns__item
        a.social-btns__btn(href="#")
          span.tw
      li.social-btns__item
        a.social-btns__btn(href="#")
          span.inst
      li.social-btns__item
        a.social-btns__btn(href="#")
          span.vk
  // Конец блока: Соц.сети

mixin social-btns_brand()
  // Начало блока: Соц.сети
  .social-btns.iblock&attributes(attributes)
    .social-btns__title.social-btns__title_brand Поделиться:

    ul.social-btns__list
      li.social-btns__item
        a.social-btns__btn(href="#")
          span.fb
      li.social-btns__item
        a.social-btns__btn(href="#")
          span.tw
      li.social-btns__item
        a.social-btns__btn(href="#")
          span.inst
      li.social-btns__item
        a.social-btns__btn(href="#")
          span.vk
  // Конец блока: Соц.сети

mixin social-share()
  // Начало блока: Соц.сети
  .social-btns.iblock&attributes(attributes)
    ul.social-btns__list.social-btns__list--vertical
      li.social-btns__item
        a.social-btns__btn(href="#")
          span.fb Facebook
      li.social-btns__item
        a.social-btns__btn(href="#")
          span.tw Twitter
      li.social-btns__item
        a.social-btns__btn(href="#")
          span.vk Вконтакте