mixin product-small()
	.b-product-small.iblock&attributes(attributes)
		.b-product-small__main-wrap
			.b-product-small__header
				.b-product-small__cols
					.b-product-small__left-col
						+rating()
					.b-product-small__right-col
						.b-product-small__art Арт. 34534345

			.b-product-small__main-content
				.b-product-small__cols
					.b-product-small__left-col
						.b-product-small__image-holder
							a(href="#")
								img.b-product-small__image(src="assets/img/content/cat5.jpg", alt="Товар" width=170 height=170)

					.b-product-small__right-col
						.b-product-small__description
							a.b-product-small__title(href="#") Моноблок Apple iMac MK442RU / A i5 2.8GHz / 8G / 1Tb

						.b-product-small__price-holder
							.b-product-small__current-price 99&nbsp;280 <span class="rub">i</span>
							.b-product-small__bonus +233 бонуса

mixin product-small_hovered()
	.b-product-small.iblock&attributes(attributes)
		.b-product-small__main-wrap
			.b-product-small__header
				.b-product-small__cols
					.b-product-small__left-col
						+rating()
					.b-product-small__right-col
						.b-product-small__art Арт. 34534345

			.b-product-small__main-content
				.b-product-small__cols
					.b-product-small__left-col
						.b-product-small__image-holder
							a(href="#")
								img.b-product-small__image(src="assets/img/content/cat5.jpg", alt="Товар" width=170 height=170)

					.b-product-small__right-col
						.b-product-small__description
							a.b-product-small__title(href="#") Моноблок Apple iMac MK442RU / A i5 2.8GHz / 8G / 1Tb

						.b-product-small__price-holder
							.b-product-small__current-price 99&nbsp;280 <span class="rub">i</span>
							.b-product-small__bonus +233 бонуса

			.b-product-small__hover-content
				.b-product-small__hover-top
					.b-product-small__hover-price 99&nbsp;280 <span class="rub">i</span>
					a.b-product-small__add-btn.button(href="#") +&nbsp;Добавить
					a.b-product-small__favor(href="#")
					a.b-product-small__compare(href="#")

				.b-product-small__hover-bottom
					.b-product-small__total-remark Итого с&nbsp;этим товаром:
					.b-product-small__total-price 200&nbsp;436 <span class="rub">i</span>

mixin product-small_buttons()
	.b-product-small.iblock&attributes(attributes)
		.b-product-small__main-wrap
			.b-product-small__header
				.b-product-small__cols
					.b-product-small__left-col
						+rating()
					.b-product-small__right-col
						.b-product-small__art Арт. 34534345

			.b-product-small__main-content
				.b-product-small__cols
					.b-product-small__left-col
						.b-product-small__image-holder
							a(href="#")
								img.b-product-small__image(src="assets/img/content/cat5.jpg", alt="Товар" width=170 height=170)

					.b-product-small__right-col
						.b-product-small__description
							a.b-product-small__title(href="#") Моноблок Apple iMac MK442RU / A i5 2.8GHz / 8G / 1Tb

						.b-product-small__price-holder
							.b-product-small__current-price 99&nbsp;280 <span class="rub">i</span>
							.b-product-small__bonus +233 бонуса

			.b-product-small__footer
				.b-product-small__cols
					.b-product-small__left-col
						span.b-product-small__avail <span>В&nbsp;наличии</span>

					.b-product-small__right-col
						a.b-product-small__buy-btn.button-buy(href="#") Купить
						.b-product-small__additional-btns
							a.b-product-small__favor(href="#")
							a.b-product-small__compare(href="#")

mixin product-small_news()
	.b-product-small.iblock&attributes(attributes)
		.b-product-small__main-wrap
			.b-product-small__header
				.b-product-small__cols
					.b-product-small__left-col
						+rating()
					.b-product-small__right-col
						.b-product-small__art Арт. 34534345

			.b-product-small__main-content
				.b-product-small__cols
					.b-product-small__left-col
						.b-product-small__image-holder
							a(href="#")
								img.b-product-small__image(src="assets/img/content/cat5.jpg", alt="Товар" width=170 height=170)

					.b-product-small__right-col
						.b-product-small__description
							a.b-product-small__title(href="#") Моноблок Apple iMac MK442RU / A i5 2.8GHz / 8G / 1Tb

						.b-product-small__price-holder
							.b-product-small__current-price 99&nbsp;280 <span class="rub">i</span>
							.b-product-small__bonus +233 бонуса

			.b-product-small__hover-content
				.b-product-small__hover-top._news
					a.b-product-small__buy-btn.button-buy(href="#") Купить
					a.b-product-small__favor(href="#")
					a.b-product-small__compare(href="#")

				.b-product-small__hover-bottom
					.b-product-small__hover-price._news 99&nbsp;280 <span class="rub">i</span>

					.b-product-small__hover-old-price 120&nbsp;208 <span class="rub">i</span>
