.b-shops-list {
  padding-left: 10px;
  padding-right: 10px;

  &__town-holder {
    @include margin(5/20);

    + .b-shops-list__section {
      border-top: none;
    }
  }

  &__section {
    padding-top: 10px;
    padding-bottom: 15px;
    border-top: 1px solid #f1f1f1;
  }

  &__section-name {
    @include margin(10/20);
    font-size: 24/16*100%;
    font-weight: 200;
  }

  &__section-sub {
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 14/16*100%;
    color: #969696;
  }

  &__group {
    @include margin(20/20);
  }

  &__group-name {
    @include margin(5/20);
    font-size: 18/16*100%;
    font-weight: 600;
  }

  &__items {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin: 0;
  }

  &__shop {
    padding: 10px;
    margin-left: -10px;
    margin-right: -10px;
    transition: .2s background-color;
    cursor: pointer;

    &:hover, &._active {
      background-color: #f1f1f1;
    }
  }

  &__shop-title {
    font-size: 14/16*100%;
  }

  &__shop-address {
    font-size: 13/16*100%;
    font-weight: 200;
    color: #969696;
  }

  &__shop-phone {
    display: none;
  }

  &__shop-hours {
    display: none;
  }

  &__metro {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: .35em;
    background-color: #ffcb31;
    text-align: center;
    color: white;

    &:before {
      @include ft-icon($ft-metro);
      font-size: 10px;
      line-height: 20px;
      width: 1.2em;
    }
  }

  &__qiwi-btn {
    font-size: 14/16*100%;
    margin-right: .5em;
  }

  &__qiwi-more {
    font-size: 14/16*100%;
  }
}
