.b-shops-list {
  /* CONTACTS LIST*/
  max-height: 100%;
  margin-left: -10px;
  padding-left: 10px;
  padding-right: 0;
  overflow: auto;
  /* endof CONTACTS LIST*/
  &__town-holder {
    @include margin(5/20);

    + .b-shops-list__section {
      border-top: none;
    }
  }

  &__section {
    padding-top: 10px;
    padding-bottom: 15px;
    border-top: 1px solid #f1f1f1;
    &:first-child {
      border-top: none;
    }
  }

  &__section-name {
    @include margin(10/20);
    font-size: 24/16*100%;
    font-weight: 200;
  }

  &__section-sub {
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 14/16*100%;
    color: #969696;
  }

  &__group {
    @include margin(20/20);
  }

  &__group-name {
    @include margin(5/20);
    font-size: rem(18);
    font-weight: normal;
  }

  &__items {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin: 0;
  }
  
  /* CONTACTS LIST*/
  &__group-content {
    margin-left: -10px;
  }
  &__shop {
    padding: 5px 10px;
    margin-left: 0; //-10px;
    margin-right: 10px; //-10px;
    transition: .2s background-color;
    cursor: pointer;
    &:hover, &._active {
      background-color: #f1f1f1;
    }
  }
  &__shop-title {
    position: relative;
    padding-left: 20px;
    font-size: rem(16);
  }
  &__shop-address {
    padding-left: 20px;
    font-size: rem(15);
    font-weight: 300;
    color: #9a9a9a;
  }
  &__shop-metro {
    display: inline-block;
    position: relative;
    margin-right: 0.33em;
    padding-left: 20px;
    font-size: rem(16);
    font-weight: 300;
    &-dot {
      display: block;
      position: absolute;
      top: 6px;
      left: 0;
      width: 10px;
      height: 10px;
      margin-right: 0;
      background-color: #ffcb31;
      text-align: center;
      color: white;
      border-radius: 50%;
    }
    &:after {
      content: ', ';
    }
  }
  &__shop-pickup-time {
    display: inline-block;
    margin-right: 0.33em;
    font-weight: 300;
    b, strong {
      font-weight: 600;
    }
  }
  &__shop-pickup-price {
    display: inline-block;
    color: #9a9a9a;
  }
  /* endof CONTACTS LIST*/

  &__shop-phone {
    display: none;
  }

  &__shop-hours {
    display: none;
  }

  &__metro {
    display: block;
    position: absolute;
    top: 6px;
    left: 0;
    width: 10px;
    height: 10px;
    margin-right: 0;
    background-color: #ffcb31;
    text-align: center;
    color: white;
    border-radius: 50%;

    &:before {
      display: none;
      //@include ft-icon($ft-metro);
      //font-size: 10px;
      //line-height: 20px;
      //width: 1.2em;
    }
  }
  /* endof CONTACTS LIST*/
  &__qiwi-btn {
    font-size: 14/16*100%;
    margin-right: .5em;
  }

  &__qiwi-more {
    font-size: 14/16*100%;
  }
}
