mixin bus-timetable()
  .b-bus-timetable.iblock&attributes(attributes)
    .b-bus-timetable__top-section
      .b-bus-timetable__image-holder
        img.b-bus-timetable__image(src="assets/img/content/bus-timing.jpg", alt="Автобус" width=130 height=66)

      .b-bus-timetable__text-holder.content-area
        p Воспользуйтесь бесплатным маршрутным такси, которое отвезет вас от&nbsp;метро прямо к&nbsp;магазину ОГО!

    .b-bus-timetable__main-section
      ul.b-bus-timetable__table
        li.b-bus-timetable__row
          .b-bus-timetable__left-col.b-bus-timetable__left-col_header От <span class="metro-icon">м</span>&nbsp;Площадь Ильича
          .b-bus-timetable__right-col.b-bus-timetable__left-col_header От&nbsp;магазина ОГО!

        li.b-bus-timetable__row
          .b-bus-timetable__left-col 10:30
          .b-bus-timetable__right-col 10:45

        li.b-bus-timetable__row
          .b-bus-timetable__left-col 11:00
          .b-bus-timetable__right-col 11:15

        li.b-bus-timetable__row
          .b-bus-timetable__left-col 11:30
          .b-bus-timetable__right-col 11:45

        li.b-bus-timetable__row
          .b-bus-timetable__left-col 12:00
          .b-bus-timetable__right-col 12:15

        li.b-bus-timetable__row
          .b-bus-timetable__left-col 12:30
          .b-bus-timetable__right-col 12:45

        li.b-bus-timetable__row
          .b-bus-timetable__left-col 13:00
          .b-bus-timetable__right-col 13:45

        li.b-bus-timetable__row
          .b-bus-timetable__left-col 14:00
          .b-bus-timetable__right-col 14:15

        li.b-bus-timetable__row
          .b-bus-timetable__left-col 14:30
          .b-bus-timetable__right-col 14:45

        li.b-bus-timetable__row
          .b-bus-timetable__left-col 15:00
          .b-bus-timetable__right-col 15:15

        li.b-bus-timetable__row
          .b-bus-timetable__left-col 15:30
          .b-bus-timetable__right-col 15:45

        li.b-bus-timetable__row
          .b-bus-timetable__left-col 16:00
          .b-bus-timetable__right-col 16:15

        li.b-bus-timetable__row
          .b-bus-timetable__left-col 16:30
          .b-bus-timetable__right-col 16:45

        li.b-bus-timetable__row
          .b-bus-timetable__left-col 17:00
          .b-bus-timetable__right-col 17:15

        li.b-bus-timetable__row
          .b-bus-timetable__left-col 17:30
          .b-bus-timetable__right-col 17:45

        li.b-bus-timetable__row
          .b-bus-timetable__left-col 18:00
          .b-bus-timetable__right-col 18:45

        li.b-bus-timetable__row
          .b-bus-timetable__left-col 19:00
          .b-bus-timetable__right-col 19:15

        li.b-bus-timetable__row
          .b-bus-timetable__left-col 19:30
          .b-bus-timetable__right-col 19:45

        li.b-bus-timetable__row
          .b-bus-timetable__left-col 20:00
          .b-bus-timetable__right-col 20:15

        li.b-bus-timetable__row
          .b-bus-timetable__left-col 20:30
          .b-bus-timetable__right-col 20:45

        li.b-bus-timetable__row
          .b-bus-timetable__left-col 21:00
          .b-bus-timetable__right-col 21:15

        li.b-bus-timetable__row
          .b-bus-timetable__left-col 22:00
          .b-bus-timetable__right-col 22:30
