mixin product-price()
  //EDITED PRODUCT PRICE
  .b-product-price.iblock&attributes(attributes)
    .b-product-price__prices-holder
      .b-product-price__main
        span.b-product-price__registered.js-tooltip(data-popover-content="Для Вас цена ниже потому что вы состоите в нашей программе лояльности") Цена для своих:
        a(href="#modal-price-for-registered").b-product-price__unregistered.js-modal Для своих дешевле: 77&nbsp;777&nbsp;₽
        div(style="display: none;")
          +modal-registered(id="modal-price-for-registered")

        .b-product-price__current 100&nbsp;990&nbsp;₽
        .b-product-price__old 107&nbsp;990&nbsp;₽
        .b-product-price__notavail 107&nbsp;990&nbsp;₽
      .b-product-price__jur Для организаций по б/н 62&nbsp;210&nbsp;₽
      .b-product-price__bonus 
        span.b-product-price__bonus-text +223 бонуса
        span.b-product-price__bonus-helper.js-tooltip(data-popover-title="Заголовок" data-popover-content="Текст" data-tippy-placement="right") ?

      .b-product-price__cta
        a(href="#").b-product-price__buy.button
          span Купить
        a(href="#").b-product-price__btn.button-abroad
          span Купить за 97&nbsp;000&nbsp;₽<span class="show-for-large"> из-за рубежа</span>
        a(href="#").b-product-price__btn.button-analog
          span Смотреть популярные аналоги
        a(href="#modal-credit").b-product-price__btn.button-credit.js-modal
          span В кредит
        div(style="display: none;")
          +modal-credit(id="modal-credit")

    .b-product-price__actions
      a(href="#").b-product-preview__favor В избранное
      a(href="#").b-product-preview__compare Сравнить
      span(class="b-product-preview__share js-tippy" data-popover-template="share" data-tippy-placement="bottom") Поделиться
      div(style="display: none;")
        div#share
          +social-share()

    .b-product-price__categories
      a(href="#").b-product-price__category Смотреть все чехлы
      a(href="#").b-product-price__category Смотреть все чехлы для Microsoft Limia 650
      a(href="#").b-product-price__category Смотреть все чехлы Flip-case
  //endof EDITED PRODUCT PRICE
  
mixin product-price_conf()
  .b-product-price.iblock&attributes(attributes)
    .b-product-price__top-section
      .b-product-price__left-top
        .b-product-price__art Арт. <b>34534345</b>
        .b-product-price__avail Есть в&nbsp;наличии

      .b-product-price__right-top
        .b-product-price__guarantee
          span.b-product-price__guarantee-text Гарантия: <b>24&nbsp;месяца</b>

    .b-product-price__sku-holder
      .b-product-price__cols
        .b-product-price__col
          label.b-product-price__field
            .b-product-price__field-label Цвет корпуса:
            .b-product-price__field-input
              select.select2
                option(selected) Белый
                option Черный
                option Синий
                option Красный

        .b-product-price__col
          label.b-product-price__field
            .b-product-price__field-label Размер памяти:
            .b-product-price__field-input
              select.select2
                option(selected) 16 Gb
                option 8 Gb
                option 4 Gb
                option 2 Gb

    .b-product-price__prices-holder
      .b-product-price__cols
        .b-product-price__col
          .b-product-price__curr-price 725&nbsp;350 <span class="rub">i</span>
          .b-product-price__old-price 46&nbsp;345 <span class="rub">i</span>
          .b-product-price__bonus +223 бонуса

        .b-product-price__col
          a.b-product-price__add.button-add(href="#")
            span В&nbsp;конфигуратор
          a.b-product-price__buy._light.button-buy(href="#")
            span Добавить в&nbsp;корзину

          .b-product-price__additional-btns
            .b-product-price__left-btns
              a.b-product-price__fast(href="#")
                span Быстрый заказ

            .b-product-price__right-btns
              a.b-product-preview__favor(href="#")
              a.b-product-preview__compare(href="#")

mixin modal-registered()
  .b-product-price__modal&attributes(attributes)
    h3.b-modal__title 
      img(src="assets/img/thumbs-up.png", alt="").b-modal__title-image 
      | Этот товар можно купить дешевле!
    p Зарегистрированные пользователи могут покупать многие товары дешевле, в том числе и этот.<br>Цена “для своих” может быть ниже до 20%!<br>Войдите с паролем или зарегистрируйтесь на сайте, цена станет ниже.
    .button-group
      a(href="#").button Зарегистрироваться
      a(href="#").button-gray Войти

mixin modal-credit()
 .b-product-price__modal.b-product-price__modal--narrow&attributes(attributes)
    h3.b-modal__title Этот товар можно купить  в кредит.<br>Оформить кредит можно на этапе оформления заказа.
    ul.b-list__dashed
      li Сумма кредите от 3 000 до 300 000 ₽
      li Гражданство РФ
      li держатель дебетовой карты
      li Возраст от 21 до 65
      li Наличие регистрации РФ
    a(href="#").button-gray Подробнее