mixin product-review()
  .b-product-review.iblock&attributes(attributes)
    .h2.b-product-review__caption Обзор зеркальной камеры Nikon D3200 Kit 18&ndash;55 VR&nbsp;II

    .b-product-review__text.content-area
      p Эта зеркальная фотокамера, оснащенная <nobr>КМОП-матрицейс</nobr> разрешением 24,2&nbsp;мегапикселя и&nbsp;мощной системой обработки изображений EXPEED 3 от&nbsp;Nikon, обеспечивает создание выдающихся снимков и&nbsp;<nobr>D-видеостандарта</nobr> Full HD.
      p Режим справки Nikon позволяет легко начать съемку великолепных изображений, выполнив несколько простых действий. С&nbsp;помощью образцов изображений и&nbsp;четких инструкций Вы&nbsp;можете снять высококачественные снимки и&nbsp;видеоролики, о&nbsp;которых всегда мечтали.
      p Фотокамера D3200&nbsp;&mdash; это фантастический способ запечатлеть мгновения.

    //.b-product-review__right-holder
    //  +cert-slider()

    .b-product-review__full-text.content-area
      p Эта зеркальная фотокамера, оснащенная <nobr>КМОП-матрицейс</nobr> разрешением 24,2&nbsp;мегапикселя и&nbsp;мощной системой обработки изображений EXPEED 3 от&nbsp;Nikon, обеспечивает создание выдающихся снимков и&nbsp;<nobr>D-видеостандарта</nobr> Full HD.
      p Режим справки Nikon позволяет легко начать съемку великолепных изображений, выполнив несколько простых действий. С&nbsp;помощью образцов изображений и&nbsp;четких инструкций Вы&nbsp;можете снять высококачественные снимки и&nbsp;видеоролики, о&nbsp;которых всегда мечтали.
      p Фотокамера D3200&nbsp;&mdash; это фантастический способ запечатлеть мгновения.

    .b-product-review__more-holder
      a.b-product-review__more.button-more(href="#") <span>Читать подробнее</span>
