mixin promo-timer()
  .b-promo-timer.iblock&attributes(attributes)
    .b-promo-timer__title До окончания акции:

    .b-promo-timer__timer
      .b-promo-timer__hours <span class="b-promo-timer__value">12</span> <span class="b-promo-timer__label">часов</span>
      .b-promo-timer__mins <span class="b-promo-timer__value">56</span> <span class="b-promo-timer__label">минут</span>
      .b-promo-timer__seconds <span class="b-promo-timer__value">03</span> <span class="b-promo-timer__label">секунд</span>
