mixin form-success-modal()
	.b-form-success-modal.iblock&attributes(attributes)
		.b-form-success-modal__header
			.b-form-success-modal__title Сообщение успешно отправлено
		.b-form-success-modal__content-holder
			p Спасибо
