include ../../blocks/modules/!delivery-confirm/delivery-confirm
//include ../../blocks/modules/!images-loaded/!images-loaded
include ../../blocks/modules/_blank/template
include ../../blocks/modules/accessories-choose/accessories-choose
include ../../blocks/modules/accessories-slider/accessories-slider
include ../../blocks/modules/added-cart-modal/added-cart-modal
include ../../blocks/modules/add-product/add-product
include ../../blocks/modules/address-form/address-form
include ../../blocks/modules/address-item/address-item
include ../../blocks/modules/alphabetic-cols/alphabetic-cols
include ../../blocks/modules/autocomplete-address/autocomplete-address
include ../../blocks/modules/bonus-card/bonus-card
include ../../blocks/modules/bonus-history/bonus-history
include ../../blocks/modules/bonus-instruction/bonus-instruction
include ../../blocks/modules/bonus-promo/bonus-promo
include ../../blocks/modules/bonus-scale/bonus-scale
include ../../blocks/modules/bottom-menu/bottom-menu
include ../../blocks/modules/burger-btn/burger-btn
include ../../blocks/modules/bus-timetable/bus-timetable
include ../../blocks/modules/cabinet-link/cabinet-link
include ../../blocks/modules/captcha/captcha
include ../../blocks/modules/cart/cart
include ../../blocks/modules/cart-added/cart-added
include ../../blocks/modules/cart-link/cart-link
include ../../blocks/modules/cart-product/cart-product
include ../../blocks/modules/catalog-intro/catalog-intro
include ../../blocks/modules/catalog-list/catalog-list
include ../../blocks/modules/catalog-plates/catalog-plates
include ../../blocks/modules/catalog-plates-slider/catalog-plates-slider
include ../../blocks/modules/catalog-sort/catalog-sort
include ../../blocks/modules/category-menu/category-menu
include ../../blocks/modules/category-plate/category-plate
include ../../blocks/modules/category-plates/category-plates
include ../../blocks/modules/category-preview/category-preview
include ../../blocks/modules/category-slider/category-slider
include ../../blocks/modules/cert-slider/cert-slider
include ../../blocks/modules/checkbox/checkbox
include ../../blocks/modules/checkbox-cols/checkbox-cols
include ../../blocks/modules/checkout-advantages/checkout-advantages
include ../../blocks/modules/checkout-comment/checkout-comment
include ../../blocks/modules/comments-modal/comments-modal
include ../../blocks/modules/comparison-table/comparison-table
include ../../blocks/modules/configurator-additional/configurator-additional
include ../../blocks/modules/configurator-items/configurator-items
include ../../blocks/modules/configurator-link/configurator-link
include ../../blocks/modules/configurator-product/configurator-product
include ../../blocks/modules/configurator-save/configurator-save
include ../../blocks/modules/contacts/contacts
include ../../blocks/modules/copyright/copyright
include ../../blocks/modules/datepicker/datepicker
include ../../blocks/modules/date-select/date-select
include ../../blocks/modules/def-list/def-list
include ../../blocks/modules/delivery-address/delivery-address
include ../../blocks/modules/delivery-choose/delivery-choose
include ../../blocks/modules/details-form/details-form
include ../../blocks/modules/details-item/details-item
include ../../blocks/modules/discount-plate/discount-plate
include ../../blocks/modules/enter-modal/enter-modal
include ../../blocks/modules/estimate/estimate
include ../../blocks/modules/expand-content/expand-content
include ../../blocks/modules/expert-request-modal/expert-request-modal
include ../../blocks/modules/faq-block/faq-block
include ../../blocks/modules/faq-list/faq-list
include ../../blocks/modules/fast-buy/fast-buy
include ../../blocks/modules/features/features
include ../../blocks/modules/feedback-form/feedback-form
include ../../blocks/modules/feedback-item/feedback-item
include ../../blocks/modules/feedback-modal/feedback-modal
include ../../blocks/modules/feedback-product/feedback-product
include ../../blocks/modules/feedback-sort/feedback-sort
include ../../blocks/modules/filter-scale/filter-scale
include ../../blocks/modules/footer-links/footer-links
include ../../blocks/modules/form-success-modal/form-success-modal
include ../../blocks/modules/gaming/gaming
include ../../blocks/modules/gray-remark/gray-remark
include ../../blocks/modules/hire-steps/hire-steps
//include ../../blocks/modules/info-container/info-container
include ../../blocks/modules/info-tooltip/info-tooltip
include ../../blocks/modules/inner-menu/inner-menu
include ../../blocks/modules/intro-plates/intro-plates
include ../../blocks/modules/jobs-list/jobs-list
include ../../blocks/modules/kit-action/kit-action
include ../../blocks/modules/kit-product/kit-product
include ../../blocks/modules/know-how/know-how
include ../../blocks/modules/likes/likes
include ../../blocks/modules/list-product/list-product
include ../../blocks/modules/logo-tape/logo-tape
include ../../blocks/modules/main-advantages/main-advantages
include ../../blocks/modules/main-consult/main-consult
include ../../blocks/modules/main-menu/main-menu
include ../../blocks/modules/main-plates/main-plates
include ../../blocks/modules/map-contacts/map-contacts
include ../../blocks/modules/map-pickup/map-pickup
include ../../blocks/modules/map-point/map-point
include ../../blocks/modules/market-stars/market-stars
include ../../blocks/modules/metro-map/metro-map
include ../../blocks/modules/mobile-aside/mobile-aside
include ../../blocks/modules/mobile-header/mobile-header
include ../../blocks/modules/mobile-menu/mobile-menu
include ../../blocks/modules/news-plate/news-plate
include ../../blocks/modules/news-slider/news-slider
include ../../blocks/modules/nums-features/nums-features
include ../../blocks/modules/online-consult/online-consult
include ../../blocks/modules/order-cart/order-cart
include ../../blocks/modules/order-confirm/order-confirm
include ../../blocks/modules/order-contents/order-contents
include ../../blocks/modules/order-info/order-info
include ../../blocks/modules/order-item/order-item
include ../../blocks/modules/order-recipient/order-recipient
include ../../blocks/modules/order-registration/order-registration
include ../../blocks/modules/order-status/order-status
include ../../blocks/modules/paginator/paginator
include ../../blocks/modules/params-list/params-list
include ../../blocks/modules/password-change/password-change
include ../../blocks/modules/password-input/password-input
include ../../blocks/modules/payment-choose/payment-choose
include ../../blocks/modules/pay-systems/pay-systems
include ../../blocks/modules/photo-slider/photo-slider
include ../../blocks/modules/pickpoint/pickpoint
include ../../blocks/modules/pickpoint-confirm/pickpoint-confirm
include ../../blocks/modules/pickpoint-qiwi/pickpoint-qiwi
include ../../blocks/modules/plate-product/plate-product
include ../../blocks/modules/points-list/points-list
include ../../blocks/modules/preloader/preloader
include ../../blocks/modules/product-art/product-art
include ../../blocks/modules/product-compare/product-compare
include ../../blocks/modules/product-delivery/product-delivery
include ../../blocks/modules/product-images/product-images
include ../../blocks/modules/product-links/product-links
include ../../blocks/modules/product-marks/product-marks
include ../../blocks/modules/product-options/product-options
include ../../blocks/modules/product-params/product-params
include ../../blocks/modules/product-preview/product-preview
include ../../blocks/modules/product-price/product-price
include ../../blocks/modules/product-review/product-review
include ../../blocks/modules/product-share/product-share
include ../../blocks/modules/product-slider/product-slider
include ../../blocks/modules/product-small/product-small
include ../../blocks/modules/product-status/product-status
include ../../blocks/modules/promo-block3-slider/promo-block3-slider
include ../../blocks/modules/promo-blocks/promo-block1/promo-block1
include ../../blocks/modules/promo-blocks/promo-block2/promo-block2
include ../../blocks/modules/promo-blocks/promo-block3/promo-block3
include ../../blocks/modules/promo-blocks/promo-block4/promo-block4
include ../../blocks/modules/promo-blocks/promo-block5/promo-block5
include ../../blocks/modules/promo-blocks/promo-block6/promo-block6
include ../../blocks/modules/promo-slider/promo-slider
include ../../blocks/modules/promo-timer/promo-timer
include ../../blocks/modules/public-profile/public-profile
include ../../blocks/modules/qiwi-modal/qiwi-modal
include ../../blocks/modules/questions-answer/questions-answer
include ../../blocks/modules/questions-answer-modal/questions-answer-modal
include ../../blocks/modules/radio/radio
include ../../blocks/modules/radio-cols/radio-cols
include ../../blocks/modules/rating/rating
include ../../blocks/modules/rating-form/rating-form
include ../../blocks/modules/registration-modal/registration-modal
include ../../blocks/modules/search-line/search-line
include ../../blocks/modules/search-slider/search-slider
include ../../blocks/modules/shop-card/shop-card
include ../../blocks/modules/shop-slider-modal/shop-slider-modal
include ../../blocks/modules/shops-list/shops-list
include ../../blocks/modules/shops-preview/shops-preview
include ../../blocks/modules/simple-form/simple-form
include ../../blocks/modules/small-product-slider/small-product-slider
include ../../blocks/modules/smart-filter/smart-filter
include ../../blocks/modules/social-btns/social-btns
include ../../blocks/modules/socials-bind/socials-bind
include ../../blocks/modules/socials-login/socials-login
include ../../blocks/modules/status-modal/status-modal
include ../../blocks/modules/stock-info/stock-info
include ../../blocks/modules/subcategory-plates/subcategory-plates
include ../../blocks/modules/subcategory-slider/subcategory-slider
include ../../blocks/modules/sub-menu/sub-menu
include ../../blocks/modules/subscribe-line/subscribe-line
include ../../blocks/modules/tabs/tabs
include ../../blocks/modules/tags/tags
include ../../blocks/modules/top-logo/top-logo
include ../../blocks/modules/top-menu/top-menu
include ../../blocks/modules/top-product/top-product
include ../../blocks/modules/top-product-slider/top-product-slider
include ../../blocks/modules/total/total
include ../../blocks/modules/town-delivery/town-delivery
include ../../blocks/modules/town-modal/town-modal
include ../../blocks/modules/town-select/town-select
include ../../blocks/modules/upload-input/upload-input
//include ../../blocks/modules/validation/validation
include ../../blocks/modules/video-frame/video-frame
include ../../blocks/modules/ymap/ymap