- styleList.push('./assets/js/vendor/fancybox/jquery.fancybox.min.css');
- scriptList[1].push('./assets/js/vendor/fancybox/jquery.fancybox.pack.js');
- scriptList[1].push('./assets/js/vendor/clipboard/clipboard.js');
- scriptList[0].push('assets/js/vendor/jquery/jquery.min.js');
- scriptList[1].push('./assets/js/vendor/jquery-validation/jquery.validate.js');
- scriptList[1].push('./assets/js/vendor/jquery-validation/additional-methods.js');
- scriptList[1].push('./assets/js/vendor/jquery-validation/localization/messages_ru.js');
- scriptList[1].push('./assets/js/vendor/jquery.form/jquery.form.min.js');
- scriptList[1].push('./assets/js/vendor/jquery.icheck/icheck.min.js');
- styleList.push('./assets/js/vendor/jquery.jscrollpane/jquery.jscrollpane.css');
- scriptList[1].push('./assets/js/vendor/jquery.jscrollpane/jquery.jscrollpane.js');
- scriptList[1].push('./assets/js/vendor/jquery.kinetic/jquery.kinetic.min.js');
- scriptList[1].push('./assets/js/vendor/jquery.livequery/jquery.livequery.min.js');
- scriptList[1].push('./assets/js/vendor/jquery.maskedinput/jquery.maskedinput.min.js');
- scriptList[1].push('./assets/js/vendor/jquery.mousewheel/jquery.mousewheel.pack.js');
- scriptList[1].push('./assets/js/vendor/jquery.placeholder/jquery.placeholder.min.js');
- styleList.push('./assets/js/vendor/jquery.slick/slick.css');
- scriptList[1].push('./assets/js/vendor/jquery.slick/slick.js');
- styleList.push('./assets/js/vendor/jquery.smoothdivscroll/smoothdivscroll.css');
- scriptList[2].push('./assets/js/vendor/jquery.smoothdivscroll/smoothdivscroll.min.js');
- scriptList[2].push('./assets/js/vendor/jquery.touch-punch/jquery.touch-punch.min.js');
- scriptList[1].push('./assets/js/vendor/jquery.ui/jquery-ui.min.js');
- styleList.push('./assets/js/vendor/jquery.ui/jquery-ui.min.css');
- scriptList[1].push('./assets/js/vendor/modernizr/modernizr.custom.69422.js');
- scriptList[0].push('./assets/js/vendor/retina/retina.min.js');
- styleList.push('./assets/js/vendor/select2/select2.css');
- scriptList[1].push('./assets/js/vendor/select2/select2.min.js');