mixin hire-steps()
  .b-hire-steps.iblock&attributes(attributes)
    .b-hire-steps__caption Как устроиться в ОГО!

    ol.b-hire-steps__items
      li.b-hire-steps__item
        .b-hire-steps__text Отправить резюме или информацию о&nbsp;себе. Ваше резюме обязательно будет рассмотрено нашим сотрудником.

      li.b-hire-steps__item
        .b-hire-steps__text В&nbsp;случае, если Ваша кандидатура нас заинтересует, мы&nbsp;сами свяжемся с&nbsp;Вами для назначения даты собеседования.

      li.b-hire-steps__item
        .b-hire-steps__text Если мы&nbsp;не&nbsp;связались с&nbsp;Вами в&nbsp;ближайшее время, значит мы не&nbsp;можем в&nbsp;данный момент предложить Вам вакансию.
