mixin order-confirm()
	.b-order-confirm.iblock&attributes(attributes)
		.b-order-confirm__title Номер заказа: 0955&nbsp;8493

		.b-order-confirm__text.content-area
			p В&nbsp;ближайшее время Ваш заказ будет подтвержден по&nbsp;телефону или SMS сообщением.
			p Также Вы&nbsp;будете оперативно получать <nobr>SMS-сообщения</nobr> об&nbsp;изменениях статуса заказа. Подробная информация о&nbsp;заказе отправлена на&nbsp;адрес ivany4@mail.ru

		.b-order-confirm__footer
			.b-order-confirm__footer-caption Остались вопросы или нашли ошибку?
			.b-order-confirm__phone-holder Позвоните по&nbsp;номеру <a href="tel:74952295653" class="b-order-confirm__phone">+7 495 229-56-53</a>
			.b-order-confirm__hours Мы&nbsp;работаем с&nbsp;Пн&nbsp;по&nbsp;Вс: 11:00&nbsp;&mdash; 22:00
