.b-password-input {
  position: relative;
  color: #333;

  &__eye {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 26px;
    height: 14px;
    margin-top: -7px;
    cursor: pointer;

    &:before {
      @include bgr("../img/passeye_open","png");
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-size: 26px 14px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }

    &._open {
      height: 10px;
      margin-top: -3px;
      &:before {
        @include bgr("../img/passeye_closed","png");
        background-size: 25px 9px;
      }
    }
  }
}
