mixin promo-block3()
	.b-promo-block3.iblock&attributes(attributes)
		.b-promo-block3__image-holder.b-promo-block3__image-holder_right.b-promo-block3__image-holder_rightadded-cart-modal
			img.b-promo-block3__image(src="assets/img/content/promo3.jpg", alt="Промо" width=310 height=240)

		.b-promo-block3__content-holder
			.b-promo-block3__intro ОГО! Специальное предложение для вас!
			.b-promo-block3__title Купите Nikon D3200 сейчас и&nbsp;получите в&nbsp;подарок набор для очистки линз <a href="#">Sony IT99</a> <b>бесплатно!</b>

			.b-promo-block3__btns
				a.b-promo-block3__apply(href="#" target="_blank") Воспользоваться предложением
				span.b-promo-block3__timer До окончания
					span.b-promo-block3__time(data-date="2016-12-30T00:00:00+0300")
						//23:15:22
						span.b-promo-block3__time-days
						span.b-promo-block3__time-hrs
						| :
						span.b-promo-block3__time-min
						| :
						span.b-promo-block3__time-sec
