mixin configurator-items()
  .b-configurator-items.iblock&attributes(attributes)
    ul.b-configurator-items__list
      li.b-configurator-items__item(data-mandatory="true")
        .b-configurator-items__hat
          .b-configurator-items__name 
            span.b-configurator-items__name-icon._checked
            span.b-configurator-items__name-text Корпус компьютера
            span.b-configurator-items__name-require Обязательный компонент

        .b-configurator-items__contain
          +configurator-product()
      
      li.b-configurator-items__item(data-mandatory="true")
        .b-configurator-items__hat
          .b-configurator-items__labels
            span.b-product-mark__alert Не совместим
          .b-configurator-items__name
            span.b-configurator-items__name-icon._checked
            span.b-configurator-items__name-text Блок питания
            span.b-configurator-items__name-require Обязательный компонент

        .b-configurator-items__contain
          +configurator-product()

      li.b-configurator-items__item
        .b-configurator-items__hat
          .b-configurator-items__labels
            span.b-product-mark__alert Не совместим
          .b-configurator-items__name
            span.b-configurator-items__name-icon._required
            span.b-configurator-items__name-text Материнская плата
            span.b-configurator-items__name-require Обязательный компонент
        .b-configurator-items__placeholder
          .b-configurator-items__placeholder-icon
            img(src="assets/img/configurator/motherboard.svg", alt="Материнская плата")
          .b-configurator-items__placeholder-text
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi enim eum commodi nemo, odit corrupti voluptate in laborum velit blanditiis sint, perferendis deserunt magnam qui quam temporibus accusantium at ut.
        .b-configurator-items__actions
          a(href="#").b-configurator-items__button.button-gray Выбрать

        li.b-configurator-items__item
          .b-configurator-items__hat
            .b-configurator-items__labels
            .b-configurator-items__name
              span.b-configurator-items__name-icon._required
              span.b-configurator-items__name-text Процессор
              span.b-configurator-items__name-require Обязательный компонент
          .b-configurator-items__placeholder
            .b-configurator-items__placeholder-icon
              img(src="assets/img/configurator/cpu.svg", alt="Процессор")
            .b-configurator-items__placeholder-text
              | Ключевой компонент системы. Число ядер, разрядность, частота, объем кэш-памяти характеризуют вычислительную мощь CPU, соответственно быстродействие системы.
          .b-configurator-items__actions
            a(href="#").b-configurator-items__button.button-gray Выбрать
        
        li.b-configurator-items__item
          .b-configurator-items__hat
            .b-configurator-items__labels
            .b-configurator-items__name
              span.b-configurator-items__name-icon
              span.b-configurator-items__name-text Охлаждение
              
          .b-configurator-items__placeholder
            .b-configurator-items__placeholder-icon
              img(src="assets/img/configurator/cooler.svg", alt="Охлаждение")
            .b-configurator-items__placeholder-text
              | Делится на два типа: воздушное и жидкостное. Задача отводить тепловое излучение, выделяемое центральным процессором, делая температуру приемлемой для стабильной работы.
          .b-configurator-items__actions
            a(href="#").b-configurator-items__button.button-gray Выбрать
        
        li.b-configurator-items__item
          .b-configurator-items__hat
            .b-configurator-items__labels
            .b-configurator-items__name
              span.b-configurator-items__name-icon
              span.b-configurator-items__name-text Оперативная память
              
          .b-configurator-items__placeholder
            .b-configurator-items__placeholder-icon
              img(src="assets/img/configurator/ram.svg", alt="Оперативная память")
            .b-configurator-items__placeholder-text
              | Необходима для хранения временных файлов операционной системы и пользовательских программ. Недостаточный объем RAM-памяти — причина некорректной работы приложений. 
          .b-configurator-items__actions
            a(href="#").b-configurator-items__button.button-gray Выбрать
        
        li.b-configurator-items__item
          .b-configurator-items__hat
            .b-configurator-items__labels
            .b-configurator-items__name
              span.b-configurator-items__name-icon._required
              span.b-configurator-items__name-text Жесткий диск
              span.b-configurator-items__name-require Обязательный компонент
          .b-configurator-items__placeholder
            .b-configurator-items__placeholder-icon
              img(src="assets/img/configurator/hdd.svg", alt="Жесткий диск")
            .b-configurator-items__placeholder-text
              | В современных системах устанавливают носители общим объемом от 500 гигабайт до 1-15 терабайт. При сборке ПК ориентируйтесь на объем накопителя, от этого зависит максимальный массив данных.
          .b-configurator-items__actions
            a(href="#").b-configurator-items__button.button-gray Выбрать
        
        li.b-configurator-items__item
          .b-configurator-items__hat
            .b-configurator-items__labels
            .b-configurator-items__name
              span.b-configurator-items__name-icon
              span.b-configurator-items__name-text SSD накопитель
          .b-configurator-items__placeholder
            .b-configurator-items__placeholder-icon
              img(src="assets/img/configurator/hdd.svg", alt="SSD накопитель")
            .b-configurator-items__placeholder-text
              | Диск SSD представляет собой твердотельный носитель для хранения данных, используется в основном для установки операционной системы. Главным преимуществом считается быстродействие и бесшумность.
          .b-configurator-items__actions
            a(href="#").b-configurator-items__button.button-gray Выбрать
        
        li.b-configurator-items__item
          .b-configurator-items__hat 
            .b-configurator-items__labels
            .b-configurator-items__name
              span.b-configurator-items__name-text Видеокарта
          .b-configurator-items__placeholder
            .b-configurator-items__placeholder-icon
              img(src="assets/img/configurator/gpu.svg", alt="Видеокарта")
            .b-configurator-items__placeholder-text
              | Графическая карта отвечает за комфортный геймплей в игровых приложениях. Плавный ход мыши в онлайн шутерах, четкая картинка, детализация при высоком разрешении —  все это заслуга видеокарты.
          .b-configurator-items__actions
            a(href="#").b-configurator-items__button.button-gray Выбрать
        
        li.b-configurator-items__item
          .b-configurator-items__hat 
            .b-configurator-items__labels
            .b-configurator-items__name
              span.b-configurator-items__name-icon._checked
              span.b-configurator-items__name-text Веб камеры
          .b-configurator-items__placeholder
            .b-configurator-items__placeholder-icon
              img(src="assets/img/configurator/gpu.svg", alt="Веб камеры")
            .b-configurator-items__placeholder-text
              | Графическая карта отвечает за комфортный геймплей в игровых приложениях. Плавный ход мыши в онлайн шутерах, четкая картинка, детализация при высоком разрешении —  все это заслуга видеокарты.
          .b-configurator-items__actions
            a(href="#").b-configurator-items__button.button-gray Выбрать
            
