mixin configurator-items()
  .b-configurator-items.iblock&attributes(attributes)
    ul.b-configurator-items__list
      li.b-configurator-items__item(data-mandatory="true" data-compatible="true")
        .b-configurator-items__hat
          .b-configurator-items__name
            span.b-configurator-items__name-icon._checked
            span.b-configurator-items__name-text Корпус компьютера
            span.b-configurator-items__name-require Обязательный компонент
            //.b-configurator-items__labels
            //  .b-product-marks
            //    span.b-product-mark.b-product-mark--alert Не совместим

        .b-configurator-items__contain
          +configurator-product()

      li.b-configurator-items__item(data-mandatory="false" data-compatible="false")
        .b-configurator-items__hat
          .b-configurator-items__name
            span.b-configurator-items__name-icon._checked
            span.b-configurator-items__name-text Блок питания
            span.b-configurator-items__name-require Обязательный компонент
            .b-configurator-items__labels
              .b-product-marks
                span.b-product-mark.b-product-mark--alert Не совместим

        .b-configurator-items__contain
          +configurator-product-alt()

      li.b-configurator-items__item(data-mandatory="true" data-compatible="true")._empty
        .b-configurator-items__hat
          .b-configurator-items__name
            span.b-configurator-items__name-icon._required.js-tippy(data-popover-title="Обязательный компонент")
            span.b-configurator-items__name-text Материнская плата
            span.b-configurator-items__name-require Обязательный компонент
        .b-configurator-items__contain
          +configurator-placeholder("assets/img/configurator/motherboard.svg", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi enim eum commodi nemo, odit corrupti voluptate in laborum velit blanditiis sint, perferendis deserunt magnam qui quam temporibus accusantium at ut.")

      li.b-configurator-items__item(data-mandatory="true" data-compatible="true")._empty
        .b-configurator-items__hat
          .b-configurator-items__name
            span.b-configurator-items__name-icon._required.js-tippy(data-popover-title="Обязательный компонент")
            span.b-configurator-items__name-text Процессор
            span.b-configurator-items__name-require Обязательный компонент
        .b-configurator-items__contain
          +configurator-placeholder("assets/img/configurator/cpu.svg", "Ключевой компонент системы. Число ядер, разрядность, частота, объем кэш-памяти характеризуют вычислительную мощь CPU, соответственно быстродействие системы.")
      
      li.b-configurator-items__item(data-mandatory="false" data-compatible="true")._empty
        .b-configurator-items__hat
          .b-configurator-items__name
            span.b-configurator-items__name-icon
            span.b-configurator-items__name-text Охлаждение
        .b-configurator-items__contain
          +configurator-placeholder("assets/img/configurator/cooler.svg", "Делится на два типа: воздушное и жидкостное. Задача отводить тепловое излучение, выделяемое центральным процессором, делая температуру приемлемой для стабильной работы.")
        
      li.b-configurator-items__item(data-mandatory="false" data-compatible="true")._empty
        .b-configurator-items__hat
          .b-configurator-items__name
            span.b-configurator-items__name-icon
            span.b-configurator-items__name-text Оперативная память
        .b-configurator-items__contain
          +configurator-placeholder("assets/img/configurator/ram.svg", "Необходима для хранения временных файлов операционной системы и пользовательских программ. Недостаточный объем RAM-памяти — причина некорректной работы приложений")
      
      li.b-configurator-items__item(data-mandatory="true" data-compatible="true")._empty
        .b-configurator-items__hat
          .b-configurator-items__name
            span.b-configurator-items__name-icon._required.js-tippy(data-popover-title="Обязательный компонент")
            span.b-configurator-items__name-text Жесткий диск
            span.b-configurator-items__name-require Обязательный компонент
        .b-configurator-items__contain
          +configurator-placeholder("assets/img/configurator/hdd.svg", "В современных системах устанавливают носители общим объемом от 500 гигабайт до 1-15 терабайт. При сборке ПК ориентируйтесь на объем накопителя, от этого зависит максимальный массив данных")
      
      li.b-configurator-items__item(data-mandatory="false" data-compatible="true")._empty
        .b-configurator-items__hat
          .b-configurator-items__name
            span.b-configurator-items__name-icon
            span.b-configurator-items__name-text SSD накопитель
        .b-configurator-items__contain
          +configurator-placeholder("assets/img/configurator/ssd.svg", "Диск SSD представляет собой твердотельный носитель для хранения данных, используется в основном для установки операционной системы. Главным преимуществом считается быстродействие и бесшумность.")
      
      li.b-configurator-items__item(data-mandatory="false" data-compatible="true")._empty
        .b-configurator-items__hat 
          .b-configurator-items__labels
          .b-configurator-items__name
            span.b-configurator-items__name-text Видеокарта
        .b-configurator-items__contain
          +configurator-placeholder("assets/img/configurator/gpu.svg", "Графическая карта отвечает за комфортный геймплей в игровых приложениях. Плавный ход мыши в онлайн шутерах, четкая картинка, детализация при высоком разрешении —  все это заслуга видеокарты.")
      
      li.b-configurator-items__item._custom(style="background-color: #3E8BDC")
        .b-configurator-items__hat 
          .b-configurator-items__labels
          .b-configurator-items__name
            span.b-configurator-items__name-icon._checked
            span.b-configurator-items__name-text Операционная система
        .b-configurator-items__contain
          .b-configurator-custom
            .b-configurator-custom__image-col
              img.b-configurator-custom__image(src="assets/img/configurator/windows.svg", alt="Операционная система")
            .b-configurator-custom__select-col
              select.select2.b-configurator-custom__select
                option Нет
                option Free DOS
                option Microsoft Windows 10 Home 64bit OEM
                option Microsoft Windows 10 Pro 64bit BOX
            
        .b-configurator-items__foot
          .b-configurator-items__price
            span.b-configurator-items__current-price 7&nbsp;790&nbsp;₽
      
      li.b-configurator-items__item._custom(style="background-color: #9A9A9A")
        .b-configurator-items__hat 
          .b-configurator-items__labels
          .b-configurator-items__name._no-icon
            span.b-configurator-items__name-text Сборка
        .b-configurator-items__contain
          .b-configurator-custom
            .b-configurator-custom__image-col
              img.b-configurator-custom__image(src="assets/img/configurator/gear.png", alt="Сборка")
            .b-configurator-custom__select-col
              select.select2.b-configurator-custom__select
                option Без сборки
                option Бюджетная сборка
                option Комфорт сборка 
                option Бизнес сборка
                option Премиум сборка
                option Элитная сборка
                option Президентская сборка
          
        .b-configurator-items__foot
          .b-configurator-items__price
            span.b-configurator-items__current-price