mixin photo-slider()
  .b-photo-slider.iblock&attributes(attributes)
    .b-photo-slider__prev
    .b-photo-slider__next
    .b-photo-slider__slider
      .b-photo-slider__slide
        img.b-photo-slider__photo(src="assets/img/content/preview-photo.png" alt="Фото" width="340" height="289")
      .b-photo-slider__slide
        img.b-photo-slider__photo(src="assets/img/content/preview-photo.png" alt="Фото" width="340" height="289")
      .b-photo-slider__slide
        img.b-photo-slider__photo(src="assets/img/content/preview-photo.png" alt="Фото" width="340" height="289")
      .b-photo-slider__slide
        img.b-photo-slider__photo(src="assets/img/content/preview-photo.png" alt="Фото" width="340" height="289")
      .b-photo-slider__slide
        img.b-photo-slider__photo(src="assets/img/content/preview-photo.png" alt="Фото" width="340" height="289")
      .b-photo-slider__slide
        img.b-photo-slider__photo(src="assets/img/content/preview-photo.png" alt="Фото" width="340" height="289")
