mixin catalog-intro()
  .b-catalog-intro.iblock&attributes(attributes)
    .b-catalog-intro__content-holder
      .b-catalog-intro__content.content-area
        p Вне зависимости от&nbsp;того, занимаетесь&nbsp;ли вы&nbsp;фотосъемкой для удовольствия или в&nbsp;коммерческих целях, цифровые зеркальные камеры Canon EOS и&nbsp;компактные камеры сделают этот процесс творческим. Новейшие функции, обеспечивают высокую производительность, на&nbsp;которую вы&nbsp;всегда можете рассчитывать.

      .b-catalog-intro__tags
        +tags()

    .b-catalog-intro__aside-image
      img.b-catalog-intro__img(src="assets/img/content/il_ogo.png", alt="Изображение" width=231 height=254)
      a.b-catalog-intro__close(href="#")

mixin catalog-intro2()
  .b-catalog-intro.iblock&attributes(attributes)
    .b-catalog-intro__content-holder
      .b-catalog-intro__content.content-area
        p Вне зависимости от&nbsp;того, занимаетесь&nbsp;ли вы&nbsp;фотосъемкой для удовольствия или в&nbsp;коммерческих целях, цифровые зеркальные камеры Canon EOS и&nbsp;компактные камеры сделают этот процесс творческим. Новейшие функции, обеспечивают высокую производительность, на&nbsp;которую вы&nbsp;всегда можете рассчитывать.

      .b-catalog-intro__tags
        +tags()

    .b-catalog-intro__aside-image
      img.b-catalog-intro__img(src="assets/img/content/il_ogo2.jpg", alt="Изображение" width=306 height=225)
      a.b-catalog-intro__close(href="#")
