mixin def-list()
  .b-def-list.iblock&attributes(attributes)
    ul.b-def-list__list
      li.b-def-list__item
        .b-def-list__def Удобство подбора
        .b-def-list__detail Конфигуратор создан для удобства подбора конфигурации, и&nbsp;учитывает только базовые параметры совместимости, такие как <nobr>форм-фактор</nobr> корпуса, сокет для процессора и&nbsp;так далее.

      li.b-def-list__item
        .b-def-list__def Опытный специалист проверит вашу конфигурацию
        .b-def-list__detail Наши специалисты, изучив Вашу конфигурацию, могут более точно проверить совместимость и&nbsp;подобрать аналоги комплектующих в&nbsp;случае необходимости.

      li.b-def-list__item
        .b-def-list__def Один нюанс! Конфигуратор не&nbsp;гарантирует Вам 100% совместимости комплектующих
