mixin bonus-instruction()
	.b-bonus-instruction.iblock&attributes(attributes)
		.b-bonus-instruction__caption Как это работает?

		.b-bonus-instruction__cols
			.b-bonus-instruction__col
				.b-bonus-instruction__plate
					.b-bonus-instruction__img-holder
						img.b-bonus-instruction__img(src="assets/img/content/bonus-step1.png", alt="Изображение" width=80 height=60)

					.b-bonus-instruction__content-holder
						.b-bonus-instruction__title 1 бонус = 1&nbsp;рубль

						.b-bonus-instruction__description.content-area
							p За каждый товар предусмотрено своё вознаграждение в бонусах. Количество бонусов указано на сайте для каждого товара.

			.b-bonus-instruction__col
				.b-bonus-instruction__plate
					.b-bonus-instruction__img-holder
						img.b-bonus-instruction__img(src="assets/img/content/bonus-step2.png", alt="Изображение" width=80 height=60)

					.b-bonus-instruction__content-holder
						.b-bonus-instruction__title Начисляем всегда

						.b-bonus-instruction__description.content-area
							p Накапливайте бонусы за&nbsp;каждый купленный товар и&nbsp;оплачивайте ими от&nbsp;25% до&nbsp;50% покупки в&nbsp;зависимости от&nbsp;статуса. Бонусы начисляются и&nbsp;за&nbsp;покупки, оплаченные бонусами.

			.b-bonus-instruction__col
				.b-bonus-instruction__plate
					.b-bonus-instruction__img-holder
						img.b-bonus-instruction__img(src="assets/img/content/bonus-step3.png", alt="Изображение" width=80 height=60)

					.b-bonus-instruction__content-holder
						.b-bonus-instruction__title Цены ниже

						.b-bonus-instruction__description.content-area
							p Обладатели карт могут покупать товары по&nbsp;ценам &laquo;для своих&raquo;, которые могут быть ниже обычных до&nbsp;25% в&nbsp;зависимости от&nbsp;товара, а&nbsp;также участвовать в&nbsp;закрытых распродажах.

		.b-bonus-instruction__detail-holder
			a.b-bonus-instruction__detail.button-gray(href="#") Подробнее
