mixin sub-menu()
  .b-sub-menu.iblock&attributes(attributes)
    .b-sub-menu__caption
      a.b-sub-menu__caption-link(href="#") Категория 3 уровня

    ul.b-sub-menu__items
      li.b-sub-menu__item
        a.b-sub-menu__link(href="#") <nobr>Сплит-системы</nobr>
      li.b-sub-menu__item
        a.b-sub-menu__link(href="#") Мобильные кондиционеры
      li.b-sub-menu__item
        a.b-sub-menu__link(href="#") Обогреватели Вентиляторы
      li.b-sub-menu__item
        a.b-sub-menu__link(href="#") Очистители и&nbsp;увлажнители воздуха
      li.b-sub-menu__item
        a.b-sub-menu__link(href="#") Погодные станции
      li.b-sub-menu__item
        a.b-sub-menu__link(href="#") Водонагреватели
      li.b-sub-menu__item
        a.b-sub-menu__link(href="#") Тепловые пушки
      li.b-sub-menu__item
        a.b-sub-menu__link(href="#") Осушители воздуха
      li.b-sub-menu__item
        a.b-sub-menu__link(href="#") Электрические камины
