mixin pickpoint()
  label.b-pickpoint.iblock&attributes(attributes)
    input.b-pickpoint__radio-input(type="radio" name="pickpoint")
    .b-pickpoint__cols
      .b-pickpoint__radiocheck-col
        .b-pickpoint__radio
      .b-pickpoint__address-col
        .b-pickpoint__address-title <span class="metro-icon">м</span> Площадь Ильича
        .b-pickpoint__address-info Театральная аллея, д. 3, стр.&nbsp;1

      .b-pickpoint__time-col
        .b-pickpoint__time Можно забрать сегодня (<nobr>01.02.2016</nobr>)<br/>после 15:00

        label.b-pickpoint__field
          .b-pickpoint__field-label Дата получения заказа
          .b-pickpoint__field-inputs
            select.b-pickpoint__date-select.select2
              option 01.02.2016
              option 02.02.2016
              option 03.02.2016
              option 04.02.2016
              option 05.02.2016

      .b-pickpoint__info-col
        a.b-pickpoint__info-btn.button-gray(href="#") Подробнее
