.b-pickpoint {
  display: block;
  border: 1px solid #dfdfdf;

  &__cols {
    @include box-sizing;
    display: table;
    width: 100%;
  }

  &__radiocheck-col {
    display: table-cell;
    width: 30px;
    padding: 25px 15px;
    vertical-align: top;
  }

  &__address-col {
    @include box-sizing;
    display: table-cell;
    min-width: 180px;
    padding: 20px 5px;
    vertical-align: top;
  }

  &__address-info {
    @include margin(5/20);
    font-size: 14/16*100%;
    font-weight: 400;
    line-height: 1.29;
    color: #969696;

    &._contract {
      margin-top: 0;
    }
  }

  &__address-title {
    span {
      vertical-align: middle;
    }

    .metro-icon {
      margin-top: -2px;
    }
  }

  &__time-col {
    display: table-cell;
    vertical-align: top;
    padding: 20px 5px;
  }

  &__time {
    @include margin(15/20);
    font-size: 14/16*100%;
    font-weight: 400;
    color: #969696;

    &_green {
      color: #81c03d;
    }
  }

  &__field {
    display: none;
  }

  &__field-label {
    @include margin(10/20);
    font-size: 14/16*100%;
    font-weight: 200;
    line-height: 1;
    color: #333;
  }

  &__field-inputs {
    max-width: 200px;
  }

  &__info-col {
    display: table-cell;
    width: 1px;
    padding: 20px 15px;
    vertical-align: top;
    padding-right: 20px;
  }

  &__radio {
    @include pie;
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid #d7d7d7;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.07);
    border-radius: 50%;
    cursor: pointer;
  }

  &__info-btn {
    @include box-sizing;
    width: 115px;
    font-size: 14/16*100%;
    text-align: center;
  }

  &__radio-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    visibility: hidden;
  }

  &__address-remark {
    font-size: 14/16*100%;
    font-weight: 200;
  }

  &__contract-price {
    margin-right: .5em;
    color: #000;
  }
}

.b-pickpoint._checked {
  border-color: #3e8bdc;

  .b-pickpoint {
    &__radio {
      background-color: #3e8bdc;
      &:before {
        @include pie;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 10px;
        height: 10px;
        margin: auto;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.49);
      }
    }

    &__field {
      display: block;
    }
  }
}

@mixin mx530($mod: "") {
  .b-pickpoint#{$mod} {
    .b-pickpoint {
      &__cols {
        padding: 15px;
      }

      &__radiocheck-col {
        float: left;
        padding: 0;
      }

      &__address-col {
        display: block;
        padding: 0;
        margin-left: 50px;
      }

      &__time-col {
        display: block;
        padding: 0;
        margin-top: 5px;
        margin-bottom: 15px;
        margin-left: 50px;
      }

      &__info-col {
        display: block;
        padding: 0;
        margin-left: 50px;
      }
    }
  }
}

@include mx530("._mx530");

.c-checkout__delivery-info {
  @media (max-width: 590px) {
    @include mx530;
  }
}
