mixin order-registration()
  .b-order-registration.iblock&attributes(attributes)
    .b-order-registration__caption Завершение регистрации
    .b-order-registration__cols
      .b-order-registration__left-col
        .b-order-registration__text Чтобы пользоваться преимуществами постоянного покупателя, завершите регистрацию

      .b-order-registration__right-col
        .b-order-registration__field
          .b-order-registration__field-label Осталось придумать пароль
          .b-order-registration__field-inputs
            .b-password-input
              input(type="password")
              span.b-password-input__eye

            input.button.b-order-registration__submit(type="submit" value="Зарегистрироваться и войти")
