mixin bonus-scale()
	.b-bonus-scale.iblock&attributes(attributes)
		.b-bonus-scale__cols
			.b-bonus-scale__left-col
				.b-bonus-scale__status Стандарт
				.b-bonus-scale__status-value Текущий статус

			.b-bonus-scale__main-col
				.b-bonus-scale__scale
					.b-bonus-scale__range(style="width:45%;")

			.b-bonus-scale__right-col
				.b-bonus-scale__status Серебряный
				.b-bonus-scale__status-value 3890 бонусов до&nbsp;<nobr>01.02.16</nobr>
