.b-product-status {
  margin-bottom: 14px;
  font-size: rem(14);
  line-height: rem(20);
  font-weight: 600;
  &__available {
    color: #81C03D;
    &:before {
      @include ft-icon($ft-check);
      margin-right: 5px;
    }
  }
  &__notavailable {
    color: #DC3E48;
  }
}
.b-product-discount {
  margin-bottom: 14px;
  padding: 15px 20px;
  color: #000;
  font-weight: 300;
  font-size: 13px;
  line-height: 19px;
  border: 1px solid #F1F1F1;
  p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  strong {
    font-weight: 600;
  }
}