mixin product-status()
  .b-product-status&attributes(attributes)
    span.b-product-status__available В наличии
    span.b-product-status__available Доступен
    span.b-product-status__notavailable Нет в наличии

mixin product-discount()
  .b-product-discount&attributes(attributes)
    strong Причина уценки
    p Был в использовании. Комплектация полная. Упаковка оригинальная. Не работает материнская плата.