mixin category-menu()
  .b-category-menu.iblock&attributes(attributes)
    .b-category-menu__item
      .b-category-menu__item-caption Телефоны
      .b-category-menu__item-content
        ul.b-category-menu__top-level
          li.b-category-menu__top-item
            a.b-category-menu__top-link(href="#") Мобильные телефоны

          li.b-category-menu__top-item
            a.b-category-menu__top-link(href="#") Чехлы

          li.b-category-menu__top-item
            a.b-category-menu__top-link(href="#") Умные часы и&nbsp;браслеты

          li.b-category-menu__top-item
            a.b-category-menu__top-link(href="#") <nobr>Bluetooth-гарнитуры</nobr>

          li.b-category-menu__top-item
            a.b-category-menu__top-link(href="#") Аксессуары

        ul.b-category-menu__top-level.js-more
          li.b-category-menu__top-item
            a.b-category-menu__top-link(href="#") Радиотелефоны Рации

          li.b-category-menu__top-item
            a.b-category-menu__top-link(href="#") Проводные телефоны

          li.b-category-menu__top-item
            a.b-category-menu__top-link(href="#") Спутниковые телефоны

          li.b-category-menu__top-item
            a.b-category-menu__top-link(href="#") <nobr>IP-телефоны</nobr>

          li.b-category-menu__top-item
            a.b-category-menu__top-link(href="#") Запасные части

          li.b-category-menu__top-item
            a.b-category-menu__top-link(href="#") Тарифные планы и&nbsp;номера

      .b-category-menu__more-holder
        a.b-category-menu__more(href="#")
          span.b-category-menu__more-text Показать все
          span.b-category-menu__less-text Скрыть

    .b-category-menu__item
      .b-category-menu__item-caption Фото- и&nbsp;видеокамеры
      .b-category-menu__item-content
        ul.b-category-menu__top-level
          li.b-category-menu__top-item
            a.b-category-menu__top-link(href="#") Цифровые фотоаппараты

          li.b-category-menu__top-item
            a.b-category-menu__top-link(href="#") Объективы

          li.b-category-menu__top-item
            a.b-category-menu__top-link(href="#") Видеокамеры

          li.b-category-menu__top-item
            a.b-category-menu__top-link(href="#") Аксессуары

          li.b-category-menu__top-item
            a.b-category-menu__top-link(href="#") Сумки и&nbsp;чехлы

        ul.b-category-menu__top-level.js-more
          li.b-category-menu__top-item
            a.b-category-menu__top-link(href="#") Цифровые фотоаппараты

          li.b-category-menu__top-item
            a.b-category-menu__top-link(href="#") Объективы

          li.b-category-menu__top-item
            a.b-category-menu__top-link(href="#") Видеокамеры

          li.b-category-menu__top-item
            a.b-category-menu__top-link(href="#") Аксессуары

          li.b-category-menu__top-item
            a.b-category-menu__top-link(href="#") Сумки и&nbsp;чехлы

      .b-category-menu__more-holder
        a.b-category-menu__more(href="#")
          span.b-category-menu__more-text Показать все
          span.b-category-menu__less-text Скрыть

    .b-category-menu__item
      .b-category-menu__item-caption Портативная техника
      .b-category-menu__item-content
        ul.b-category-menu__top-level
          li.b-category-menu__top-item
            a.b-category-menu__top-link(href="#") Наушники

          li.b-category-menu__top-item
            a.b-category-menu__top-link(href="#") Умные часы и&nbsp;браслеты

          li.b-category-menu__top-item
            a.b-category-menu__top-link(href="#") Электронные книги

          li.b-category-menu__top-item
            a.b-category-menu__top-link(href="#") Цифровые плееры

          li.b-category-menu__top-item
            a.b-category-menu__top-link(href="#") Планшеты

        ul.b-category-menu__top-level.js-more
          li.b-category-menu__top-item
            a.b-category-menu__top-link(href="#") Наушники

          li.b-category-menu__top-item
            a.b-category-menu__top-link(href="#") Умные часы и&nbsp;браслеты

          li.b-category-menu__top-item
            a.b-category-menu__top-link(href="#") Электронные книги

          li.b-category-menu__top-item
            a.b-category-menu__top-link(href="#") Цифровые плееры

          li.b-category-menu__top-item
            a.b-category-menu__top-link(href="#") Планшеты

      .b-category-menu__more-holder
        a.b-category-menu__more(href="#")
          span.b-category-menu__more-text Показать все
          span.b-category-menu__less-text Скрыть

    .b-category-menu__item
      .b-category-menu__item-caption <nobr>GPS-навигация</nobr>
      .b-category-menu__item-content
        ul.b-category-menu__top-level
          li.b-category-menu__top-item
            a.b-category-menu__top-link(href="#") <nobr>GPS-навигаторы</nobr>

          li.b-category-menu__top-item
            a.b-category-menu__top-link(href="#") Карты и&nbsp;программы

          li.b-category-menu__top-item
            a.b-category-menu__top-link(href="#") Аксессуары

          li.b-category-menu__top-item
            a.b-category-menu__top-link(href="#") <nobr>GPS-трекеры</nobr>

mixin category-menu2()
  .b-category-menu.iblock&attributes(attributes)
    .b-category-menu__item
      .b-category-menu__item-caption Комплектующие
      .b-category-menu__item-content
        ul.b-category-menu__top-level
          li.b-category-menu__top-item
            a.b-category-menu__top-link(href="#") Мобильные телефоны

          li.b-category-menu__top-item
            a.b-category-menu__top-link(href="#") Чехлы

          li.b-category-menu__top-item
            a.b-category-menu__top-link(href="#") Умные часы и&nbsp;браслеты

          li.b-category-menu__top-item
            a.b-category-menu__top-link(href="#") <nobr>Bluetooth-гарнитуры</nobr>

          li.b-category-menu__top-item
            a.b-category-menu__top-link(href="#") Аксессуары

          li.b-category-menu__top-item
            a.b-category-menu__top-link(href="#") Радиотелефоны Рации

          li.b-category-menu__top-item
            a.b-category-menu__top-link(href="#") Проводные телефоны

          li.b-category-menu__top-item
            a.b-category-menu__top-link(href="#") Спутниковые телефоны

          li.b-category-menu__top-item
            a.b-category-menu__top-link(href="#") <nobr>IP-телефоны</nobr>

          li.b-category-menu__top-item
            a.b-category-menu__top-link(href="#") Запасные части

          li.b-category-menu__top-item
            a.b-category-menu__top-link(href="#") Тарифные планы и&nbsp;номера
