mixin promo-block2()
	.b-promo-block2.iblock&attributes(attributes)
		.b-promo-block2__holder
			a.b-promo-block2__close(href="#")

			.b-promo-block2__bg-holder
				img.b-promo-block2__bg-image(src="assets/img/content/promo2.png", alt="Fuji" width=260 height=583)

			.b-promo-block2__content
				.b-promo-block2__title Мы&nbsp;собираем любые компьютеры на&nbsp;заказ!<br/><a href="#" class="b-promo-block2__expand-link">Как это работает?</a>

				.b-promo-block2__list
					+def-list()
