mixin features()
	.b-features.iblock._nojs&attributes(attributes)
		ul.b-features__list
			li.b-features__item
				.b-features__feature
					.b-features__icon-holder
						.b-features__icon._clock
					.b-features__text.content-area Ваш заказ можно забрать сегодня с&nbsp;10 до&nbsp;22

			li.b-features__item
				.b-features__feature
					.b-features__icon-holder
						.b-features__icon._band
					.b-features__text.content-area 20&nbsp;384 товара в&nbsp;наличии с&nbsp;официальной гарантией

			li.b-features__item
				.b-features__feature
					.b-features__icon-holder
						.b-features__icon._truck
					.b-features__text.content-area Доставка днём и&nbsp;вечером каждый день

			li.b-features__item
				.b-features__feature
					.b-features__icon-holder
						.b-features__icon._star
					.b-features__text.content-area 5 звёзд на&nbsp;Я.Маркете с&nbsp;2010 года
