mixin rating()
  .b-rating.iblock&attributes(attributes)
    ul.b-rating__items
      li.b-rating__item.b-rating__item_active
      li.b-rating__item.b-rating__item_active
      li.b-rating__item.b-rating__item_active
      li.b-rating__item
      li.b-rating__item

mixin rating_big()
  .b-rating.iblock&attributes(attributes)
    ul.b-rating__items.b-rating__items_big
      li.b-rating__item.b-rating__item_active
      li.b-rating__item.b-rating__item_active
      li.b-rating__item.b-rating__item_active
      li.b-rating__item
      li.b-rating__item

mixin rating_card()
  .b-rating.iblock&attributes(attributes)
    ul.b-rating__items.b-rating__items_big
      li.b-rating__item.b-rating__item_active
      li.b-rating__item.b-rating__item_active
      li.b-rating__item.b-rating__item_active
      li.b-rating__item
      li.b-rating__item

    .b-rating__text 14 отзывов
