extends ../layout/page-template

block head
  title Каталог товаров

block head-scripts

block vars
  - var isInner = true; // раскрывать ли подменю в главном меню
  - var isTotalStyling = true; // Использовать бандл
  - var modHeader = '_breadcrumbs';

block caption
  h1.full-width Смартфон Apple iPhone 11 64GB Yellow (MWLW2RU/A)

block inner-content
  section.c-catalog
    .
      <svg viewBox="0 0 20 20" style="display: none">
        <g id="share">
          <path d="M 7.691 10.187 L 13.63 13.647 L 12.316 15.901 L 6.378 12.44 Z M 0.87 10 C 0.87 9.014 1.379 7.87 2.015 7.234 C 2.652 6.597 3.796 6.087 4.783 6.087 C 5.769 6.087 6.913 6.597 7.549 7.234 C 8.186 7.87 8.696 9.014 8.696 10 C 8.696 10.987 8.186 12.131 7.549 12.766 C 6.913 13.403 5.769 13.913 4.783 13.913 C 3.796 13.913 2.652 13.403 2.015 12.766 C 1.379 12.131 0.87 10.987 0.87 10 Z M 3.861 10.922 C 4.169 11.23 4.329 11.304 4.783 11.304 C 5.237 11.304 5.397 11.23 5.705 10.922 C 6.013 10.614 6.087 10.454 6.087 10 C 6.087 9.546 6.013 9.386 5.705 9.078 C 5.397 8.77 5.237 8.696 4.783 8.696 C 4.329 8.696 4.169 8.77 3.861 9.078 C 3.553 9.386 3.479 9.546 3.479 10 C 3.479 10.454 3.553 10.614 3.861 10.922 Z M 11.304 16.087 C 11.304 15.1 11.813 13.956 12.449 13.319 C 13.086 12.683 14.23 12.174 15.217 12.174 C 16.203 12.174 17.347 12.683 17.984 13.319 C 18.62 13.956 19.13 15.1 19.13 16.087 C 19.13 17.073 18.62 18.217 17.984 18.854 C 17.347 19.49 16.203 20 15.217 20 C 14.23 20 13.086 19.49 12.449 18.854 C 11.813 18.217 11.304 17.073 11.304 16.087 Z M 14.295 17.009 C 14.602 17.317 14.763 17.391 15.217 17.391 C 15.671 17.391 15.832 17.317 16.139 17.009 C 16.447 16.701 16.521 16.541 16.521 16.087 C 16.521 15.633 16.447 15.471 16.139 15.165 C 15.832 14.857 15.671 14.783 15.217 14.783 C 14.763 14.783 14.603 14.857 14.295 15.164 C 13.987 15.471 13.913 15.633 13.913 16.087 C 13.913 16.541 13.987 16.701 14.295 17.009 Z M 13.622 6.353 L 7.691 9.813 L 6.377 7.561 L 12.307 4.099 Z M 11.304 3.913 C 11.304 2.927 11.813 1.783 12.449 1.146 C 13.086 0.51 14.23 0 15.217 0 C 16.203 0 17.347 0.51 17.984 1.146 C 18.62 1.783 19.13 2.927 19.13 3.913 C 19.13 4.9 18.62 6.044 17.984 6.681 C 17.347 7.317 16.203 7.826 15.217 7.826 C 14.23 7.826 13.086 7.317 12.449 6.681 C 11.813 6.044 11.304 4.9 11.304 3.913 Z M 14.295 4.836 C 14.602 5.143 14.763 5.217 15.217 5.217 C 15.671 5.217 15.832 5.143 16.139 4.836 C 16.447 4.528 16.521 4.367 16.521 3.913 C 16.521 3.459 16.447 3.299 16.139 2.991 C 15.832 2.683 15.671 2.609 15.217 2.609 C 14.763 2.609 14.603 2.683 14.295 2.991 C 13.987 3.299 13.913 3.459 13.913 3.913 C 13.913 4.367 13.987 4.528 14.295 4.836 Z" style="" data-bx-origin="0 -0.0024"></path>
        </g>
      </svg>

    .c-catalog__product-rating
      +rating_card()
      +product-art()
      +product-mark()

    .c-catalog__product-detail
      .c-catalog__product-photo
        +product-images()

      .c-catalog__product-options
        +product-status()
        +product-mark()
        +product-options()
        +product-discount()

      .c-catalog__product-info
        .c-catalog__product-price
          +product-price()
        .c-catalog__product-avail
          +product-delivery()
          //- +stock-info()

    .c-catalog__product-links
      .content-center
        +product-links()

    block fix-area
      .c-catalog__product-links-fixed
        .content-center
          +product-links()

    .c-catalog__know-how
      .content-center
        +know-how()

    .c-catalog__params#prod-1
      .content-center
        +product-params()

    .c-catalog__product-promo
      .content-center
        +promo-block3-slider()

    .c-catalog__product-review#prod-3
      .content-center
        +product-review()

    .c-catalog__feedbacks#prod-2
      .content-center
        +feedback-product()

    .c-catalog__kit-action
      .content-center
        +kit-action()

    .c-catalog__share
      .content-center
        +product-share()
    .c-catalog-questions-answer
      .content-center
        +questions-answer()

    .c-catalog__additional
      .h2.c-catalog__sub-caption.center Аксессуары
      .c-catalog__additional-tags.center
        .b-tags
          ul.b-tags__items
            li.b-tags__item
              a.b-tags__tag(href="") Сумки
            li.b-tags__item
              a.b-tags__tag(href="") Чехлы
            li.b-tags__item
              a.b-tags__tag(href="") Объективы
            li.b-tags__item
              a.b-tags__tag(href="") Бленды
            li.b-tags__item
              a.b-tags__tag(href="") Светофильтры
            li.b-tags__item
              a.b-tags__tag(href="") Все аксессуары

      .c-catalog__additional-products
        .b-catalog-plates._additional
          .b-catalog-plates__items
            .b-catalog-plates__item
              +plate-product()
            .b-catalog-plates__item
              +plate-product()
            .b-catalog-plates__item
              +plate-product()
            .b-catalog-plates__item
              +plate-product()
        a.c-catalog__additional-more.button-more(href="#") Показать еще 20

    .c-catalog__compare
      .h2.c-catalog__sub-caption.center Сравните этот товар с похожими

      .c-catalog__compare-items
        +product-compare()