extends ../layout/page-template

block head
	title Контентная страница

block scripts

block stylesheets

block caption
	h1.content-center Пример контентной страницы

block inner-content
	section
		.content-center
			.content-area
				p.intro Вступительный текст на странице. Отличается от остальных абзацев более крупным размером. Его задача заинтересовать читателя. Если вступительный текст понравится —&nbsp;с большой вероятностью человек станет читать дальше. Он не должен быть слишком большим, иначе есть риск, что его не станут читать целиком.
				p Это обычный абзац. Их таких будет тут много, чтобы разбавлять заголовки и прочие элементы, которые обычно не идут друг за другом, а сочетаются с абзацами текста. Алиса сидела со старшей сестрой на берегу и маялась: делать ей было совершенно нечего, а сидеть без дела, сами знаете, дело нелегкое; раз-другой она, правда, сунула нос в книгу, которую сестра читала, но там не оказалось ни картинок, ни стишков. «Кому нужны книжки без картинок, — или хоть стишков, не понимаю!» — думала Алиса.
				| Это абзац без форматирования. Он должен выглядеть так же, как предыдущий абзац. Перед ним должен быть отступ (от предыдущего параграфа) и после него должен быть отступ (от следующего заголовка).

				h2 Теги форматирования:
				p Тег <strong>strong — выделение жирным</strong>, повышает вес слова для поисковых систем.
				p Тег <b>b — выделение жирным</b>, не повышает вес слова для поисковых систем.
				p Тег <em>em — выделение курсивом</em>, повышает вес слова для поисковых систем.
				p Тег <i>i — выделение курсивом</i>, не повышает вес слова для поисковых систем.

				h2 Текст со ссылкой
				p Клавикула — <a href="https://ru.wikipedia.org/wiki/%D0%9A%D0%BB%D0%B0%D0%B2%D0%B8%D0%BA%D1%83%D0%BB%D0%B0" target="_blank">древние тексты о колдовстве и магических ритуалах</a>. В прежние времена посвященные могли найти там инструкции и магические формулы для составления микстур и волшебных напитков, изготовления пентаклей и талисманов, специальные заговоры и числовые комбинации для получения власти над иноматериальными сущностями. Название «Клавикула» происходит от понятия «ключ», открывающий дверь в хранилище тайных знаний. Так именовался «Ключ Соломона» — инкунабула, авторство которой приписывается царю-магу Соломону.

				h2 Заголовок второго уровня
				p Уровни заголовков служат не для красоты, а для деления контента. Заголовок первого уровня —&nbsp;используется в качестве главного заголовка страницы и более не используется нигде на странице. Деление контента на смысловые блоки делается сначала с помощью заголовков второго уровня. Эти блоки в свою очередь делятся с помощью заголовков третьего уровня и т. д. Если заголовок кажется вам слишком большим и вам хочется использовать другой —&nbsp;обратитесь к дизайнеру, чтобы он исправил стили страницы, вместо того, чтобы использовать заголовки произвольно.

				h3 Заголовок третьего уровня
				p Это обычный абзац. Их таких будет тут много, чтобы разбавлять заголовки и прочие элементы, которые обычно не идут друг за другом, а сочетаются с абзацами текста. Алиса сидела со старшей сестрой на берегу и маялась: делать ей было совершенно нечего, а сидеть без дела, сами знаете, дело нелегкое; раз-другой она, правда, сунула нос в книгу, которую сестра читала, но там не оказалось ни картинок, ни стишков. «Кому нужны книжки без картинок, — или хоть стишков, не понимаю!» — думала Алиса.
				ul
					li Это пример небольшого маркерованного списка
					li Из нескольких пунктов
					li Разной длины
					li Иногда пункты бывают очень длинными. Расстояние между соседними пунктами должно быть больше, чем расстояние между строчками одного длинного пункта. Это правило визуальной иерархии, применимое ко всему оформлению контента вообще.
					li Вот и список закончился

				h4 Важный список
				ul.attention
					li Это пример небольшого ненумерованного списка
					li Из нескольких пунктов
					li Разной длины
					li Иногда пункты бывают очень длинными. Расстояние между соседними пунктами должно быть больше, чем расстояние между строчками одного длинного пункта. Это правило визуальной иерархии, применимое ко всему оформлению контента вообще.
					li Вот и список закончился

				h4 Заголовок 4-го уровня можно использовать для заглавия списков
				ol
					li Это пример небольшого нумерованного списка
					li Из нескольких пунктов
					li Разной длины
					li Иногда пункты бывают очень длинными. Расстояние между соседними пунктами должно быть больше, чем расстояние между строчками одного длинного пункта. Это правило визуальной иерархии, применимое ко всему оформлению контента вообще.
					li Вот и список закончился

				h5 Заголовок 5-го уровня для заглавия Списка вложенных списков в нумерованный список
				ol
					li Организация рекламных кампаний:
						ul
							li организация выставок и работа со СМИ,
							li оценка эффективности рекламной кампании,
							li разработка предложений по увеличению эффективности рекламной кампании
					li Организация и проведение маркетинговых исследований (полевые исследования по региону, анализ методов и каналов продвижения, ёмкости рынка, конкурентный анализ, ценовой анализ):
						ol
							li определять цели, задачи, регламент, план-график исследования;
							li определять метод маркетингового исследования;
							li определять целевую аудиторию проводимого исследования;
							li составлять анкету/форму опросного листа для проведения исследования;
							li собирать информацию в рамках проводимого исследования;
							li составлять отчет о проведенном маркетинговом исследовании.

					li Ведение интернет-проектов:
						ul
							li Составление плана развития интернет направления
							li Администрирование сайтов компании, регулярное развитие и обновление контента
							li Отслеживание и анализ посещаемости сайтов компании. Анализ поведения посетителей на сайтах
							li Оптимизация сайтов для поисковиков, адаптация для различных платформ.
							li Управление доменами. Хостинг
							li Комплексное продвижение сайтов, анализ (контекстная реклама, SEO)
							li Составление ежемесячного медиаплана
							li Разработка стратегии SMM и SMO
							li Ведение, оформление и развитие групп в соцсетях, сообществах, блогах и новых медиа;
							li Работа с негативными отзывами (SERM)
							li Подготовка и запуск спецпроектов в интернете
							li Кросс-промоушен с другими сайтами
							li Ежеквартальное предоставление отчётов интернет-проектов
							li Работа с контрагентами, получение и анализ коммерческих предложений

				h5 Заголовок 5-го уровня для заглавия Списка вложенных списков в маркерованный список
				ul
					li Организация рекламных кампаний:
						ul
							li организация выставок и работа со СМИ,
							li оценка эффективности рекламной кампании,
							li разработка предложений по увеличению эффективности рекламной кампании

					li Организация и проведение маркетинговых исследований (полевые исследования по региону, анализ методов и каналов продвижения, ёмкости рынка, конкурентный анализ, ценовой анализ):
						ol
							li определять цели, задачи, регламент, план-график исследования;
							li определять метод маркетингового исследования;
							li определять целевую аудиторию проводимого исследования;
							li составлять анкету/форму опросного листа для проведения исследования;
							li собирать информацию в рамках проводимого исследования;
							li составлять отчет о проведенном маркетинговом исследовании.

					li Ведение интернет-проектов:
						ul
							li Составление плана развития интернет направления
							li Администрирование сайтов компании, регулярное развитие и обновление контента
							li Отслеживание и анализ посещаемости сайтов компании. Анализ поведения посетителей на сайтах
							li Оптимизация сайтов для поисковиков, адаптация для различных платформ.
							li Управление доменами. Хостинг
							li Комплексное продвижение сайтов, анализ (контекстная реклама, SEO)
							li Составление ежемесячного медиаплана
							li Разработка стратегии SMM и SMO

				h3 Список определений:
				dl
					dt первое определение
					dd описание первого определения
					dt второе определение
					dd описание второго определения

				h2 Картинки, врезки и прочие элементы оформления
				p Это обычный абзац. Их таких будет тут много, чтобы разбавлять заголовки и прочие элементы, которые обычно не идут друг за другом, а сочетаются с абзацами текста. Алиса сидела со старшей сестрой на берегу и маялась: делать ей было совершенно нечего, а сидеть без дела, сами знаете, дело нелегкое; раз-другой она, правда, сунула нос в книгу, которую сестра читала, но там не оказалось ни картинок, ни стишков. «Кому нужны книжки без картинок, — или хоть стишков, не понимаю!» — думала Алиса.
				p.insert Это врезка. С помощью неё оформляются ключевые мысли и фразы. Или цитаты.
				p Это обычный абзац. Их таких будет тут много, чтобы разбавлять заголовки и прочие элементы, которые обычно не идут друг за другом, а сочетаются с абзацами текста. Алиса сидела со старшей сестрой на берегу и маялась: делать ей было совершенно нечего, а сидеть без дела, сами знаете, дело нелегкое; раз-другой она, правда, сунула нос в книгу, которую сестра читала, но там не оказалось ни картинок, ни стишков. «Кому нужны книжки без картинок, — или хоть стишков, не понимаю!» — думала Алиса.
				p.small Это незначительный текст. Чтобы разбавлять заголовки и прочие элементы, которые обычно не идут друг за другом, а сочетаются с абзацами текста. Алиса сидела со старшей сестрой на берегу и маялась: делать ей было совершенно нечего, а сидеть без дела, сами знаете, дело нелегкое; раз-другой она, правда, сунула нос в книгу, которую сестра читала.
				ul.horizontal
					li <a href="#">Горизонтальный список</a>
					li <a href="#">С короткими пунктами</a>
					li <a href="#">Иначе не влезет</a>

				h3 Картинка слева от текста
				p
					img.image-left(width="200" src="http://placehold.it/400x300")
					| Картинка по левому краю внутри абзаца. Их таких будет тут много, чтобы разбавлять заголовки и прочие элементы, которые обычно не идут друг за другом, а сочетаются с абзацами текста. Алиса сидела со старшей сестрой на берегу и маялась: делать ей было совершенно нечего, а сидеть без дела, сами знаете, дело нелегкое; раз-другой она, правда, сунула нос в книгу, которую сестра читала, но там не оказалось ни картинок, ни стишков. «Кому нужны книжки без картинок, — или хоть стишков, не понимаю!» — думала Алиса.
				p С&nbsp;горя она начала подумывать (правда, сейчас это тоже было дело не&nbsp;из&nbsp;легких&nbsp;— от&nbsp;жары ее&nbsp;совсем разморило), что, конечно, неплохо&nbsp;бы сплести венок из&nbsp;маргариток, но&nbsp;плохо&nbsp;то, что тогда нужно подниматься и&nbsp;идти собирать эти маргаритки, как вдруг... Как вдруг совсем рядом появился белый кролик с&nbsp;розовыми глазками!
				p Тут, разумеется, еще не&nbsp;было ничего такого необыкновенного; Алиса-то не&nbsp;так уж&nbsp;удивилась, даже когда услыхала, что Кролик сказал (а&nbsp;сказал&nbsp;он: «Ай-ай-ай! Я&nbsp;опаздываю!»). Кстати, потом, вспоминая обо всем этом, она решила, что все-таки немножко удивиться стоило, но&nbsp;сейчас ей&nbsp;казалось, что все идет как надо.

				h3 Картинка справа от текста
				img.image-right(width="200" src="http://placehold.it/400x300")
				p Но&nbsp;когда Кролик достал из&nbsp;жилетного кармана (да-да, именно!) ЧАСЫ (настоящие!) и, едва взглянув на&nbsp;них, опрометью кинулся бежать, тут Алиса так и&nbsp;подскочила!
				p С&nbsp;горя она начала подумывать (правда, сейчас это тоже было дело не&nbsp;из&nbsp;легких&nbsp;— от&nbsp;жары ее&nbsp;совсем разморило), что, конечно, неплохо&nbsp;бы сплести венок из&nbsp;маргариток, но&nbsp;плохо&nbsp;то, что тогда нужно подниматься и&nbsp;идти собирать эти маргаритки, как вдруг... Как вдруг совсем рядом появился белый кролик с&nbsp;розовыми глазками!
				p Тут, разумеется, еще не&nbsp;было ничего такого необыкновенного; Алиса-то не&nbsp;так уж&nbsp;удивилась, даже когда услыхала, что Кролик сказал (а&nbsp;сказал&nbsp;он: «Ай-ай-ай! Я&nbsp;опаздываю!»). Кстати, потом, вспоминая обо всем этом, она решила, что все-таки немножко удивиться стоило, но&nbsp;сейчас ей&nbsp;казалось, что все идет как надо.
				p  Это обычный абзац. Их таких будет тут много, чтобы разбавлять заголовки и прочие элементы, которые обычно не идут друг за другом, а сочетаются с абзацами текста. Алиса сидела со старшей сестрой на берегу и маялась: делать ей было совершенно нечего, а сидеть без дела, сами знаете, дело нелегкое; раз-другой она, правда, сунула нос в книгу, которую сестра читала, но там не оказалось ни картинок, ни стишков. «Кому нужны книжки без картинок, — или хоть стишков, не понимаю!» — думала Алиса.

				h3 Картинка по центру
				p.center
					img.image-center(width="2000" src="http://placehold.it/2000x200" height="200px")
				p Это обычный абзац. Их таких будет тут много, чтобы разбавлять заголовки и прочие элементы, которые обычно не идут друг за другом, а сочетаются с абзацами текста. Алиса сидела со старшей сестрой на берегу и маялась: делать ей было совершенно нечего, а сидеть без дела, сами знаете, дело нелегкое; раз-другой она, правда, сунула нос в книгу, которую сестра читала, но там не оказалось ни картинок, ни стишков. «Кому нужны книжки без картинок, — или хоть стишков, не понимаю!» — думала Алиса.

				h4.center Пример использования класса «center» и горизонтального списка
				ul.horizontal.center
					li
						img(width="200" height="60px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0f/Grosser_Panda.JPG/1024px-Grosser_Panda.JPG")
					li
						img(width="170" height="65px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0f/Grosser_Panda.JPG/1024px-Grosser_Panda.JPG")
					li
						img(width="200" height="55px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0f/Grosser_Panda.JPG/1024px-Grosser_Panda.JPG")

				h2 Ну и таблицы
				h4 Маленькая табличка
				table.table-small(cellspacing="0" cellpadding="0")
					tbody
						tr
							th Название
							th Значение
						tr
							td Ширина воздухоприёмника
							td 254 мм²
						tr
							td Скорость ястреба
							td 14 км/ч
						tr
							td Толщина стебеля
							td Большая

				h4.mobile-hide Большая полосатая таблица
				table.table.stripes(cellspacing="0" cellpadding="0")
					tbody
						tr
							th КС
							th Ссылка
							th Наименование
							th Изображение
							th Доп. изображение
							th Артикул
							th Бренд
							th Модель
						tr
							td 1
							td <a href="http://www.lombard-time.ru/t3914/">http://www.lombard-time.ru/t3914/</a>
							td Rolex Oyster Perpetual Date Submariner
							td img_time/Rolex/К0471/16610.jpg
							td
							td К0471
							td Rolex
							td 16610 black
						tr
							td 2
							td <a href="http://www.lombard-time.ru/t6966/">http://www.lombard-time.ru/t6966/</a>
							td Rolex Oyster Perpetual Submariner HULK
							td img_time/Rolex/К0668/116610LV_green.jpg
							td img_time/Rolex/К0668/116610LV_green_big.jpg
							td К0668
							td Rolex
							td 116610LV
						tr
							td 3
							td <a href="http://www.lombard-time.ru/t4482/">http://www.lombard-time.ru/t4482/</a>
							td Rolex Submariner
							td img_time/Rolex/К0494/116610LN.jpg
							td img_time/Rolex/К0494/116610LN_big.jpg
							td К0494
							td Rolex
							td 116610LN
						tr
							td 4
							td <a href="http://www.lombard-time.ru/t7078/">http://www.lombard-time.ru/t7078/</a>
							td Rolex Oyster Perpetual Yacht-Master II
							td img_time/Rolex/К0508/116688.jpg
							td img_time/Rolex/К0508/116688_big.jpg
							td К0508
							td Rolex
							td 116688
						tr
							td 5
							td <a href="http://www.lombard-time.ru/t7072/">http://www.lombard-time.ru/t7072/</a>
							td Rolex Oyster Perpetual Cosmograph Daytona
							td img_time/Rolex/К0599/116523-black.jpg
							td img_time/Rolex/К0599/116523-black_big.jpg
							td К0599
							td Rolex
							td 116523 Black Dial
						tr
							td 6
							td <a href="http://www.lombard-time.ru/t7073/">http://www.lombard-time.ru/t7073/</a>
							td Rolex Oyster Perpetual Cosmograph Daytona
							td img_time/Rolex/К0553/116523_grey.jpg
							td
							td К0553
							td Rolex
							td 116523 Grey Dial
						tr
							td 7
							td <a href="http://www.lombard-time.ru/t6158/">http://www.lombard-time.ru/t6158/</a>
							td Rolex Oyster Perpetual Cosmograph Daytona
							td img_time/Rolex/К0510/116505.jpg
							td img_time/Rolex/К0510/116505_big.jpg
							td К0510
							td Rolex
							td 116505