extends ../layout/page-template
  
block head
  title Здесь покупают геймеры

block scripts

block stylesheets

block breadcrumbs

block vars
  - var isInner = true; // раскрывать ли подменю в главном меню
  -
    var parts_carousel = [
        {"title": "Корпуса", "image": "assets/img/gaming/gaming-carousel1.png"},
        {"title": "Видеокарты", "image": "assets/img/gaming/gaming-carousel2.png"},
        {"title": "Материнские платы", "image": "assets/img/gaming/gaming-carousel3.png"},
        {"title": "Процессоры", "image": "assets/img/gaming/gaming-carousel4.png"},
        {"title": "Блоки питания", "image": "assets/img/gaming/gaming-carousel5.png"},
        {"title": "Корпуса", "image": "assets/img/gaming/gaming-carousel1.png"},
        {"title": "Видеокарты", "image": "assets/img/gaming/gaming-carousel2.png"},
        {"title": "Материнские платы", "image": "assets/img/gaming/gaming-carousel3.png"},
        {"title": "Процессоры", "image": "assets/img/gaming/gaming-carousel4.png"},
        {"title": "Блоки питания", "image": "assets/img/gaming/gaming-carousel5.png"}
      ],
      accesories_carousel = [
        {"title": "Клавиатуры", "image": "assets/img/gaming/gaming-carousel6.png"},
        {"title": "Мыши", "image": "assets/img/gaming/gaming-carousel7.png"},
        {"title": "Гарнитуры", "image": "assets/img/gaming/gaming-carousel8.png"},
        {"title": "Манипуляторы", "image": "assets/img/gaming/gaming-carousel9.png"},
        {"title": "Коврики", "image": "assets/img/gaming/gaming-carousel10.png"},
        {"title": "Клавиатуры", "image": "assets/img/gaming/gaming-carousel6.png"},
        {"title": "Мыши", "image": "assets/img/gaming/gaming-carousel7.png"},
        {"title": "Гарнитуры", "image": "assets/img/gaming/gaming-carousel8.png"},
        {"title": "Манипуляторы", "image": "assets/img/gaming/gaming-carousel9.png"},
        {"title": "Коврики", "image": "assets/img/gaming/gaming-carousel10.png"}
      ],
      latest_carousel = [
        {"title": "Видеокарта MSI GeForce RTX 2060 Super 8192Mb", "image": "assets/img/gaming/gaming-carousel12.png", "price": "28010"},
        {"title": "Видеокарта NVIDIA TITAN RTX 24GB", "image": "assets/img/gaming/gaming-carousel11.png", "price": "48010"},
        {"title": "Видеокарта MSI GeForce RTX 3060 Super 8192Mb", "image": "assets/img/gaming/gaming-carousel7.png", "price": "38010"}
      ]

block head-scripts

block caption

block inner-content
  section.c-gaming

    +gaming-banner(style="background-image: url('assets/img/gaming/OGO!Gaming-pc8.jpg')")

    section.b-gaming-section
      hr
      br
      h2.b-gaming-section__title Тут обычный слайдер
      hr

    section.b-gaming-section
      .c-gaming-categories
        .c-gaming-categories-left
          .c-gaming-category__cell
            +gaming-category('assets//img/gaming/gaming-category1.png', 'Выбор ПК по играм', 'Подобрать')
          .c-gaming-category__cell
            +gaming-category('assets/img/gaming/gaming-category2.png', 'Сборка PC в конфигураторе', 'Собрать')
          .c-gaming-category__cell
            +gaming-category('assets/img/gaming/gaming-category3.png', 'Выбор товара по обзору', 'Посмотреть')
          .c-gaming-category__cell
            +gaming-category('assets/img/gaming/gaming-category4.png', 'Сообщество для геймеров', 'Вступить ВКонтакте', false, true)
        .c-gaming-categories-right
          span.b-gaming-section__subtitle Нови<span class="flicker">н</span>ка!
          +gaming-slider(...latest_carousel)

      .b-gaming-10years
        // градиент накладывается стилями, грузите только фотку
        .b-gaming-10years-overlay
          span.b-gaming-10years__title 10 ЛЕТ МОЩНЫХ СБОРОК
          a.b-gaming-10years__subtitle(href="#") Узнать больше об ОГО!

    section.b-gaming-section
      .b-news-slider.iblock.js-news-block(class="b-news-slider--gaming")
        .b-news-slider__header
          .b-news-slider__title Мир гейминга и киберспорта
          .b-news-slider__arrows
            a.b-news-slider__all.button-ghost(href="#") Все события
            a.slider-arrow.slider-arrow-prev.js-news-prev.slick-arrow
            a.slider-arrow.slider-arrow-next.js-news-next.slick-arrow

        .b-news-slider__slider.js-news-slider.slick-slider
          .b-news-slider__slide
            .b-gaming-event
              .b-gaming-event__image-wrap
                img.b-gaming-event__image(src="assets/img/gaming/gaming-event1.jpg", alt="Игромир 2020")
              .b-gaming-event-overlay
                span.b-gaming-event__title Игромир 2020
                a.b-gaming-event__link(href="") Подробнее 

          .b-news-slider__slide
            .b-gaming-event 
              .b-gaming-event__image-wrap
                img.b-gaming-event__image(src="assets/img/gaming/gaming-event2.jpg", alt="Конкурс ВКонтакте")
              .b-gaming-event-overlay
                span.b-gaming-event__title Конкурс ВКонтакте
                a.b-gaming-event__link(href="") Подробнее 

          .b-news-slider__slide
            .b-gaming-event
              .b-gaming-event__image-wrap
                img.b-gaming-event__image(src="assets/img/gaming/gaming-event3.jpg", alt="Релиз Киберпанк")
              .b-gaming-event-overlay
                span.b-gaming-event__title Релиз Киберпанк
                a.b-gaming-event__link(href="") Подробнее 

          .b-news-slider__slide
            .b-gaming-event 
              .b-gaming-event__image-wrap
                img.b-gaming-event__image(src="assets/img/gaming/gaming-event4.jpg", alt="Стрим какого-то блогера")
              .b-gaming-event-overlay
                span.b-gaming-event__title Стрим какого-то блогера
                a.b-gaming-event__link(href="") Подробнее 

          .b-news-slider__slide
            .b-gaming-event
              .b-gaming-event__image-wrap
                img.b-gaming-event__image(src="assets/img/gaming/gaming-event5.jpg", alt="Презентация NVIDIA")
              .b-gaming-event-overlay
                span.b-gaming-event__title Презентация NVIDIA
                a.b-gaming-event__link(href="") Подробнее 

    section.b-gaming-section
      h2.b-gaming-section__title ВЫБ<span class="fast-flicker">Е</span>РИ СВ<span class="flicker">О</span>Й ПК
      +gaming-categories()

    section.b-gaming-section
      h2.b-gaming-section__title КОМ<span class="flicker">П</span>ЛЕКТУЮ<span class="fast-flicker">Щ</span>ИЕ
      +gaming-carousel(...parts_carousel)
      +gaming-parts()

    section.b-gaming-section
      h2.b-gaming-section__title АК<span class="fast-flicker">С</span>ЕСС<span class="flicker">У</span>АРЫ
      +gaming-carousel(...accesories_carousel)

    section.b-gaming-section
      // Используется стандартный слайдер новостей c new.ogo1.ru
      // Модификатор блока b-news-slider--gaming
      // Кнопки в новостях заменены на .button-gaming
      .b-news-slider.iblock.js-news-block(class="b-news-slider--gaming")
        .b-news-slider__header
          .b-news-slider__title Новости и акции
          .b-news-slider__arrows
            a.b-news-slider__all.button-ghost(href="#") Все новости
            a.slider-arrow.slider-arrow-prev.js-news-prev.slick-arrow
            a.slider-arrow.slider-arrow-next.js-news-next.slick-arrow

        .b-news-slider__slider.js-news-slider.slick-slider
          .b-news-slider__slide
            .b-news-slider__slide-wrap
              .b-news-slider__logo-holder
                a(href="#")
                  img.b-news-slider__logo(src="assets/img/gaming/gaming-news1.jpg", alt="Неделя живых скидок до 50%")
              .b-news-slider__caption Прямой эфир мероприятия GeForce Special Event 1 сентября!
              .b-news-slider__bottom-section
                .b-news-slider__date <nobr>30.06.2020</nobr>
                a.b-news-slider__more.button-gaming(href="#") Подробнее

          .b-news-slider__slide
            .b-news-slider__slide-wrap
              .b-news-slider__logo-holder
                a(href="#")
                  img.b-news-slider__logo(src="assets/img/gaming/gaming-news2.jpg", alt="Неделя живых скидок до 50%")
              .b-news-slider__caption При покупке монитора GIGABYTE карта Netflix на €25 в подарок
              .b-news-slider__bottom-section
                .b-news-slider__date <nobr>30.06.2020</nobr>
                a.b-news-slider__more.button-gaming(href="#") Подробнее

          .b-news-slider__slide
            .b-news-slider__slide-wrap
              .b-news-slider__logo-holder
                a(href="#")
                  img.b-news-slider__logo(src="assets/img/gaming/gaming-news3.jpg", alt="Неделя живых скидок до 50%")
              .b-news-slider__caption 50$ на Steam при покупке монитора MSI
              .b-news-slider__bottom-section
                .b-news-slider__date <nobr>30.06.2020</nobr>
                a.b-news-slider__more.button-gaming(href="#") Подробнее

          .b-news-slider__slide
            .b-news-slider__slide-wrap
              .b-news-slider__logo-holder
                a(href="#")
                  img.b-news-slider__logo(src="assets/img/gaming/gaming-news1.jpg", alt="Неделя живых скидок до 50%")
              .b-news-slider__caption Прямой эфир мероприятия GeForce Special Event 1 сентября!
              .b-news-slider__bottom-section
                .b-news-slider__date <nobr>30.06.2020</nobr>
                a.b-news-slider__more.button-gaming(href="#") Подробнее

          .b-news-slider__slide
            .b-news-slider__slide-wrap
              .b-news-slider__logo-holder
                a(href="#")
                  img.b-news-slider__logo(src="assets/img/gaming/gaming-news2.jpg", alt="Неделя живых скидок до 50%")
              .b-news-slider__caption При покупке монитора GIGABYTE карта Netflix на €25 в подарок
              .b-news-slider__bottom-section
                .b-news-slider__date <nobr>30.06.2020</nobr>
                a.b-news-slider__more.button-gaming(href="#") Подробнее

          .b-news-slider__slide
              .b-news-slider__slide-wrap
                .b-news-slider__logo-holder
                  a(href="#")
                    img.b-news-slider__logo(src="assets/img/gaming/gaming-news3.jpg", alt="Неделя живых скидок до 50%")
                .b-news-slider__caption 50$ на Steam при покупке монитора MSI
                .b-news-slider__bottom-section
                  .b-news-slider__date <nobr>30.06.2020</nobr>
                  a.b-news-slider__more.button-gaming(href="#") Подробнее
        
    section.b-gaming-section
      .b-gaming-partners__header
        .b-news-slider__title Партнеры
      .b-gaming-partners__grid
        a.b-gaming__partner(href="#")
          img(src="assets/img/gaming/partner-1.png", alt="Razer")
        a.b-gaming__partner(href="#")
          img(src="assets/img/gaming/partner-2.png", alt="Gigabyte")
        a.b-gaming__partner(href="#")
          img(src="assets/img/gaming/partner-3.png", alt="MSI")
        a.b-gaming__partner(href="#")
          img(src="assets/img/gaming/partner-4.png", alt="ASUS")
        a.b-gaming__partner(href="#")
          img(src="assets/img/gaming/partner-5.png", alt="NVIDIA")
        a.b-gaming__partner(href="#")
          img(src="assets/img/gaming/partner-6.png", alt="Dell")
