extends ../layout/page-template
  
block head
  title Здесь покупают геймеры

block scripts

block stylesheets

block breadcrumbs

block vars
  - var isInner = true; // раскрывать ли подменю в главном меню

block head-scripts

block caption

block inner-content
  section.c-gaming
    article.b-gaming-review
      .b-gaming-review__video.widescreen
        iframe(src="https://www.youtube.com/embed/l6rXMLFKQNk" width="100%" height="100%" frameborder="0" allowfullscreen)
      h2.b-gaming-review__title.b-gaming-review__title--large Обзор крутой видеокарты последнего поколения GeForce RTX 3090
      time.b-gaming-review__date(datetime="2020-10-28") 12.10.2020
      .b-gaming-review__desc Напишем тут интересное описание под видео.<br>Например, кто был ведущим на стриме и прочая фигня.