extends ../layout/page-template
  
block head
  title Конкурс ВКонтакте

block scripts

block stylesheets

block breadcrumbs

block vars
  - var isInner = true; // раскрывать ли подменю в главном меню

block head-scripts

block caption

block inner-content
  section.c-gaming.c-gaming--contest
    section.b-gaming-section
      .b-gaming-divider
      
      img(src="https://dummyimage.com/1200x350/eee/000" style="max-width: 100%")

      h2.b-gaming-contest__section-title Информация о призах

      .b-gaming4k-grid
        .b-gaming4k-grid__cell.lg-4.sm-12
          a(href="#").b-gaming-contest__prize.b-gaming-contest__prize--small
            .b-gaming-contest__prize-image
              img(src="assets/img/gaming/gaming-prize.jpg")
            span.b-gaming-contest__prize-title Гоночный руль для ПК SpeedLink BLACK BOLT Racing Wheel

        .b-gaming4k-grid__cell.lg-4.sm-12
          a(href="#").b-gaming-contest__prize.b-gaming-contest__prize--small
            .b-gaming-contest__prize-image
              img(src="assets/img/gaming/gaming-prize.jpg")
            span.b-gaming-contest__prize-title Гоночный руль для ПК SpeedLink BLACK BOLT Racing Wheel

        .b-gaming4k-grid__cell.lg-4.sm-12
          a(href="#").b-gaming-contest__prize.b-gaming-contest__prize--small
            .b-gaming-contest__prize-image
              img(src="assets/img/gaming/gaming-prize.jpg")
            span.b-gaming-contest__prize-title Гоночный руль для ПК SpeedLink BLACK BOLT Racing Wheel
      
    section.b-gaming-section
      .b-gaming-contest__prize
        .b-gaming-contest__prize-image
          img(src="assets/img/gaming/gaming-prize.jpg")
        .b-gaming-contest__prize-desc
          span.b-gaming-contest__prize-title Гоночный руль для ПК SpeedLink BLACK BOLT Racing Wheel
          ul.b-gaming__list
            li Точное управление педалями газа и тормоза
            li Совместимость со всеми играми под Windows – XInput и DirectInput
            li Cruise Mode для автоматического регулирования скорости
            li Боковые ручки Super Grip
            li Идеальная точность управления гарантирует превосходный контроль во время гонок
            li Сильные виброэффекты обеспечивают высочайший реализм в игре
          p Всё о призе и товарах SpeedLink: <a href="https://vk.cc/c2kUMZ">https://vk.cc/c2kUMZ</a>

      .b-gaming-contest__prize
        .b-gaming-contest__prize-image
          img(src="assets/img/gaming/gaming-prize.jpg")
        .b-gaming-contest__prize-desc
          span.b-gaming-contest__prize-title Гоночный руль для ПК SpeedLink BLACK BOLT Racing Wheel
          ul.b-gaming__list
            li Точное управление педалями газа и тормоза
            li Совместимость со всеми играми под Windows – XInput и DirectInput
            li Cruise Mode для автоматического регулирования скорости
            li Боковые ручки Super Grip
            li Идеальная точность управления гарантирует превосходный контроль во время гонок
            li Сильные виброэффекты обеспечивают высочайший реализм в игре
          p Всё о призе и товарах SpeedLink: <a href="https://vk.cc/c2kUMZ">https://vk.cc/c2kUMZ</a>

    section.b-gaming-section
      .b-gaming4k-grid.align-center
        .b-gaming4k-grid__cell.lg-1-of-5.md-1-of-5.sm-6
          a(href="#").b-gaming-contest__prize.b-gaming-contest__prize--small
            .b-gaming-contest__prize-image
              img(src="assets/img/gaming/gaming-prize.jpg")
            span.b-gaming-contest__prize-title Гоночный руль для ПК SpeedLink BLACK BOLT Racing Wheel

        .b-gaming4k-grid__cell.lg-1-of-5.md-1-of-5.sm-6
          a(href="#").b-gaming-contest__prize.b-gaming-contest__prize--small
            .b-gaming-contest__prize-image
              img(src="assets/img/gaming/gaming-prize.jpg")
            span.b-gaming-contest__prize-title Гоночный руль для ПК SpeedLink BLACK BOLT Racing Wheel

        .b-gaming4k-grid__cell.lg-1-of-5.md-1-of-5.sm-6
          a(href="#").b-gaming-contest__prize.b-gaming-contest__prize--small
            .b-gaming-contest__prize-image
              img(src="assets/img/gaming/gaming-prize.jpg")
            span.b-gaming-contest__prize-title Гоночный руль для ПК SpeedLink BLACK BOLT Racing Wheel
        
        .b-gaming4k-grid__cell.lg-1-of-5.md-1-of-5.sm-6
          a(href="#").b-gaming-contest__prize.b-gaming-contest__prize--small
            .b-gaming-contest__prize-image
              img(src="assets/img/gaming/gaming-prize.jpg")
            span.b-gaming-contest__prize-title Гоночный руль для ПК SpeedLink BLACK BOLT Racing Wheel
        
        .b-gaming4k-grid__cell.lg-1-of-5.md-1-of-5.sm-6
          a(href="#").b-gaming-contest__prize.b-gaming-contest__prize--small
            .b-gaming-contest__prize-image
              img(src="assets/img/gaming/gaming-prize.jpg")
            span.b-gaming-contest__prize-title Гоночный руль для ПК SpeedLink BLACK BOLT Racing Wheel
    
    section.b-gaming-section
      .b-gaming4k-grid
        .b-gaming4k-grid__cell.lg-6.md-6.sm-12
          ul.b-gaming__list
            li Приз #1 Клавиатура крутецкая
            li Приз #2 Мышь для идеальной игры
            li Приз #3 Гарнитура с лучшей изоляцией внешнего шума
            li Приз #4 Геймпад для твоей лучшей игры
            li Приз #5 Крутая игруха супер популярная
            li Приз #6 Клавиатура крутецкая
            li Приз #7 Мышь для идеальной игры
            li Приз #8 Гарнитура с лучшей изоляцией внешнего шума
            li Приз #9 Геймпад для твоей лучшей игры
            li Приз #10 Крутая игруха супер популярная
        .b-gaming4k-grid__cell.lg-6.md-6.sm-12
          ul.b-gaming__list
            li Приз #11 Клавиатура крутецкая
            li Приз #12 Мышь для идеальной игры
            li Приз #13 Гарнитура с лучшей изоляцией внешнего шума
            li Приз #14 Геймпад для твоей лучшей игры
            li Приз #15 Крутая игруха супер популярная
            li Приз #16 Клавиатура крутецкая
            li Приз #17 Мышь для идеальной игры
            li Приз #18 Гарнитура с лучшей изоляцией внешнего шума
            li Приз #19 Геймпад для твоей лучшей игры
            li Приз #20 Крутая игруха супер популярная

    section.b-gaming-section.b-gaming-section--light
      h2.b-gaming-contest__section-title Выполни простые условия конкурса!
      .b-gaming4k-grid
        .b-gaming4k-grid__cell.lg-4.md-4.sm-12 
          .b-gaming-contest__require
            .b-gaming-contest__require-image
              img(src="assets/img/gaming/gaming-contest-rq1.png")
            span.b-gaming-contest__require-title Подпишись на нашу группу ВКонтакте “ОГО!&nbsp;Здесь&nbsp;покупают&nbsp;геймеры”

        .b-gaming4k-grid__cell.lg-4.md-4.sm-12 
          .b-gaming-contest__require
            .b-gaming-contest__require-image
              img(src="assets/img/gaming/gaming-contest-rq2.png")
            span.b-gaming-contest__require-title Лайкни пост с конкурсом и открой страницу на время проведения конкурса

        .b-gaming4k-grid__cell.lg-4.md-4.sm-12 
          .b-gaming-contest__require
            .b-gaming-contest__require-image
              img(src="assets/img/gaming/gaming-contest-rq3.png")
            span.b-gaming-contest__require-title Итоги подведём 7 июня 2021 года с помощью рандомайзера
      
      p.text-center Подробные условия участия: <a href="https://vk.cc/c2nbRp">https://vk.cc/c2nbRp</a>

    section.b-gaming-section
      .b-gaming4k-grid.align-center
        .b-gaming4k-grid__cell.lg-7.md-10.sm-12
          p.b-gaming-contest__addtext И нет сомнений, что стремящиеся вытеснить традиционное производство, нанотехнологии призывают нас к новым свершениям, которые, в свою очередь, должны быть ограничены исключительно образом мышления. Таким образом, дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании форм воздействия.
          .b-gaming-divider
          p.text-center
            a(href="#").button-gaming <strong>Участвовать в конкурсе ВКонтакте</strong>

    section.b-gaming-section
      a(href="#").b-gaming__cta
        img(src="assets/img/gaming/cta-big.png", alt="Перейти на игровой сайт").b-gaming__cta-image
        img(src="assets/img/gaming/cta-small.png", alt="Перейти на игровой сайт").b-gaming__cta-image-sm