extends ../layout/page-template
  
block head
  title Расскажем про DLSS в ваших любимых играх в прямом эфире в VK

block scripts

block stylesheets

block breadcrumbs

block vars
  - var isInner = true; // раскрывать ли подменю в главном меню

block head-scripts

block caption

block inner-content
  section.c-gaming
    section.b-gaming-section