extends ../layout/page-template
  
block head
  title Здесь покупают геймеры

block scripts

block stylesheets

block breadcrumbs

block vars
  - var isInner = true; // раскрывать ли подменю в главном меню

block head-scripts

block caption

block inner-content
  section.c-gaming
    .c-gaming-reviews
      h2.b-gaming-section__title.text-left ОБЗ<span class="flicker">О</span>РЫ
      .c-gaming-reviews-grid
        each val in [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
          .c-gaming-reviews-grid__cell
            .b-gaming-review__video.widescreen
              iframe(src="https://www.youtube.com/embed/l6rXMLFKQNk" width="100%" height="100%" frameborder="0" allowfullscreen)
            h2.b-gaming-review__title Обзор крутой видеокарты последнего поколения GeForce RTX 3090
            time.b-gaming-review__date(datetime="2020-10-28") 12.10.2020
      a.c-gaming__more-link.button-gaming(href="") Показать еще