extends ../layout/page-template
  
block head
  title Здесь покупают геймеры

block scripts

block stylesheets

block breadcrumbs

block vars
  - var isInner = true; // раскрывать ли подменю в главном меню

block head-scripts

block caption

block inner-content
  section.c-gaming
    .b-gaming-hero
      .b-gaming-hero-grid
        .b-gaming-hero__cell.b-gaming-hero__cell-first
          h2.b-gaming-section__title.text-left КИБЕ<span class="fast-flicker">Р</span>СПОРТИ<span class="flicker">В</span>НАЯ<br>С<span class="fast-flicker">Е</span>РИЯ
          p Игровые компьютеры киберспортивной серии созданы специально с учетом требований основных киберспортивных дисциплин. Рассчитаны на максимально высокий FPS при высоких и ультра - настройках качества графики. Поддерживают возможность разгона. Старшие решения также подойдут для стриминга и трансляций, покажут отличную производительность при обработке видео и графического контента. 
        .b-gaming-hero__cell.b-gaming-hero__cell-second
          img.b-gaming-hero__image(src="assets/img/gaming/gaming-hero.png", alt="")
        .b-gaming-hero__cell.b-gaming-hero__cell-third
          .b-gaming-advantages
            .b-gaming-advantage__cell
              p.b-gaming-advantage__title Технологии и преимущества:
              ul.b-gaming-advantage__list
                li.b-gaming-advantage__list-item #FPSИМЕЕТЗНАЧЕНИЕ
                li.b-gaming-advantage__list-item DLSS 2.0
                li.b-gaming-advantage__list-item G-Sync
                li.b-gaming-advantage__list-item STUDIO
            
            .b-gaming-advantage__cell
              p.b-gaming-advantage__title Видеокарты:
              ul.b-gaming-advantage__list
                li.b-gaming-advantage__list-item RTX2060+
                li.b-gaming-advantage__list-item RTX3070
                li.b-gaming-advantage__list-item RTX3080