extends ../layout/page-template

block head
	title Личный кабинет

block head-scripts

block breadcrumbs

block caption
	h1.full-width.c-lk__caption Личный кабинет

block inner-content
	section.c-lk
		.c-lk__main._white
			.c-lk__cols._white
				.c-lk__main-col._white
					+inner-menu()