.b-bonus-card {
  padding-left: 20px;
  padding-right: 20px;

  &__header {
    @include clearfix;
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f1f1f1;
  }

  &__main {
    padding-bottom: 20px;
  }

  &__title {
    float: left;
    font-size: 18/16*100%;
    color: #333;
  }

  &__input-cols {
    @include clearfix;
    margin-left: -10px;
    margin-right: -10px;
  }

  &__input-col {
    @include box-sizing;
    float: left;
    width: 1/3*100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
  }

  &__field-label {
    @include mbot(10/20);
    font-size: 14/16*100%;
    font-weight: 200;
    color: #262626;
  }

  &__field-input {
    font-size: 14/16*100%;
    color: #333;

    &_right {
      text-align: right;
    }

    &_checkbox {
      padding-top: 10px;
    }

    .b-radio {
      margin-right: 1.5em;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__activation {
    @include box-sizing;
    width: 100%;
    max-width: 182px;
    text-align: center;
  }

  &__input-separator {
    clear: left;
    position: relative;
    padding-top: 20px;
    margin-left: 10px;
    margin-right: 10px;

    &:after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 1px;
      background-color: #f1f1f1;
    }
  }

  input {
    width: 100%;
  }
}

@mixin mx820($mod: "") {
  .b-bonus-card#{$mod} {
    .b-bonus-card {
      &__input-col {
        width: 50%;
      }
    }
  }
}

@mixin mx530($mod: "") {
  .b-bonus-card#{$mod} {
    .b-bonus-card {
      &__input-col {
        width: 100%;
      }
    }

    .b-info-tooltip__container {
      left: 0;
      margin-left: -10px;
      max-width: 200px;

      &:before {
        left: 7px;
        margin-left: 0;
      }
    }
  }
}

@include mx820("._mx820");
@include mx530("._mx530");

.c-lk__card-activation {
  @media (max-width: 1220px) {
    @include mx820();
  }

  @media (max-width: 570px) {
    @include mx530();
  }
}
