.b-search-line {

  &__field {
    position: relative;

    &._filled {
      .b-search-line__placeholder {
        display: none;
      }
    }
  }

  &__input[type="text"] {
    @include box-sizing;
    width: 100%;
    padding-right: 40px;
  }

  &__input_thin[type="text"] {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  &__submit {
    position: absolute;
    width: 1px;
    height: 1px;
    visibility: hidden;
  }

  &__send {
    @include bgr("../img/search","png");
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 10px;
    width: 21px;
    height: 22px;
    margin-top: -11px;
    background-repeat: no-repeat;
    background-size: 21px 21px;
    background-position: 50%;
    cursor: pointer;
  }

  &__placeholder {
    position: absolute;
    top: 50%;
    right: 40px;
    left: 1em;
    overflow: hidden;
    margin-top: -9px;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: text;

    &_thin {
      margin-top: -10px;
    }
  }

  &__ph-pre {
    display: inline;
    color: #bfbfbf;
  }

  &__ph-main {
    display: inline;
  }

  input[type="text"]:focus ~ .b-search-line__placeholder {
    display: none;
  }

  &__field-drop {
    box-sizing: border-box;
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 0;
    border: 1px solid #e0e0e0;
    visibility: hidden;
    opacity: 0;
    background: #fff;

    .b-search-line__field-drop-section:nth-last-child(1) {
      .b-search-line__field-drop-border {
        border: 0;
      }
    }

    &-section {
      padding: 20px;
      padding-bottom: 0;
      padding-right: 0;
    }

    &-titile {
      color: #969696;
      font-weight: 300;
      font-size: 14px;
      padding-left: 20px;
      margin-left: -20px;
      padding-bottom: 10px;
    }

    &-item {
      display: inline-block;
      width: 100%;
      font-size: 14px;
      font-weight: 100;
      padding-bottom: 10px;
      text-decoration: none;
      color: #000;

      &:hover {
        margin-left: -20px;
        padding-left: 20px;
        background: #e0e0e0;

        .b-search-line__field-drop-section {
          padding-right: 0;
        }
      }
    }

    &-border {
      border-bottom: 1px solid #e0e0e0;
      margin-right: 20px;
      margin-top: -1px;
    }
  }

  &__field-drop__active {
    opacity: 1;
    visibility: visible;
    height: auto;
    transition: 0.4s;
  }
}


