mixin socials-bind()
	.b-socials-bind.iblock&attributes(attributes)
		.b-socials-bind__header
			.b-socials-bind__title Привязка социальных сетей
			.b-socials-bind__status Изменения сохранены: <span class="b-socials-bind__status-sub">Facebook привязан</span>

		.b-socials-bind__main
			ul.b-socials-bind__items
				li.b-socials-bind__item
					a.b-socials-bind__social-link.b-socials-bind__social-link_fb(href="#")
						span.b-socials-bind__checked
						span.b-socials-bind__link-status Facebook
				li.b-socials-bind__item
					a.b-socials-bind__social-link.b-socials-bind__social-link_vk(href="#")
						span.b-socials-bind__checked
						span.b-socials-bind__link-status VKontakte
				li.b-socials-bind__item
					a.b-socials-bind__social-link.b-socials-bind__social-link_ok(href="#")
						span.b-socials-bind__checked
						span.b-socials-bind__link-status Одноклассники
				li.b-socials-bind__item
					a.b-socials-bind__social-link.b-socials-bind__social-link_gg(href="#")
						span.b-socials-bind__checked
						span.b-socials-bind__link-status Google+
				li.b-socials-bind__item
					a.b-socials-bind__social-link.b-socials-bind__social-link_tw(href="#")
						span.b-socials-bind__checked
						span.b-socials-bind__link-status Twitter
