mixin product-params()
	.b-product-params.iblock&attributes(attributes)
		.b-product-params__caption Технические характеристики
		ul.b-product-params__sections
			li.b-product-params__section
				.b-product-params__section-caption.b-product-params__section-caption_active Самое главное
				.b-product-params__section-holder.b-product-params__section-holder_active
					ul.b-product-params__params
						li.b-product-params__param
							.b-product-params__param-label Подавление эффекта красных глаз
							.b-product-params__param-value Да
						li.b-product-params__param
							.b-product-params__param-label Дисплей (дюймы)
							.b-product-params__param-value 3.0
						li.b-product-params__param
							.b-product-params__param-label Карта памяти
							.b-product-params__param-value SDXC, SDHC, SD
						li.b-product-params__param
							.b-product-params__param-label Вспышка
							.b-product-params__param-value Встроенная выдвижная, &laquo;горячий&raquo; башмак
						li.b-product-params__param
							.b-product-params__param-label Стабилизатор
							.b-product-params__param-value Нет
						li.b-product-params__param
							.b-product-params__param-label Формат записи
							.b-product-params__param-value Фото: RAW, JPEG, Видео: MOV (H.264)
						li.b-product-params__param
							.b-product-params__param-label Материал корпуса
							.b-product-params__param-value Пластик
						li.b-product-params__param
							.b-product-params__param-label Сенсорный дисплей
							.b-product-params__param-value Нет
						li.b-product-params__param
							.b-product-params__param-label Сменный обьектив
							.b-product-params__param-value Да
						li.b-product-params__param
							.b-product-params__param-label Съемка в&nbsp;RAW
							.b-product-params__param-value Да
						li.b-product-params__param
							.b-product-params__param-label 3D съёмка
							.b-product-params__param-value Нет

			li.b-product-params__section
				.b-product-params__section-caption Габариты и&nbsp;вес
				.b-product-params__section-holder
					ul.b-product-params__params
						li.b-product-params__param
							.b-product-params__param-label Подавление эффекта красных глаз
							.b-product-params__param-value Да
						li.b-product-params__param
							.b-product-params__param-label Дисплей (дюймы)
							.b-product-params__param-value 3.0
						li.b-product-params__param
							.b-product-params__param-label Карта памяти
							.b-product-params__param-value SDXC, SDHC, SD

			li.b-product-params__section
				.b-product-params__section-caption Размер упаковки
				.b-product-params__section-holder
					ul.b-product-params__params
						li.b-product-params__param
							.b-product-params__param-label Подавление эффекта красных глаз
							.b-product-params__param-value Да
						li.b-product-params__param
							.b-product-params__param-label Дисплей (дюймы)
							.b-product-params__param-value 3.0
						li.b-product-params__param
							.b-product-params__param-label Карта памяти
							.b-product-params__param-value SDXC, SDHC, SD
