mixin promo-block5()
	.b-promo-block5.iblock&attributes(attributes)

		.b-promo-block5__header
			.b-promo-block5__date <nobr>5.12.2015</nobr>&nbsp;&mdash; <nobr>31.12.2015</nobr>
			.b-promo-block5__expired Акция завершена

		.b-promo-block5__banner
			.b-promo-block5__bg-holder
				img.b-promo-block5__bg(src="assets/img/content/promo5-bg.png" alt="Фон" width=607 height=190)

			.b-promo-block5__content-holder
				a.b-promo-block5__title(href="#")
					span.b-promo-block5__top-title Время исполнять мечту
					span.b-promo-block5__bottom-title -6&nbsp;000 <span class="rub">i</span>

				.b-promo-block5__remark При покупке смартфона только до&nbsp;конца 2015 года
