mixin pickpoint-confirm()
  .b-pickpoint-confirm.iblock&attributes(attributes)
    .b-pickpoint-confirm__caption Способ получения
    .b-pickpoint-confirm__cols
      .b-pickpoint-confirm__info-col
        .b-pickpoint-confirm__title Магазин <span class="metro-icon">м</span>&nbsp;Площадь Ильича
        .b-pickpoint-confirm__address г.&nbsp;Москва, Золоторожский Вал, д. 4, стр.&nbsp;4
        .b-pickpoint-confirm__remark Можно забрать сегодня (<nobr>01.02.2016</nobr>) после 15:00
        .b-pickpoint-confirm__prop
          span.b-pickpoint-confirm__prop-label Принимаем к&nbsp;оплате:
          span.b-pickpoint-confirm__prop-value Наличные, банковские карты VISA, MasterCard
        .b-pickpoint-confirm__prop
          span.b-pickpoint-confirm__prop-label Время работы:
          span.b-pickpoint-confirm__prop-value <nobr>Пн-Вс</nobr> 10:00 до&nbsp;22:00
        .b-pickpoint-confirm__prop
          span.b-pickpoint-confirm__prop-label Как пройти:
          span.b-pickpoint-confirm__prop-value м. Коломенское, выход к&nbsp;первому вагону из&nbsp;центра, из&nbsp;стеклянной двери направо, по&nbsp;подземному переходу 5&nbsp;м прямо, потом поворачивайте налево и&nbsp;выходите в&nbsp;город на&nbsp;проспект Андропова, к&nbsp;ТЦ&nbsp;<nobr>&laquo;Гвоздь-2&raquo;</nobr>. Входите в&nbsp;ТЦ, по&nbsp;эскалатору поднимаетесь на&nbsp;3 этаж, поворачиваете направо, проходите мимо &laquo;Ателье&raquo;, проворачивайте налево, прямо 2&nbsp;м., справа от&nbsp;Вас ПВЗ &laquo;<nobr>Pick-up</nobr>.ru&raquo;

      .b-pickpoint-confirm__map-col
        +ymap()
