mixin cart-product()
  .b-cart-product.iblock&attributes(attributes)
    .b-cart-product__description
      .b-cart-product__image-col
        a(href="#")
          img.b-cart-product__image(src="assets/img/content/products/product-preview7.jpg", alt="Товар" width=218 height=218)

      .b-cart-product__title-col
        .b-cart-product__art Арт. 34534345
        a.b-cart-product__title(href="#") Canon PowerShot SX400 IS с&nbsp;улучшенной матрицей и&nbsp;объективом

        .b-cart-product__mobile-price
          .b-cart-product__current-price 49&nbsp;999 <span class="rub">i</span>
          .b-cart-product__old-price._mobile 55&nbsp;999 <span class="rub">i</span>
          .b-cart-product__bonus._mobile +4&nbsp;999 бонусов

      .b-cart-product__ui
        .b-cart-product__qtty-col
          input.b-cart-product__qtty(type="tel" value=1 data-mask="qtty")

        .b-cart-product__price-col
          .b-cart-product__current-price 49&nbsp;999 <span class="rub">i</span>
          .b-cart-product__old-price 55&nbsp;999 <span class="rub">i</span>
          .b-cart-product__bonus +4&nbsp;999 бонусов

        .b-cart-product__btn-col
          .b-cart-product__btns
            a.b-cart-product__favor(href="#")
            a.b-cart-product__compare(href="#")
            a.b-cart-product__remove(href="#")

    .b-cart-product__sku-holder
      ul.b-cart-product__sku-items
        li.b-cart-product__sku-item
          .b-cart-product__sku
            .b-cart-product__sku-label Цвет корпуса:
            .b-cart-product__sku-input
              select.b-cart-product__sku-select.select2
                option Белый
                option Синий
                option Черный

        li.b-cart-product__sku-item
          .b-cart-product__sku
            .b-cart-product__sku-label Объем памяти:
            .b-cart-product__sku-input
              select.b-cart-product__sku-select.select2
                option 4Gb
                option 8Gb
                option 16Gb

    .b-cart-product__cross
      .b-cart-product__cross-products Подберите к этому товару <a href='#' class='b-cart-product__cross-link'>объектив,</a> <a href='#' class='b-cart-product__cross-link'>бленду,</a> <a href='#' class='b-cart-product__cross-link'>сумку,</a> <a href='#' class='b-cart-product__cross-link'>штатив</a>

mixin cart-product_confirm()
  .b-cart-product.iblock&attributes(attributes)
    .b-cart-product__wrap
      .b-cart-product__image-col
        a(href="#")
          img.b-cart-product__image(src="assets/img/content/products/product-preview7.jpg", alt="Товар" width=218 height=218)

      .b-cart-product__description-col
        .b-cart-product__art Арт. 34534345
        a.b-cart-product__title(href="#") ATX Miditower Accord <nobr>P-25B</nobr> Black

      .b-cart-product__qtty-col
        span.b-cart-product__qtty-text 1 шт.

      .b-cart-product__price-col
        .b-cart-product__current-price 49&nbsp;999 <span class="rub">i</span>
        .b-cart-product__old-price 55&nbsp;999 <span class="rub">i</span>
        .b-cart-product__bonus +4&nbsp;999 бонусов

mixin cart-product_checkout()
  .b-cart-product.iblock&attributes(attributes)
    .b-cart-product__description
      .b-cart-product__image-col
        a(href="#")
          img.b-cart-product__image(src="assets/img/content/products/product-preview7.jpg", alt="Товар" width=218 height=218)

      .b-cart-product__title-col
        .b-cart-product__art Арт. 34534345
        a.b-cart-product__title(href="#") Canon PowerShot SX400 IS с&nbsp;улучшенной матрицей и&nbsp;объективом

        .b-cart-product__mobile-price
          .b-cart-product__current-price 49&nbsp;999 <span class="rub">i</span>
          .b-cart-product__old-price._mobile 55&nbsp;999 <span class="rub">i</span>
          .b-cart-product__bonus._mobile +4&nbsp;999 бонусов

      .b-cart-product__ui.b-cart-product__ui_confirm
        .b-cart-product__qtty-col
          .b-cart-product__qtty-val 1 шт.

        .b-cart-product__price-col
          .b-cart-product__current-price 49&nbsp;999 <span class="rub">i</span>
          .b-cart-product__old-price 55&nbsp;999 <span class="rub">i</span>
          .b-cart-product__bonus +4&nbsp;999 бонусов

    .b-cart-product__sku-holder
      ul.b-cart-product__sku-items
        li.b-cart-product__sku-item
          .b-cart-product__sku
            .b-cart-product__sku-label Цвет корпуса:
            .b-cart-product__sku-input
              select.b-cart-product__sku-select.select2
                option Белый
                option Синий
                option Черный

        li.b-cart-product__sku-item
          .b-cart-product__sku
            .b-cart-product__sku-label Объем памяти:
            .b-cart-product__sku-input
              select.b-cart-product__sku-select.select2
                option 4Gb
                option 8Gb
                option 16Gb

    .b-cart-product__cross
      .b-cart-product__cross-products Подберите к этому товару <a href='#' class='b-cart-product__cross-link'>объектив,</a> <a href='#' class='b-cart-product__cross-link'>бленду,</a> <a href='#' class='b-cart-product__cross-link'>сумку,</a> <a href='#' class='b-cart-product__cross-link'>штатив</a>
