mixin contacts()
  .b-contacts.iblock&attributes(attributes)
    .b-contacts__phone-holder
      a.b-contacts__phone(href="tel:74952295653;") <nobr>+7 495 229-56-53</nobr>
    .b-contacts__bottom-holder
      span.b-contacts__time Звоните с&nbsp;10:00 до&nbsp;22:00
      a.b-contacts__callback.js-modal(href="#callback-modal") Перезвонить?

mixin contacts_status()
  .b-contacts.iblock&attributes(attributes)
    .b-contacts__phone-holder
      a.b-contacts__phone(href="tel:74952295653;") <nobr>+7 495 229-56-53</nobr>
    .b-contacts__bottom-holder
      a.b-contacts__callback._block.js-modal(href="#callback-modal") Перезвонить?
      span.b-contacts__time Звоните с&nbsp;10:00 до&nbsp;22:00
