.b-product-marks {
  display: flex;
  flex-flow: row wrap;
  margin: -7px;
  font-size: rem(12);
  line-height: rem(15);
  .c-catalog__product-rating &{
    margin-top: 10px;
  }
  .b-product-mark {
    margin: 7px;  
  }
}
.b-product-mark {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  padding: 2px 10px;
  &--abroad {
    border: 1px solid #DC3E48;
  }
  &--alert {
    color: #fff;
    background: #941137;
    &:before {
      @include ft-icon($ft-disabled);
      margin-top: -1px;
      margin-right: 4px;
      color: #fff;
    }
  }
  &--link {
    font-size: rem(14);
    font-weight: 300;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  &--secondary {
    color: #fff;
    background: #3E8BDC;
  }
  &--warning {
    background: #FEBF00;
  }
}