mixin questions-answer-modal
	.b-questions-answer-modal.iblock&attributes(attributes)
		form
			.b-questions-answer-modal__title Задайте вопрос
			.b-faq-block__text-area.b-faq-block__text-area_active
				.b-faq-block__comment-photo.b-faq-block__comment-photo_reply
					img.b-faq-block__photo-img(src="assets/img/content/photo.jpg", alt="Фото" width=50 height=50)

				textarea

			.b-faq-block__btns-holder
				a.button(href="#") Отправить вопрос
