mixin subscribe-line()
	.b-subscribe-line.iblock&attributes(attributes)
		form(action="#")
			.b-subscribe-line__field
				input.b-subscribe-line__input(type="text" placeholder="Введите свой e-mail")
				label.b-subscribe-line__send
					input.b-subscribe-line__submit(type="submit")
