@charset "UTF-8";

@import 'helpers/variables';
@import 'helpers/functions';
@import 'helpers/css3-mixins';
@import 'helpers/mixins';

.full-width {
  padding-left: 35px;
  padding-right: 35px;
  text-align: left;
  word-wrap: break-word;
}
.h1 {
  margin-bottom: 10px;
}
.hide {
  display: none;
}
.show-for-large {
  display: revert;
}

@media screen and (max-width: 1230px) {
  .show-for-large {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .show-for-large {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .show-for-large {
    display: none;
  }
}


/* global.css*/
/* Иконки*/
.icon {
  display: inline-block;
  position: relative;
  width: 1em;
  height: 1em;
  color: currentColor;
  line-height: 0;
  &:before {
    @include ft-icon();
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 125%;
    transform: translate(-50%, -50%);
  }
  &-download:before {
    content: $ft-download;
  }
  &-link:before {
    content: $ft-link;
  }
  &-mail:before {
    content: $ft-mail;
  }
  &-printer:before {
    content: $ft-printer;
  }
}
/*Селекты*/
.select2-container {
  z-index: 9998;
  .select2-results {
    &__option {
      position: relative;
      padding: 0 13px 0 13px;
    }
  }
  .select2-selection {
    &--single .select2-selection__rendered {
      padding-left: 13px;
      padding-right: 20px;
    }
  }
}
/*Утилиты*/
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
/* endof global.css*/

/* Компоненты */

/* endof Компоненты */

/* Блоки */
@import '../blocks/modules/promo-blocks/promo-block6';
@import '../blocks/modules/subcategory-slider/subcategory-slider';

/* endof Блоки */