@charset "UTF-8";

@import 'helpers/variables';
@import 'helpers/functions';
@import 'helpers/css3-mixins';
@import 'helpers/mixins';

//@import "base/global";
//@import "components/components";
//@import "modules/modules";
//@import "adaptive/adaptive";

.h1 {
  margin-bottom: 10px;
}
.full-width {
  padding-left: 35px;
  padding-right: 35px;
  text-align: left;
  word-wrap: break-word;
}
.hide {
  display: none;
}
.text-left {
  text-align: left;
}
// components
.c-catalog {
  &__product-detail {
    display: flex;
    flex-flow: row nowrap;
    padding: 35px;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    * {
      @include box-sizing;
    }
    &:before,
    &:after {
      display: none
    }
    //&._gray {
    //  position: relative;
    //  &:before {
    //    content: "";
    //    position: absolute;
    //    top: 0;
    //    right: 0;
    //    bottom: 0;
    //    width: 40%;
    //    background-color: #f8f8f8;
    //  }
    //}
  }
  &__product-photo {
    display: flex;
    position: static;
    position: sticky;
    top: 25px;
    flex-flow: row nowrap;
    align-self: flex-start;
    width: 41.667%;
    //overlap old ↓
    float: none;
    padding: 0;
    margin: 0;
    border: none;
  }
  &__product-options {
    width: 33.333%;
    padding-right: 15px;
  }
  &__product-discount {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 80px;
    height: 80px;
    background-color: #ffcb31;
    color: #333;
    font-size: 18/16*100%;
    font-weight: 600;
    line-height: 80px;
    text-align: center;
  }
  &__product-rating {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    padding-left: 35px;
    padding-right: 35px;
    max-width: none;
    margin-top: 0;
    margin-bottom: 0;
    cursor: default;
    //margin-bottom: 15px;
    //cursor: pointer;
    //&:hover .b-rating__text {
    //  color: #dc3e48;
    //}
    > div {
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__product-info {
    width: 25%;
    position: relative;
    //old overlap ↓
    float: none;
    border: none;
  }
  &__product-label {
    position: absolute;
    right: 10px;
  }
  &__product-tag {
    position: absolute;
    min-width: 120px;
    top: 23px;
    left: -26px;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    padding: 0 10px;
    transform: rotate(-45deg);
    background-color: #3E8BDC;
    z-index: 1;
    &--red {
      color: #fff;
      background-color: #DC3E48;
    }
    &--blue {
      color: #fff;
      background-color: #3E8BDC;
    }
    &--yellow {
      color: #1d1d1d;
      background-color: #FEBF00;
    }
    &--green {
      color: #fff;
      background-color: #81C03D;
    }
  }
  &__product-avail {
    padding: 0; //10px 20px 60px;
  }
}
@media #{$media-desktop} {
  .c-catalog {
    &__product-photo {
      position: static;
      top: unset;
    }
    &__product-detail {
      padding: 15px;
    }
  } 
}
@media screen and (max-width: 1040px) { 
  .c-catalog__product-detail {
    flex-flow: row wrap;
  }
  .c-catalog__product-info {
    display: block;
  }
  .c-catalog__product-price,
  .c-catalog__product-avail {
    display: block;
    width: auto;
    background: none;
  }
  .c-catalog__product-avail {
    border-top: none;
  }
}
@media #{$media-tablet} {
  .c-catalog {
    &__product-detail {
      justify-content: space-between;
    }
    &__product-photo {
      float: none;
      width: 100%;
      padding: 0;
    }
    &__product-options {
      width: 49%;
      padding: 0;
    }
    &__product-info {
      //@include box-sizing;
      //@include clearfix;
      display: block;
      width: 49%;
      float: none;
      max-width: none;
    }
    &__product-promo {
      display: none;
    }
    &__product-price {
      display: block;
      width: 100%;
      background: none;
    }

    &__product-avail {
      display: block;
      width: 100%;
      border-top: none;
    }

    &__product-rating {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
@media #{$media-phone-landscape} {
  .c-catalog {
    &__product-rating {
      text-align: left;
      max-width: none;
      margin-top: 0; //-10px;
    }
    &__product-info {
      display: block;
      width: 100%;
    }
    &__product-price {
      display: block;
      width: auto;
      float: none;
    }
    &__product-detail {
      position: relative;
      padding: 15px;
      flex-flow: column wrap;
     
    }
    &__product-photo {
      float: none;
      width: 100%;
      padding: 0;
    }
    &__product-options {
      width: 100%;
      padding: 0;
    }
    &__product-promo {
      display: none;
    }
    &__product-price {
      display: block;
      width: 100%;
      background: none;
    }

    &__product-avail {
      display: block;
      width: 100%;
      border-top: none;
    }

    &__product-rating {
      padding-left: 20px;
      padding-right: 20px;
    }

    &__product-discount {
      width: 60px;
      height: 60px;
      line-height: 60px;
      font-size: 14px;
      font-weight: 600;
    }
  }
}
@media #{$media-phone} {
  .c-catalog {
    &__category-products {
      padding: 15px;
    }
    &__product-options {
      width: 100%;
      padding: 0;
    }
  }
}
// endof components

//modules
.b-plate-product {
  &__label {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    background: #E43340;
    text-align: center;
    width: 72px;
    transform: translate(-50%, -50%) rotate(-45deg);
    position: absolute;
    z-index: 1;
    top: 31px;
    left: 31px;
    &:before {
      content: '';
      pointer-events: none;
      display: block;
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: -17px;
      right: -17px;
      height: 0;
      border-bottom: 18px solid #E43340;
      border-left: 18px solid transparent;
      border-right: 18px solid transparent;
    }
    &--hit {
      background: #DC3E48;
      &:before {
        border-bottom-color: #DC3E48;
      }
    }
  }
  &__icons {
    position: absolute;
    top: 0;
    right: 1px;
    z-index: 1;
  }
  &__icon {
    position: relative;
    font-size: 14px;
    line-height: 36px;
    color: #1D1D1D;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    margin-bottom: 10px;
    background: #DC3E48;
    z-index: 1;
    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &:last-child {
      margin-bottom: 0;
    }
    &--discount {
      background: #FEBF00;
    }
    &--delivery {
      background-image: url('/assets/img/icon-delivery.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 22px 18px;
    }
    &--gift {
      background-image: url('/assets/img/icon-gift.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 20px 20px;
    }
    &--gaming {
      background-color: #181415;
      &:before {
        @include ft-icon($ft-gaming);
        width: auto;
        color: #fff;
        font-size: 1em;
      }
    }
    &--digital {
      &:before {
        @include ft-icon($ft-credit);
        color: #fff;
        font-size: 1.5em;
      }
    }
    @include w480 {
      //font-size: 10px;
      //line-height: 24px;
      //width: 24px;
      //height: 24px;
      margin-bottom: 5px;
      //&--delivery {
      //  background-size: 16px 14px;
      //}
      //&--gift {
      //  background-size: 16px 16px;
      //}
      //&--gaming {
      //  background-image: url('/assets/img/icon-gaming-sm.png');
      //  background-size: 24px 24px;
      //}
    }
  }
}
.b-product-art {
  &__text {
    color: #1d1d1d;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
  }
}
.b-product-delivery {
  margin-bottom: 14px;
  &__section {
    margin-bottom: 14px;
    border: 1px solid #f1f1f1;
    transition: border-color 0.2s ease-in-out;
    &:last-child {
      margin-bottom: 0;
    }
    //&._open,
    //&.active {
    //  .b-product-delivery__section-body {
    //    display: block;
    //  }
    //  .b-product-delivery__section-title:after {
    //    transform: rotate(-180deg);
    //  }
    //}
    &-title {
      position: relative;
      padding: 15px 40px;
      font-size: rem(13);
      line-height: rem(19);
      b, strong {
        font-weight: 600;
      }
      &-fix {
        position: relative;
        padding: 15px 40px;
        font-size: rem(13);
        line-height: rem(19);
        b, strong {
          font-weight: 600;
        }
      }
    }
    &-icon {
      position: absolute;
      width: 20px;
      height: 20px;
      top: 16px;
      left: 14px;
      svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: currentColor;
      }
      &::before {
        color: #DC3E48;
      }
      &.package {
        &:before {
          @include ft-icon($ft-package);
          font-size: 1.25em;
        }
      }
      &.truck {
        &:before {
          @include ft-icon($ft-truck);
          font-size: 1.5em;
        }
      }
      &.cloud {
        &:before {
          @include ft-icon($ft-cloud);
        }
      }
    }
    &-body {
      display: none;
      padding: 0 10px 20px 40px;
    }
  }
  &__desc {
    margin: 15px 0;
    padding: 0 15px;
    color: #7e7e7e;
    font-size: rem(12);
  }
  &__misc {
    margin: 15px 0;
    padding: 0 15px;
    font-size: rem(13);
    line-height: rem(19);
  }
  &__date,
  &__type,
  &__payment {
    display: block;
    font-weight: 300;
    
  }
  &__date {
    font-size: rem(13);
    line-height: rem(23);
  }
  &__type {
    margin-bottom: 5px;
    font-size: rem(16);
    line-height: rem(19);
  }
  &__payment {
    margin-bottom: 5px;
    color: #9a9a9a;
    font-size: rem(12);
    line-height: rem(15);
  }
}
@include w1024 {
  .b-product-delivery {
    &__desc,
    &__misc {
      padding-right: 0;
      padding-left: 0;
    }
  }
}
.b-product-images {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  max-width: 100%;
  &__slider {
    display: block;
    width: 100%;
    height: 100%;
    &-holder {
      position: relative;
      max-width: 408px;
      height: 408px;
      margin: 0 15px;
      overflow: hidden;
    }
    .slick {
      &-list,
      &-track,
      &-slide {
        height: 100%;
      }
      &-arrow {
        position: absolute;
        width: 50px;
        height: 60px;
        padding: 0;
        top: 50%;
        color: rgba(#1d1d1d, 0.5);
        font-size: 30px;
        transform: translateY(-50%);
        opacity: 0.5;
        border: none;
        background: none;
        z-index: 1;
        svg {
          stroke: rgba(#1d1d1d, 0.5);
        }
        &:before {
          display: none;
        }
        &:hover,
        &:active {
          color: rgba(#1d1d1d, 1);
          svg {
            stroke: rgba(#1d1d1d, 1);
          }
        }
      }
      &-prev {
        left: 0;
      }
      &-next {
        right: 0;
      }
    }
  }
  &__slide {
    height: 100%;
    &:focus {
      outline: none;
    }
    &-link {
      display: flex;
      width: 100%;
      height: 100%;
      flex: 1;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      &:focus {
        outline: none;
      }
    }
    &-img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }
  &__thumbs {
    position: relative;
    height: 100%;
    list-style: none;
    padding: 0;
    overflow: hidden;
    &-holder {
      flex: 0;
      min-width: 72px;
      max-width: 72px;
      height: 408px;
    }
    .slick {
      &-list {
        box-sizing: border-box;
        height: 100% !important;
      }
      &-track {
        &:before,
        &:after {
          display: none;
        }
      }
      &-arrow {
        position: absolute;
        left: 0;
        width: 100%;
        height: 20px;
        border: 0;
        background-color: #f1f1f1;
        font-size: 0;
        color: #969696;
        z-index: 1;
        
        transition: transform 0.2s ease-in-out;
        &:before {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 2em;
          margin-top: -3px;
          margin-left: -1em;
          font-size: 7px;
          transform-origin: 50% 50%;
        }
      }
      &-next {
        bottom: 0;
        opacity: 0;
        transform: translateY(100%);
        &:before {
          @include ft-icon($ft-arrow-down);
        }
      }
      &-prev {
        top: 0;
        opacity: 0;
        transform: translateY(-100%);
        &:before {
          @include ft-icon($ft-arrow-up);
        }
      }
      &-slide {
        float: none;
        &:hover {
          cursor: pointer;
        }
        
       
      }
    }
    &:hover {
      .slick-prev,
      .slick-next {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  &__thumb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 72px !important;
    margin: 7px 0;
    border: 2px solid transparent;
    background: #fff;
    outline: none;
    &.slick-slide {
      display: flex;
      border-width: 2px;
    }
    &.slick-current {
      border-color: #3e8bdc;
    }
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &:nth-child(n+6) {
      display: none;
    }
    .slick-initialized &.slick-slide:nth-child(n+5) {
      display: flex;
    }
    &-img {
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
  @include w1024 {
    &__slider {
      &-holder {
        max-width: none;
        margin: 0 25px;
        height: 380px;
      }
    }
  }
  @include w768 {
    &__slider {
      &-holder {
        margin: 0 0 0 15px;
      }
    }
  }
  @include w480 {
    flex-flow: column wrap;
    &__slider {
      &-holder {
        width: 100%;
        height: 350px;
        margin: 0;
      }
    }
    &__thumbs {
      &-holder {
        display: none;
      }
    }
  }
}
.b-product-options {
  &__group {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 10px;
    &-title {
      display: block;
      width: 100%;
      margin-top: 0;
      margin-bottom: 10px;
      font-size: rem(14);
      font-weight: 300;
      strong, b {
        font-weight: 600;
      }
    }
  }
}
.b-product__option {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  flex: 0 1 60px;
  min-height: 38px;
  max-height: 60px;
  margin: 0 10px 10px 0;
  padding: 5px;
  color: #1d1d1d;
  font-weight: 300;
  font-size: rem(12);
  line-height: rem(18);
  text-align: center;
  text-decoration: none;
  border: 1px solid #F1F1F1;
  overflow: hidden;
  //&:first-child {
  //  margin-left: 0;
  //}
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    border-color: #3E8BDC;
  }
  svg {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    stroke: #f1f1f1;
    stroke-width: 1px;
    top: 0;
    left: 0;
    z-index: 1;
  }
  &._is-active {
    border-width: 2px;
    border-color: #3E8BDC;
  }
  &._is-disabled {
    .b-product__option-image {
      opacity: 0.3;
    }
    
  }
  &-image {
    max-width: 100%;
    max-height: 100%;
  }
}
.b-product__guarantee {
  margin-bottom: 10px;
  &-text {
    color: #7E7E7E;
    font-weight: 300;
    font-size: 13px;
    line-height: 19px;
    &:before {
      @include ft-icon($ft-shield);
      margin-right: 7px;
      font-size: 1.2em;
      vertical-align: text-top;
    }
  }
}
.b-product__series {
  margin: 0 0 16px 0;
  &-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &-item {
    margin: 0 0 1px 0;
    font-size: rem(14);
    font-weight: 300;
    line-height: rem(20);
    b, strong {
      font-weight: 600;
    }
  }
  &-logo {
    margin-top: 10px;
    max-width: 32px;
    max-height: 40px;
    opacity: 0.5;
  }
}
.b-product__certificate {
  margin-bottom: 16px;
  &-image {
    display: inline-block;
    max-height: 24px;
    vertical-align: text-top;
    opacity: 0.5;
  }
  &-helper {
    display: inline-block;
    min-width: 14px;
    height: 14px;
    margin-left: 5px;
    color: #fff;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    background: #3E8BDC;
    border-radius: 14px;
    vertical-align: text-top;
  }
}
.b-product-preview {
  min-width: 300px;
  &__favor,
  &__compare,
  &__share {
    color: #1d1d1d;
    font-size: rem(13);
    font-weight: 300;
    line-height: rem(19);
    text-decoration: none;
    &:before {
      color: #9a9a9a;
      margin-top: -3px;
      margin-right: 8px;
      //font-size: 14px;
      transition: .2s color;
      vertical-align: middle;
    }
    &:hover{
      color: #3E8BDC;
      &:before {
        color: currentColor;
      }
    }
  }
  &__favor {
    &:before {
      @include ft-icon($ft-like);
      font-size: 1em;
    }
  }
  &__compare {
    &:before {
      @include ft-icon($ft-comparsion);
      font-size: 1em;
    }
  }
  &__share {
    &:before {
      @include ft-icon($ft-share);
      font-size: 1em;
    }
  }
}
.b-product-price {
  @include box-sizing;
  min-width: 240px;
  background: none;

  &__prices-holder {
    margin-bottom: 15px;
    padding: 20px 10px 15px;
    background-color: #f8f8f8;
    @media (max-width: 1200px) {
      .c-catalog__product-price .b-product-price & {
        text-align: left;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
  &__main {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    margin-bottom: 10px;
  }
  &__current {
    color: #DC3E48;
    font-size: rem(32);
    font-weight: 300;
    line-height: 1;
  }
  &__old {
    margin-left: 0.5em;
    color: #000;
    font-size: rem(16);
    line-height: 22 / 16;
    font-weight: 300;
    text-decoration: line-through;
  }
  &__notavail {
    color: #1D1D1D;
    font-size: rem(32);
    font-weight: 300;
    line-height: 1;
  }
  &__jur {
    margin-bottom: 10px;
    color: #9a9a9a;
    font-weight: 300;
    font-size: rem(12);
    line-height: rem(18);
  }
  &__bonus {
    margin-bottom: 15px;
    color: #3e8bdc;
    font-weight: 300;
    font-size: rem(13);
    line-height: rem(19);
    &-helper {
      display: inline-block;
      min-width: 14px;
      height: 14px;
      margin-left: 5px;
      color: #fff;
      font-weight: 600;
      font-size: 10px;
      line-height: 14px;
      text-align: center;
      background: #3E8BDC;
      border-radius: 14px;
      vertical-align: text-top;
    }
  }
  &__buy {
    @include box-sizing;
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 9px;
    font-size: rem(14);
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    //&:before {
    //  display: none;
    //}
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &._light {
      background-color: #ff7575;
      &:hover {
        background-color: #f1505a;
      }
    }
  }
  &__actions {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 5px;
    > a {
      margin: 0 10px 10px 0;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__favor {
    flex: 0 1 auto;
    font-weight: 300;
    font-size: rem(13);
    line-height: rem(19);
    color: #1D1D1D;
    text-decoration: none;
    &:before {
      @include bgr("../img/heart","png");
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 20px 17px;
    }
  }
  &__compare {
    flex: 0 1 auto;
    font-weight: 300;
    font-size: rem(13);
    line-height: rem(19);
    color: #1D1D1D;
    text-decoration: none;
    &:before {
      @include bgr("../img/compare","png");
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 23px;
      height: 20px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 23px 18px;
    }
  }
  &__share {
    flex: 0 1 auto;
    font-weight: 300;
    font-size: rem(13);
    line-height: rem(19);
    color: #1D1D1D;
    text-decoration: none;
    &:before {
      @include bgr("../img/share","png");
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 23px;
      height: 20px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 23px 18px;
    }
  }
  &__categories {
    display: flex;
    flex-flow: column nowrap;
  }
  &__category {
    display: block;
    margin-bottom: 8px;
    padding: 9px 12px;
    color: #1d1d1d;
    font-size: rem(13);
    line-height: rem(20);
    text-decoration: none;
    background: #F8F8F8;
    &:hover {
      color: #0b8bfb;
    }
  }
  &__art {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 12/16*100%;
    font-weight: 200;
    color: #333;

    b {
      font-weight: 400;
    }
  }
}
@include w1024 {
  .b-product-price {
    &__actions {
      flex-flow: column nowrap;
      align-items: flex-start;
    }
  }
}
.b-product-status {
  margin-bottom: 14px;
  font-size: rem(14);
  line-height: rem(20);
  font-weight: 600;
  &__available {
    color: #81C03D;
    &:before {
      @include ft-icon($ft-check);
      margin-right: 5px;
    }
  }
  &__notavailable {
    color: #DC3E48;
  }
}
.b-product-marks {
  display: flex;
  flex-flow: row wrap;
  font-size: rem(12);
  line-height: rem(15);
  .c-catalog__product-rating &{
    margin-top: 10px;
  }
  > span,
  > a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    margin: 0 10px 14px 0;
    padding: 2px 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.b-product-mark {
  &__abroad {
    border: 1px solid #DC3E48;
  }
  &__alert {
    color: #fff;
    background: #941137;
    &:before {
      @include ft-icon($ft-disabled);
      
      margin-top: -1px;
      margin-right: 4px;
      color: #fff;
      //font-size: 6px;
    }
  }
  &__link {
    font-size: rem(14);
    font-weight: 300;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  &__secondary {
    color: #fff;
    background: #3E8BDC;
  }
  &__warning {
    background: #FEBF00;
  }
}
.b-product-discount {
  margin-bottom: 14px;
  padding: 15px 20px;
  color: #000;
  font-weight: 300;
  font-size: 13px;
  line-height: 19px;
  border: 1px solid #F1F1F1;
  p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  strong {
    font-weight: 600;
  }
}
@include w768 {
  .c-catalog__product-rating .b-product-marks {
    margin-top: 10px;
  }
}
// endofmodules

.show-for-large {
  display: revert;
  @include w1024 {
    display: none;
  }
  @include w768 {
    display: none;
  }
  @include w480 {
    display: none;
  }
}
/** endof TASKS */