@charset "UTF-8";

@import 'helpers/variables';
@import 'helpers/functions';
@import 'helpers/css3-mixins';
@import 'helpers/mixins';

//@import "base/global";
//@import "components/components";
//@import "modules/modules";
//@import "adaptive/adaptive";

.ololo {
  color: red;
}
.show-for-large {
  display: revert;
  @include w1024 {
    display: none;
  }
  @include w768 {
    display: none;
  }
  @include w480 {
    display: none;
  }
}