mixin jobs-list()
	.b-jobs-list.iblock&attributes(attributes)
		.b-jobs-list__header
			.b-jobs-list__caption Вакансии

		.b-jobs-list__main
			ul.b-jobs-list__items
				li.b-jobs-list__item
						.b-jobs-list__item-caption._open
							a.b-jobs-list__item-link(href="#") Менеджер по&nbsp;продажам

						.b-jobs-list__item-content
							.content-area
								.h4 Обязанности:
								ul
									li Приём и&nbsp;отгрузка товара;
									li Выдача товара клиентам, оформление гарантийных документов;
									li Поддержание порядка на&nbsp;складе;
									li Проведение инвентаризации;
									li Cбор доставок по&nbsp;накладным.

								.h4 Требования:
								ul
									li Гражданство: РФ‚ Беларусь;
									li Опрятный внешний вид и&nbsp;доброжелательность;
									li Желательно иметь представление о&nbsp;технике в&nbsp;целом.

								.h4 Условия:
								ul
									li Место работы: м. Динамо;
									li Заработная плата: 30&nbsp;000&nbsp;руб. в&nbsp;месяц чистыми на&nbsp;руки, на&nbsp;момент испытательного срока: 25&nbsp;000&nbsp;руб. чистыми;
									li Испытательный срок: 3&nbsp;месяца;
									li Своевременная выплата заработной платы;
									li Отпуск 4 недели в&nbsp;год;
									li График работы: сменный 4/3 с&nbsp;10.00&ndash;22.00;
									li Переработки оплачиваем.

							.b-jobs-list__item-send-holder
								a.b-jobs-list__item-send.button(href="#") Отправить резюме

				each val in ['Менеджер по&nbsp;закупкам печатной техники','Кладовщик магазина','Менеджер по&nbsp;рекламе и&nbsp;маркетингу','<nobr>Дизайнер-верстальщик</nobr>','<nobr>Кассир-операционист</nobr>','Менеджер по&nbsp;гарантии']
					li.b-jobs-list__item
						.b-jobs-list__item-caption
							a.b-jobs-list__item-link(href="#")!= val

						.b-jobs-list__item-content
							.content-area
								.h4 Обязанности:
								ul
									li Приём и&nbsp;отгрузка товара;
									li Выдача товара клиентам, оформление гарантийных документов;
									li Поддержание порядка на&nbsp;складе;
									li Проведение инвентаризации;
									li Cбор доставок по&nbsp;накладным.

								.h4 Требования:
								ul
									li Гражданство: РФ‚ Беларусь;
									li Опрятный внешний вид и&nbsp;доброжелательность;
									li Желательно иметь представление о&nbsp;технике в&nbsp;целом.

								.h4 Условия:
								ul
									li Место работы: м. Динамо;
									li Заработная плата: 30&nbsp;000&nbsp;руб. в&nbsp;месяц чистыми на&nbsp;руки, на&nbsp;момент испытательного срока: 25&nbsp;000&nbsp;руб. чистыми;
									li Испытательный срок: 3&nbsp;месяца;
									li Своевременная выплата заработной платы;
									li Отпуск 4 недели в&nbsp;год;
									li График работы: сменный 4/3 с&nbsp;10.00&ndash;22.00;
									li Переработки оплачиваем.

							.b-jobs-list__item-send-holder
								a.b-jobs-list__item-send.button(href="#") Отправить резюме
