mixin footer-links()
	.b-footer-links.iblock&attributes(attributes)
		.b-footer-links__cols
			.b-footer-links__col
				.b-footer-links__caption Покупателям

				ul.b-footer-links__menu
					li.b-footer-links__menu-item
						a.b-footer-links__menu-link(href="#") Покупки на&nbsp;Ого!
					li.b-footer-links__menu-item
						a.b-footer-links__menu-link(href="#") Доставка, оплата и&nbsp;самовывоз
					li.b-footer-links__menu-item
						a.b-footer-links__menu-link(href="#") Пользовательское соглашение
					li.b-footer-links__menu-item
						a.b-footer-links__menu-link(href="#") Соглашение о&nbsp;конфеденциальности и&nbsp;персональных данных
					li.b-footer-links__menu-item
						a.b-footer-links__menu-link(href="#") Юридическим лицам

			.b-footer-links__col
				.b-footer-links__caption Сервис
				ul.b-footer-links__menu
					li.b-footer-links__menu-item
						a.b-footer-links__menu-link(href="#") Гарантия и&nbsp;защита покупателей
					li.b-footer-links__menu-item
						a.b-footer-links__menu-link(href="#") Кредитование <nobr>Банки-партнёры</nobr>
					li.b-footer-links__menu-item
						a.b-footer-links__menu-link(href="#") Бонусная система
					li.b-footer-links__menu-item
						a.b-footer-links__menu-link(href="#") Подарочные карты
					li.b-footer-links__menu-item
						a.b-footer-links__menu-link(href="#") Предложить идею

			.b-footer-links__col
				.b-footer-links__caption Компания
				ul.b-footer-links__menu
					li.b-footer-links__menu-item
						a.b-footer-links__menu-link(href="#") Что такое Ого?!
					li.b-footer-links__menu-item
						a.b-footer-links__menu-link(href="#") Работа в&nbsp;Ого!
					li.b-footer-links__menu-item
						a.b-footer-links__menu-link(href="#") Контактные данные

			.b-footer-links__col
				.b-footer-links__caption Информация
				ul.b-footer-links__menu
					li.b-footer-links__menu-item
						a.b-footer-links__menu-link(href="#") Блог о&nbsp;технике
					li.b-footer-links__menu-item
						a.b-footer-links__menu-link(href="#") Подарки <nobr>Пресс-центр</nobr>
					li.b-footer-links__menu-item
						a.b-footer-links__menu-link(href="#") Благотворительность
					li.b-footer-links__menu-item
						a.b-footer-links__menu-link(href="#") Наша жизнь
