mixin datepicker()
  .b-datepicker.iblock&attributes(attributes)
    input.b-datepicker__input(type="hidden")

    .b-datepicker__header
      .b-datepicker__title Дата доставки
      .b-datepicker__month Февраль&mdash;март

    .b-datepicker__calendar

    .b-datepicker__time
      label.b-datepicker__field
        .b-datepicker__field-label Время доставки
        .b-datepicker__field-inputs
          select.b-datepicker__time-select.select2
            option 09:00 - 14:00 (Первая половина дня)
            option 14:00 - 19:00 (Вторая половина дня)
