mixin top-menu()
	nav.b-top-menu.iblock&attributes(attributes)
		ul.b-top-menu__list
			li.b-top-menu__item
				a(href="#").b-top-menu__link Доставка
			li.b-top-menu__item.b-top-menu__item_help
				a(href="#").b-top-menu__link Нужна помощь?
			li.b-top-menu__item
				a(href="#").b-top-menu__link Адреса магазинов
			li.b-top-menu__item
				a(href="#order-status").b-top-menu__link.js-modal Статус заказа

mixin top-menu_mobile()
	nav.b-top-menu.iblock&attributes(attributes)
		ul.b-top-menu__list
			li.b-top-menu__item.b-top-menu__item_row
				a(href="#").b-top-menu__link Доставка
			li.b-top-menu__item.b-top-menu__item_row
				a(href="#").b-top-menu__link Нужна помощь?
			li.b-top-menu__item.b-top-menu__item_row
				a(href="#").b-top-menu__link Адреса магазинов
			li.b-top-menu__item.b-top-menu__item_row
				a(href="#order-status").js-modal.b-top-menu__link Статус заказа
