mixin pay-systems()
  .b-pay-systems.iblock&attributes(attributes)
    .b-pay-systems__caption Принимаем к оплате
    ul.b-pay-systems__items
      li.b-pay-systems__item
        img.b-pay-systems__item-img(src="assets/img/visa.png", alt="visa" width=40 height=24)

      li.b-pay-systems__item
        img.b-pay-systems__item-img(src="assets/img/maestro.png", alt="maestro" width=40 height=24)
