mixin logo-tape()
  .b-logo-tape.iblock._nojs&attributes(attributes)
    ul.b-logo-tape__items
      each val in [0,0,0]
        li.b-logo-tape__item
          a.b-logo-tape__link(href="#")
            img.b-logo-tape__image(src="assets/img/content/brands/brand1.png", alt="Логотип")

        li.b-logo-tape__item
          a.b-logo-tape__link(href="#")
            img.b-logo-tape__image(src="assets/img/content/brands/brand2.png", alt="Логотип")

        li.b-logo-tape__item
          a.b-logo-tape__link(href="#")
            img.b-logo-tape__image(src="assets/img/content/brands/brand3.png", alt="Логотип")

        li.b-logo-tape__item
          a.b-logo-tape__link(href="#")
            img.b-logo-tape__image(src="assets/img/content/brands/brand4.png", alt="Логотип")

        li.b-logo-tape__item
          a.b-logo-tape__link(href="#")
            img.b-logo-tape__image(src="assets/img/content/brands/brand5.png", alt="Логотип")

        li.b-logo-tape__item
          a.b-logo-tape__link(href="#")
            img.b-logo-tape__image(src="assets/img/content/brands/brand6.png", alt="Логотип")

        li.b-logo-tape__item
          a.b-logo-tape__link(href="#")
            img.b-logo-tape__image(src="assets/img/content/brands/brand7.png", alt="Логотип")
