mixin date-select()
	.b-date-select.iblock&attributes(attributes)
		.b-date-select__cols
			.b-date-select__day-col
				.b-date-select__input-wrap
					input(type="tel" name="day")

			.b-date-select__month-col
				select.select2
					option
					option январь
					option февраль
					option март
					option апрель
					option май
					option июнь
					option июль
					option август
					option сентябрь
					option октябрь
					option ноябрь
					option декабрь

			.b-date-select__year-col
				.b-date-select__input-wrap
					input(type="tel" name="year")
