mixin plate-product()
	.b-plate-product.iblock&attributes(attributes)
		.b-plate-product__main-holder
			.b-plate-product__header
				.b-plate-product__rating
					+rating()
				.b-plate-product__number Арт. 34534345
				a.b-plate-product__fast-view(href="/ajax/preview-modal.html") Быстрый просмотр

			.b-plate-product__image-holder
				a(href="#")
					img.b-plate-product__image(src="assets/img/content/products/product-preview1.jpg", alt="Товар" width=218 height=218)

			.b-plate-product__content
				.b-plate-product__avail
					span.b-plate-product__avail-label В&nbsp;наличии
				.b-plate-product__caption
					a.b-plate-product__caption-text(href="#") Canon PowerShot SX400 IS с&nbsp;улучшенной матрицей и&nbsp;объективом

				.b-plate-product__params
					+params-list()

			.b-plate-product__footer
				.b-plate-product__price-holder
					span.b-plate-product__price 56&nbsp;345&nbsp;<span class="rub">i</span>
					.b-cart-product__old-price 56&nbsp;700&nbsp;
						<span class="rub">i</span>

				.b-plate-product__btn-holder
					.b-plate-product__buy-btns
						a.b-plate-product__buy.button-buy(href="#") Купить
						span.b-plate-product__bonus +233 бонуса

					.b-plate-product__other-btns
						a.b-plate-product__favor(href="#")
							a.b-plate-product__compare(href="#")

mixin plate-product2()
	.b-plate-product.iblock&attributes(attributes)
		.b-plate-product__main-holder
			.b-plate-product__header
				.b-plate-product__rating
					+rating()
				.b-plate-product__number Арт. 34534345
				a.b-plate-product__fast-view(href="/ajax/preview-modal.html") Быстрый просмотр

			.b-plate-product__image-holder
				a(href="#")
					img.b-plate-product__image(src="assets/img/content/products/product-preview2.jpg", alt="Товар" width=218 height=218)

			.b-plate-product__content
				.b-plate-product__avail
					span.b-plate-product__avail-label В&nbsp;наличии
				.b-plate-product__caption
					a.b-plate-product__caption-text(href="#") Canon PowerShot SX400 IS Body Kit

				.b-plate-product__params
					+params-list()
					+params-list()

			.b-plate-product__footer
				.b-plate-product__price-holder
					span.b-plate-product__price 2&nbsp;999 <span class="rub">i</span>

				.b-plate-product__btn-holder
					.b-plate-product__buy-btns
						a.b-plate-product__buy.button-buy(href="#") Купить
						span.b-plate-product__bonus +233 бонуса

					.b-plate-product__other-btns
						a.b-plate-product__favor(href="#")
							a.b-plate-product__compare(href="#")

mixin plate-product3()
	.b-plate-product.iblock&attributes(attributes)
		.b-plate-product__main-holder
			.b-plate-product__header
				.b-plate-product__rating
					+rating()
				.b-plate-product__number Арт. 34534345
				a.b-plate-product__fast-view(href="/ajax/preview-modal.html") Быстрый просмотр

			.b-plate-product__image-holder
				a(href="#")
					img.b-plate-product__image(src="assets/img/content/products/product-preview1.jpg", alt="Товар" width=218 height=218)

			.b-plate-product__content
				.b-plate-product__avail
					span.b-plate-product__avail-label В&nbsp;наличии
				.b-plate-product__caption
					a.b-plate-product__caption-text(href="#") Canon PowerShot SX400 IS Canon PowerShot SX400 IS Canon PowerShot SX400 IS Canon PowerShot SX400 IS Canon PowerShot SX400 IS Canon PowerShot SX400 IS Canon PowerShot SX400 IS Canon PowerShot SX400 IS Canon PowerShot SX400 IS

				.b-plate-product__params
					+params-list()

			.b-plate-product__footer
				.b-plate-product__price-holder
					span.b-plate-product__price 56&nbsp;345&nbsp;<span class="rub">i</span>

				.b-plate-product__btn-holder
					.b-plate-product__buy-btns
						a.b-plate-product__buy.button-buy(href="#") Купить
						span.b-plate-product__bonus +233 бонуса

					.b-plate-product__other-btns
						a.b-plate-product__favor(href="#")
							a.b-plate-product__compare(href="#")

mixin plate-product_conf()
	.b-plate-product.iblock&attributes(attributes)
		.b-plate-product__main-holder
			.b-plate-product__header
				.b-plate-product__rating
					+rating()
				.b-plate-product__number Арт. 34534345
				a.b-plate-product__fast-view(href="/ajax/preview-modal.html") Быстрый просмотр
				.b-plate-product__incompatible
					span Не совместим
				.b-plate-product__incompatible-message Этот товар не&nbsp;совместим с&nbsp;Корпусом ATX Miditower Accord <nobr>P-25B</nobr> Black
			.b-plate-product__image-holder
				a(href="#")
					img.b-plate-product__image(src="assets/img/content/products/product-preview3.jpg", alt="Товар" width=218 height=218)

			.b-plate-product__content
				.b-plate-product__avail
					span.b-plate-product__avail-label В&nbsp;наличии
				.b-plate-product__caption
					a.b-plate-product__caption-text(href="#") Внутренний жесткий диск 3,5" ST500DM002

				.b-plate-product__params
					+params-list()

			.b-plate-product__footer
				.b-plate-product__price-holder
					span.b-plate-product__price 2&nbsp;999 <span class="rub">i</span>

				.b-plate-product__btn-holder
					.b-plate-product__buy-btns
						a.b-plate-product__buy.button-add(href="#") Добавить
						span.b-plate-product__bonus +233 бонуса

					.b-plate-product__other-btns
						a.b-plate-product__favor(href="#")
							a.b-plate-product__compare(href="#")

mixin plate-product_conf2()
	.b-plate-product.iblock&attributes(attributes)
		.b-plate-product__main-holder
			.b-plate-product__header
				.b-plate-product__rating
					+rating()
				.b-plate-product__number Арт. 34534345
				a.b-plate-product__fast-view(href="/ajax/preview-modal.html") Быстрый просмотр

			.b-plate-product__image-holder
				a(href="#")
					img.b-plate-product__image(src="assets/img/content/products/product-preview4.jpg", alt="Товар" width=218 height=218)

			.b-plate-product__content
				.b-plate-product__avail
					span.b-plate-product__avail-label В&nbsp;наличии
				.b-plate-product__caption
					a.b-plate-product__caption-text(href="#") Внутренний жесткий диск 3,5" ST500DM002

				.b-plate-product__params
					+params-list()

			.b-plate-product__footer
				.b-plate-product__price-holder
					span.b-plate-product__price 2&nbsp;999 <span class="rub">i</span>

				.b-plate-product__btn-holder
					.b-plate-product__buy-btns
						a.b-plate-product__buy.button-add(href="#") Добавить
						span.b-plate-product__bonus +233 бонуса

					.b-plate-product__other-btns
						a.b-plate-product__favor(href="#")
							a.b-plate-product__compare(href="#")

mixin plate-product_conf3()
	.b-plate-product.iblock&attributes(attributes)
		.b-plate-product__main-holder
			.b-plate-product__header
				.b-plate-product__rating
					+rating()
				.b-plate-product__number Арт. 34534345
				a.b-plate-product__fast-view(href="/ajax/preview-modal.html") Быстрый просмотр
			.b-plate-product__image-holder
				a(href="#")
					img.b-plate-product__image(src="assets/img/content/products/product-preview5.jpg", alt="Товар" width=218 height=218)

			.b-plate-product__content
				.b-plate-product__avail
					span.b-plate-product__avail-label В&nbsp;наличии
				.b-plate-product__caption
					a.b-plate-product__caption-text(href="#") Внутренний жесткий диск 3,5" ST500DM002

				.b-plate-product__params
					+params-list()

			.b-plate-product__footer
				.b-plate-product__price-holder
					span.b-plate-product__price 2&nbsp;999 <span class="rub">i</span>

				.b-plate-product__btn-holder
					.b-plate-product__buy-btns
						a.b-plate-product__buy.button-add(href="#") Добавить
						span.b-plate-product__bonus +233 бонуса

					.b-plate-product__other-btns
						a.b-plate-product__favor(href="#")
							a.b-plate-product__compare(href="#")
