mixin copyright()
  .b-copyright.iblock&attributes(attributes)
    .b-copyright__logo-holder
      img.b-copyright__logo(src="assets/img/copyright-logo.png", alt="OGO" width=102 height=59 )
    .b-copyright__text-holder.content-area
      p &copy; 2010&ndash;2015 <nobr>ООО &laquo;Название организации&raquo;</nobr><br/>ОГРН: 1122334455667788990,<br/>г.&nbsp;Москва, ул.&nbsp;Местонахождение, д.nbsp;1/2, корп.3, ком.4
