mixin checkout-advantages()
	.b-checkout-advantages.iblock&attributes(attributes)
		ul.b-checkout-advantages__items
			li.b-checkout-advantages__item
				.b-checkout-advantages__img-holder
					img.b-checkout-advantages__img(src="assets/img/content/pickup.png", alt="Самовывоз" width=57 height=54)
				.b-checkout-advantages__content
					.b-checkout-advantages__title Более 100 пунктов самовывоза
					.b-checkout-advantages__text В&nbsp;разных концах Москвы и&nbsp;области

			li.b-checkout-advantages__item
				.b-checkout-advantages__img-holder
					img.b-checkout-advantages__img(src="assets/img/content/town-delivery.png", alt="Самовывоз" width=77 height=42)
				.b-checkout-advantages__content
					.b-checkout-advantages__title Доставим завтра от&nbsp;190 <span class="rub">i</a>
					.b-checkout-advantages__text Курьерская доставка по&nbsp;Москве и&nbsp;области от&nbsp;190&nbsp;рублей.

			li.b-checkout-advantages__item
				.b-checkout-advantages__img-holder
					img.b-checkout-advantages__img(src="assets/img/content/safety.png", alt="Самовывоз" width=42 height=52)
				.b-checkout-advantages__content
					.b-checkout-advantages__title Ваши данные в&nbsp;безопасности
					.b-checkout-advantages__text Мы&nbsp;не&nbsp;продаём, не&nbsp;дарим и&nbsp;не&nbsp;обмениваемся персональными данными своих клиентов
