mixin nums-features()
  .b-nums-features.iblock&attributes(attributes)
    ul.b-nums-features__items
      li.b-nums-features__item
        .b-nums-features__image-holder
          img.b-nums-features__image(src="assets/img/content/num-feat1.png", alt="Преимущество" width=108 height=33)
        .b-nums-features__content-holder
          .b-nums-features__content.content-area
            p 200&nbsp;000 постоянных клиентов

      li.b-nums-features__item
        .b-nums-features__image-holder
          img.b-nums-features__image(src="assets/img/content/num-feat2.png", alt="Преимущество" width=118 height=33)
        .b-nums-features__content-holder
          .b-nums-features__content.content-area
            p Отзывов о магазине ОГО! от покупателей

      li.b-nums-features__item
        .b-nums-features__image-holder
          img.b-nums-features__image(src="assets/img/content/num-feat3.png", alt="Преимущество" width=164 height=29)
        .b-nums-features__content-holder
          .b-nums-features__content.content-area
            p Самый высокий рейтинг на&nbsp;Яндекс. Маркете
