mixin checkbox-cols()
	.b-checkbox-cols.iblock&attributes(attributes)
		.b-checkbox-cols__visible-container
			.b-checkbox-cols__cols
				.b-checkbox-cols__col
					ul.b-checkbox-cols__items
						li.b-checkbox-cols__item
							+checkbox('Canon', true)&attributes({ disabled: 'disabled' })
						li.b-checkbox-cols__item
							+checkbox('Fujifilm')
						li.b-checkbox-cols__item
							+checkbox('Nikon')
						li.b-checkbox-cols__item
							+checkbox('Panasonic')
						li.b-checkbox-cols__item
							+checkbox('Leica')

				.b-checkbox-cols__col
					ul.b-checkbox-cols__items
						li.b-checkbox-cols__item
							+checkbox('Olympus')
						li.b-checkbox-cols__item
							+checkbox('Pentax')
						li.b-checkbox-cols__item
							+checkbox('Sigma')
						li.b-checkbox-cols__item
							+checkbox('Geleral Electrics')
						li.b-checkbox-cols__item
							+checkbox('Zenit')

		.b-checkbox-cols__more-container
			.b-checkbox-cols__cols
				.b-checkbox-cols__col
					ul.b-checkbox-cols__items
						li.b-checkbox-cols__item
							+checkbox('Canon', true)&attributes({ disabled: 'disabled' })
						li.b-checkbox-cols__item
							+checkbox('Fujifilm')
						li.b-checkbox-cols__item
							+checkbox('Nikon')
						li.b-checkbox-cols__item
							+checkbox('Panasonic')
						li.b-checkbox-cols__item
							+checkbox('Leica')

				.b-checkbox-cols__col
					ul.b-checkbox-cols__items
						li.b-checkbox-cols__item
							+checkbox('Olympus')
						li.b-checkbox-cols__item
							+checkbox('Pentax')
						li.b-checkbox-cols__item
							+checkbox('Sigma')
						li.b-checkbox-cols__item
							+checkbox('Geleral Electrics')
						li.b-checkbox-cols__item
							+checkbox('Zenit')

		.b-checkbox-cols__btn-holder
			a.b-checkbox-cols__btn.button-gray(href="#")
				span Скрыть
				span Показать еще

mixin checkbox-cols_one()
	.b-checkbox-cols&attributes(attributes)
		ul.b-checkbox-cols__items
			li.b-checkbox-cols__item
				+checkbox('Гибридный')
			li.b-checkbox-cols__item
				+checkbox('Зеркальный (TTL)')
			li.b-checkbox-cols__item
				+checkbox('Оптический')
			li.b-checkbox-cols__item
				+checkbox('Электронный')
