.b-simple-form {

  &__field {
    @include margin(20/20);
    display: block;
    font-size: 14/16*100%;
    color: #333;
    font-weight: 200;
  }

  &__field-label {
    @include mbot(10/20);
    font-weight: 200;
  }

  &__field-link {
    font-weight: 200;
    color: #969696;
    text-decoration: none;
    border-bottom: 1px dotted #969696;

    &:hover {
      border-bottom: 1px dotted #dc3e48;
      color: #dc3e48;
    }
  }

  &__field-inputs {
    &_regular {
      font-weight: 400;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    &-item {
      .checkbox-vadidator {
        width: 0;
        height: 0;
        padding: 0;
        visibility: hidden;
      }
    }
  }

  input {
    @include box-sizing;
    width: 100%;

    &[type="tel"] {
      letter-spacing: 2px;
    }
  }

  textarea {
    @include box-sizing;
    width: 100%;
  }
}


