.b-simple-form {

  &__field {
    @include margin(20/20);
    display: block;
    color: #1d1d1d;
    font-size: rem(13);//14/16*100%;
    font-weight: 300;
  }

  &__field-label {
    @include mbot(10/20);
    color: #7E7E7E;
    font-weight: 300;
  }

  &__field-link {
    font-weight: 300;
    color: #3E8BDC;
    text-decoration: underline;// none;
    border-bottom: none; //1px dotted #969696;

    &:hover {
      text-decoration: none;
      border-bottom: none; //1px dotted #dc3e48;
      color: #dc3e48;
    }
  }

  &__field-inputs {
    &_regular {
      font-weight: 400;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    &-item {
      .checkbox-vadidator {
        width: 0;
        height: 0;
        padding: 0;
        visibility: hidden;
      }
    }
  }

  input {
    @include box-sizing;
    width: 100%;

    &[type="tel"] {
      letter-spacing: 2px;
    }
  }

  textarea {
    @include box-sizing;
    width: 100%;
  }
}


