mixin town-modal()
	.b-town-modal.iblock&attributes(attributes)
		.b-town-modal__title Выберите ваш город
		.b-town-modal__content
			.b-town-modal__field
				+autocomplete-address_town-modal()

			.b-town-modal__field
				.b-town-modal__field-caption Есть магазины и&nbsp;точки выдачи ОГО!
				ul.b-town-modal__field-items
					li.b-town-modal__field-item
						a.b-town-modal__link(href="#") Москва
					li.b-town-modal__field-item
						a.b-town-modal__link(href="#") Мытищи
					li.b-town-modal__field-item
						a.b-town-modal__link(href="#") Люберцы

			.b-town-modal__field
				.b-town-modal__field-caption Популярные
				ul.b-town-modal__field-items
					li.b-town-modal__field-item
						a.b-town-modal__link(href="#") Москва
					li.b-town-modal__field-item
						a.b-town-modal__link(href="#") Санкт-Петерург
					li.b-town-modal__field-item
						a.b-town-modal__link(href="#") Екатеринбург
					li.b-town-modal__field-item
						a.b-town-modal__link(href="#") Казань
					li.b-town-modal__field-item
						a.b-town-modal__link(href="#") Новосибирск
					li.b-town-modal__field-item
						a.b-town-modal__link(href="#") Уфа
					li.b-town-modal__field-item
						a.b-town-modal__link(href="#") Екатеринбург
					li.b-town-modal__field-item
						a.b-town-modal__link(href="#") Уфа
					li.b-town-modal__field-item
						a.b-town-modal__link(href="#") Казань
					li.b-town-modal__field-item
						a.b-town-modal__link(href="#") Санкт-Петерург
