mixin catalog-plates()
	.b-catalog-plates.iblock&attributes(attributes)
		.b-catalog-plates__items
			.b-catalog-plates__item
				+plate-product()
			.b-catalog-plates__item
				+plate-product()
			.b-catalog-plates__item
				+plate-product3()
			.b-catalog-plates__item
				+plate-product()
			.b-catalog-plates__item
				+plate-product2()
			.b-catalog-plates__item
				+plate-product3()

			+catalog-plates-slider_wide-banner()

			.b-catalog-plates__item
				+plate-product()
			.b-catalog-plates__item
				+plate-product2()
			.b-catalog-plates__item
				+plate-product3()

			.b-catalog-plates__item.b-catalog-plates__item_right
				+plate-product()

			+catalog-plates-slider_medium-banner()

mixin catalog-plates_configurator()
	.b-catalog-plates.iblock&attributes(attributes)
		.b-catalog-plates__items
			.b-catalog-plates__item
				+plate-product_conf()
			.b-catalog-plates__item
				+plate-product_conf2()
			.b-catalog-plates__item
				+plate-product_conf3()
			.b-catalog-plates__item
				+plate-product_conf()
			.b-catalog-plates__item
				+plate-product_conf2()
			.b-catalog-plates__item
				+plate-product_conf3()

			+catalog-plates-slider_wide-banner()

			.b-catalog-plates__item
				+plate-product()
			.b-catalog-plates__item
				+plate-product2()
			.b-catalog-plates__item
				+plate-product3()

			.b-catalog-plates__item.b-catalog-plates__item_right
				+plate-product()

			+catalog-plates-slider_medium-banner()

mixin catalog-plates_pure()
	.b-catalog-plates.iblock&attributes(attributes)
		.b-catalog-plates__items
			.b-catalog-plates__item
				+plate-product()
			.b-catalog-plates__item
				+plate-product()
			.b-catalog-plates__item
				+plate-product()
			.b-catalog-plates__item
				+plate-product()
			.b-catalog-plates__item
				+plate-product()
			.b-catalog-plates__item
				+plate-product()

mixin catalog-plates_news()
	.b-catalog-plates.iblock._wide&attributes(attributes)
		.b-catalog-plates__items
			.b-catalog-plates__item
				+plate-product()
			.b-catalog-plates__item
				+plate-product()
			.b-catalog-plates__item
				+plate-product()
			.b-catalog-plates__item
				+plate-product()
			.b-catalog-plates__item
				+plate-product()
			.b-catalog-plates__item
				+plate-product()
