mixin category-plates()
	.b-category-plates.iblock&attributes(attributes)
		ul.b-category-plates__items
			li.b-category-plates__item._right
				.b-category-plates__ratio-holder
					a.b-category-plates__item-wrap(href="#")
						span.b-category-plates__image-holder
							img.b-category-plates__image(src="assets/img/content/cat2.jpg", alt="Категория")
						span.b-category-plates__title Планшеты

			li.b-category-plates__item
				.b-category-plates__ratio-holder
					a.b-category-plates__item-wrap(href="#")
						span.b-category-plates__image-holder
							img.b-category-plates__image(src="assets/img/content/cat1.jpg", alt="Категория")
						span.b-category-plates__title Телевизоры

			li.b-category-plates__item.b-category-plates__item_big._right
				.b-category-plates__ratio-holder.b-category-plates__ratio-holder_big
					a.b-category-plates__item-wrap(href="#")
						span.b-category-plates__bg-holder
							img.b-category-plates__bg-image(src="assets/img/content/cat_bg.jpg", alt="Категория")
						span.b-category-plates__title.b-category-plates__title_big Мобильные телефоны

			li.b-category-plates__item
				.b-category-plates__ratio-holder
					a.b-category-plates__item-wrap(href="#")
						span.b-category-plates__image-holder
							img.b-category-plates__image(src="assets/img/content/cat3.jpg", alt="Категория")
						span.b-category-plates__title Микроволновые печи

			li.b-category-plates__item
				.b-category-plates__ratio-holder
					a.b-category-plates__item-wrap(href="#")
						span.b-category-plates__image-holder
							img.b-category-plates__image(src="assets/img/content/cat4.jpg", alt="Категория")
						span.b-category-plates__title Встраиваемая техника

			li.b-category-plates__item
				.b-category-plates__ratio-holder
					a.b-category-plates__item-wrap(href="#")
						span.b-category-plates__image-holder
							img.b-category-plates__image(src="assets/img/content/cat5.jpg", alt="Категория")
						span.b-category-plates__title Пылесосы

			li.b-category-plates__item
				.b-category-plates__ratio-holder
					a.b-category-plates__item-wrap(href="#")
						span.b-category-plates__image-holder
							img.b-category-plates__image(src="assets/img/content/cat6.jpg", alt="Категория")
						span.b-category-plates__title Стиральные машины
