mixin online-consult()
	.b-online-consult.iblock&attributes(attributes)
		.b-online-consult__header
			.b-online-consult__contact-holder
				.b-online-consult__photo-holder
					img.b-online-consult__photo(src="assets/img/content/photo.jpg", alt="Фото" width=50 height=50)
				.b-online-consult__contact
					.b-online-consult__name Василий Петров
					.b-online-consult__job Специалист по&nbsp;фототехнике

		.b-online-consult__main-holder
			.b-online-consult__chat
				.b-online-consult__scroll-holder
					.b-online-consult__scroll.scroll-fixer
						.b-online-consult__consult-message Привет! Вам нужна помощь с&nbsp;выбором?

			.b-online-consult__ui
				ul.b-online-consult__ui-items
					li.b-online-consult__ui-item.b-online-consult__ui-item_unfocus
						a.b-online-consult__ui-btn.button-blue.js-modal(href="#online-consult") Задать вопрос
