mixin know-how()
	.b-know-how.iblock&attributes(attributes)
		.b-know-how__caption Что нужно знать перед покупкой?

		ol.b-know-how__items
			li.b-know-how__item
				.b-know-how__item-content Это лучшая зеркальная камера для начинающих фотографов по&nbsp;мнению жунала FOTO&VIDEO

			li.b-know-how__item
				.b-know-how__item-content.b-know-how__item-content_dark Как выбрать зеркальный фотоаппарат и&nbsp;не&nbsp;переплатить за&nbsp;лишние функции?

			li.b-know-how__item
				.b-know-how__item-content Какой объектив купить к&nbsp;бюджетной фотокамере?
