mixin category-preview()
  .b-category-preview.iblock._nojs&attributes(attributes)
    a.b-category-preview__main-category-holder(href="#")
      span.b-category-preview__main-category
        span.b-category-preview__bg-holder
          span.b-category-preview__bg(style="background-image: url('assets/img/content/categories/cat-big1.jpg');")
          span.b-category-preview__bg._2x(style="background-image: url('assets/img/content/categories/cat-big1@2x.jpg');")
        span.b-category-preview__main-category-title Игровые приставки

    .b-category-preview__content-holder
      .b-category-preview__title._icon-mobile
        span Электроника

      ul.b-category-preview__text-items
        li.b-category-preview__text-item
          a.b-category-preview__text-link(href="#") <nobr>Сплит-системы</nobr>

        li.b-category-preview__text-item
          a.b-category-preview__text-link(href="#") Погодные станции

        li.b-category-preview__text-item
          a.b-category-preview__text-link(href="#") Погодные станции

        li.b-category-preview__text-item
          a.b-category-preview__text-link(href="#") Мобильные кондиционеры

        li.b-category-preview__text-item
          a.b-category-preview__text-link(href="#") Водонагреватели

        li.b-category-preview__text-item
          a.b-category-preview__text-link(href="#") Водонагреватели

        li.b-category-preview__text-item
          a.b-category-preview__text-link(href="#") Обогреватели

        li.b-category-preview__text-item
          a.b-category-preview__text-link(href="#") Тепловые пушки

        li.b-category-preview__text-item
          a.b-category-preview__text-link._more(href="#") Еще

      .b-category-preview__footer
        ul.b-category-preview__photo-items
          li.b-category-preview__photo-item
            a.b-category-preview__category-plate(href="#")
              img.b-category-preview__category-image(src="assets/img/content/categories/cat25.png", alt="Категория" width=200 height=200)
              span.b-category-preview__category-title Телевизоры

          li.b-category-preview__photo-item
            a.b-category-preview__category-plate(href="#")
              img.b-category-preview__category-image(src="assets/img/content/categories/cat27.png", alt="Категория" width=200 height=200)
              span.b-category-preview__category-title Смартфоны

          li.b-category-preview__photo-item
            a.b-category-preview__category-plate(href="#")
              img.b-category-preview__category-image(src="assets/img/content/categories/cat1.png", alt="Категория" width=200 height=200)
              span.b-category-preview__category-title Планшеты

          li.b-category-preview__photo-item._mobile
            a.b-category-preview__category-plate(href="#")
              img.b-category-preview__category-image(src="assets/img/content/categories/cat1.png", alt="Категория" width=200 height=200)
              span.b-category-preview__category-title Игровые приставки

mixin category-preview2()
  .b-category-preview.js-equalizer.iblock&attributes(attributes)
    a.b-category-preview__main-category-holder(href="#")
      span.b-category-preview__main-category
        span.b-category-preview__bg-holder
          span.b-category-preview__bg(style="background-image: url('assets/img/content/categories/cat-big2.jpg');")
          span.b-category-preview__bg._2x(style="background-image: url('assets/img/content/categories/cat-big2@2x.jpg');")
        span.b-category-preview__main-category-title Конфигуратор компьютера

    .b-category-preview__content-holder
      .b-category-preview__title._icon-pc
        span Компьютерная техника

      ul.b-category-preview__text-items
        li.b-category-preview__text-item
          a.b-category-preview__text-link(href="#") <nobr>Сплит-системы</nobr>

        li.b-category-preview__text-item
          a.b-category-preview__text-link(href="#") Погодные станции

        li.b-category-preview__text-item
          a.b-category-preview__text-link(href="#") Погодные станции

        li.b-category-preview__text-item
          a.b-category-preview__text-link(href="#") Мобильные кондиционеры

        li.b-category-preview__text-item
          a.b-category-preview__text-link(href="#") Водонагреватели

        li.b-category-preview__text-item
          a.b-category-preview__text-link(href="#") Водонагреватели

        li.b-category-preview__text-item
          a.b-category-preview__text-link(href="#") Обогреватели

        li.b-category-preview__text-item
          a.b-category-preview__text-link(href="#") Тепловые пушки

        li.b-category-preview__text-item
          a.b-category-preview__text-link._more(href="#") Еще

      .b-category-preview__footer
        ul.b-category-preview__photo-items
          li.b-category-preview__photo-item
            a.b-category-preview__category-plate(href="#")
              img.b-category-preview__category-image(src="assets/img/content/categories/cat25.png", alt="Категория" width=200 height=200)
              span.b-category-preview__category-title Комплектующие

          li.b-category-preview__photo-item
            a.b-category-preview__category-plate(href="#")
              img.b-category-preview__category-image(src="assets/img/content/categories/cat27.png", alt="Категория" width=200 height=200)
              span.b-category-preview__category-title Ноутбуки

          li.b-category-preview__photo-item
            a.b-category-preview__category-plate(href="#")
              img.b-category-preview__category-image(src="assets/img/content/categories/cat1.png", alt="Категория" width=200 height=200)
              span.b-category-preview__category-title Настольные ПК

          li.b-category-preview__photo-item._mobile
            a.b-category-preview__category-plate(href="#")
              img.b-category-preview__category-image(src="assets/img/content/categories/cat1.png", alt="Категория" width=200 height=200)
              span.b-category-preview__category-title Конфигуратор

mixin category-preview3()
  .b-category-preview.js-equalizer.iblock&attributes(attributes)
    a.b-category-preview__main-category-holder(href="#")
      span.b-category-preview__main-category
        span.b-category-preview__bg-holder
          span.b-category-preview__bg(style="background-image: url('assets/img/content/categories/cat-big3.jpg');")
          span.b-category-preview__bg._2x(style="background-image: url('assets/img/content/categories/cat-big3@2x.jpg');")
        span.b-category-preview__main-category-title Кухонная техника

    .b-category-preview__content-holder
      .b-category-preview__title._icon-kitchen
        span Бытовая техника

      ul.b-category-preview__text-items
        li.b-category-preview__text-item
          a.b-category-preview__text-link(href="#") <nobr>Сплит-системы</nobr>

        li.b-category-preview__text-item
          a.b-category-preview__text-link(href="#") Погодные станции

        li.b-category-preview__text-item
          a.b-category-preview__text-link(href="#") Погодные станции

        li.b-category-preview__text-item
          a.b-category-preview__text-link(href="#") Мобильные кондиционеры

        li.b-category-preview__text-item
          a.b-category-preview__text-link(href="#") Водонагреватели

        li.b-category-preview__text-item
          a.b-category-preview__text-link(href="#") Водонагреватели

        li.b-category-preview__text-item
          a.b-category-preview__text-link(href="#") Обогреватели

        li.b-category-preview__text-item
          a.b-category-preview__text-link(href="#") Тепловые пушки

        li.b-category-preview__text-item
          a.b-category-preview__text-link._more(href="#") Еще

      .b-category-preview__footer
        ul.b-category-preview__photo-items
          li.b-category-preview__photo-item
            a.b-category-preview__category-plate(href="#")
              img.b-category-preview__category-image(src="assets/img/content/categories/cat25.png", alt="Категория" width=200 height=200)
              span.b-category-preview__category-title Пылесосы

          li.b-category-preview__photo-item
            a.b-category-preview__category-plate(href="#")
              img.b-category-preview__category-image(src="assets/img/content/categories/cat27.png", alt="Категория" width=200 height=200)
              span.b-category-preview__category-title Красота и здоровье

          li.b-category-preview__photo-item
            a.b-category-preview__category-plate(href="#")
              img.b-category-preview__category-image(src="assets/img/content/categories/cat1.png", alt="Категория" width=200 height=200)
              span.b-category-preview__category-title Встраиваемая техника

          li.b-category-preview__photo-item._mobile
            a.b-category-preview__category-plate(href="#")
              img.b-category-preview__category-image(src="assets/img/content/categories/cat1.png", alt="Категория" width=200 height=200)
              span.b-category-preview__category-title Кухонная техника

mixin category-preview4()
  .b-category-preview.js-equalizer.iblock&attributes(attributes)
    a.b-category-preview__main-category-holder(href="#")
      span.b-category-preview__main-category
        span.b-category-preview__bg-holder
          span.b-category-preview__bg(style="background-image: url('assets/img/content/categories/cat-big4.jpg');")
          span.b-category-preview__bg._2x(style="background-image: url('assets/img/content/categories/cat-big4@2x.jpg');")
        span.b-category-preview__main-category-title Коляски

    .b-category-preview__content-holder
      .b-category-preview__title._icon-family
        span Семья и&nbsp;дети

      ul.b-category-preview__text-items
        li.b-category-preview__text-item
          a.b-category-preview__text-link(href="#") <nobr>Сплит-системы</nobr>

        li.b-category-preview__text-item
          a.b-category-preview__text-link(href="#") Погодные станции

        li.b-category-preview__text-item
          a.b-category-preview__text-link(href="#") Погодные станции

        li.b-category-preview__text-item
          a.b-category-preview__text-link(href="#") Мобильные кондиционеры

        li.b-category-preview__text-item
          a.b-category-preview__text-link(href="#") Водонагреватели

        li.b-category-preview__text-item
          a.b-category-preview__text-link(href="#") Водонагреватели

        li.b-category-preview__text-item
          a.b-category-preview__text-link(href="#") Обогреватели

        li.b-category-preview__text-item
          a.b-category-preview__text-link(href="#") Тепловые пушки

        li.b-category-preview__text-item
          a.b-category-preview__text-link._more(href="#") Еще

      .b-category-preview__footer
        ul.b-category-preview__photo-items
          li.b-category-preview__photo-item
            a.b-category-preview__category-plate(href="#")
              img.b-category-preview__category-image(src="assets/img/content/categories/cat25.png", alt="Категория" width=200 height=200)
              span.b-category-preview__category-title Детские автокресла

          li.b-category-preview__photo-item
            a.b-category-preview__category-plate(href="#")
              img.b-category-preview__category-image(src="assets/img/content/categories/cat27.png", alt="Категория" width=200 height=200)
              span.b-category-preview__category-title Товары для досуга

          li.b-category-preview__photo-item
            a.b-category-preview__category-plate(href="#")
              img.b-category-preview__category-image(src="assets/img/content/categories/cat1.png", alt="Категория" width=200 height=200)
              span.b-category-preview__category-title Гигиена, купание и&nbsp;уход

          li.b-category-preview__photo-item._mobile
            a.b-category-preview__category-plate(href="#")
              img.b-category-preview__category-image(src="assets/img/content/categories/cat1.png", alt="Категория" width=200 height=200)
              span.b-category-preview__category-title Коляски

mixin category-preview5()
  .b-category-preview.js-equalizer.iblock&attributes(attributes)
    a.b-category-preview__main-category-holder(href="#")
      span.b-category-preview__main-category
        span.b-category-preview__bg-holder
          span.b-category-preview__bg(style="background-image: url('assets/img/content/categories/cat-big5.jpg');")
          span.b-category-preview__bg._2x(style="background-image: url('assets/img/content/categories/cat-big5@2x.jpg');")
        span.b-category-preview__main-category-title Аксессуары

    .b-category-preview__content-holder
      .b-category-preview__title._icon-house
        span Дом, дача, авто

      ul.b-category-preview__text-items
        li.b-category-preview__text-item
          a.b-category-preview__text-link(href="#") <nobr>Сплит-системы</nobr>

        li.b-category-preview__text-item
          a.b-category-preview__text-link(href="#") Погодные станции

        li.b-category-preview__text-item
          a.b-category-preview__text-link(href="#") Погодные станции

        li.b-category-preview__text-item
          a.b-category-preview__text-link(href="#") Мобильные кондиционеры

        li.b-category-preview__text-item
          a.b-category-preview__text-link(href="#") Водонагреватели

        li.b-category-preview__text-item
          a.b-category-preview__text-link(href="#") Водонагреватели

        li.b-category-preview__text-item
          a.b-category-preview__text-link(href="#") Обогреватели

        li.b-category-preview__text-item
          a.b-category-preview__text-link(href="#") Тепловые пушки

        li.b-category-preview__text-item
          a.b-category-preview__text-link._more(href="#") Еще

      .b-category-preview__footer
        ul.b-category-preview__photo-items
          li.b-category-preview__photo-item
            a.b-category-preview__category-plate(href="#")
              img.b-category-preview__category-image(src="assets/img/content/categories/cat25.png", alt="Категория" width=200 height=200)
              span.b-category-preview__category-title Телевизоры

          li.b-category-preview__photo-item
            a.b-category-preview__category-plate(href="#")
              img.b-category-preview__category-image(src="assets/img/content/categories/cat27.png", alt="Категория" width=200 height=200)
              span.b-category-preview__category-title Смартфоны

          li.b-category-preview__photo-item
            a.b-category-preview__category-plate(href="#")
              img.b-category-preview__category-image(src="assets/img/content/categories/cat1.png", alt="Категория" width=200 height=200)
              span.b-category-preview__category-title Планшеты

          li.b-category-preview__photo-item._mobile
            a.b-category-preview__category-plate(href="#")
              img.b-category-preview__category-image(src="assets/img/content/categories/cat1.png", alt="Категория" width=200 height=200)
              span.b-category-preview__category-title Игровые приставки
