mixin socials-login()
	.b-socials-login.iblock&attributes(attributes)
		.b-socials-login__title Войти через соц.сети
		.b-socials-login__main
			ul.b-socials-login__items
				li.b-socials-login__item
					a.b-socials-login__social-link.b-socials-login__social-link_vk(href="#")
				li.b-socials-login__item
					a.b-socials-login__social-link.b-socials-login__social-link_fb(href="#")
				li.b-socials-login__item
					a.b-socials-login__social-link.b-socials-login__social-link_ok(href="#")
				li.b-socials-login__item
					a.b-socials-login__social-link.b-socials-login__social-link_gg(href="#")
				li.b-socials-login__item
					a.b-socials-login__social-link.b-socials-login__social-link_tw(href="#")
