.b-estimate {
  margin: 30px 0;
  padding: 0 0 30px 0;
  background-color: unset;
  background: none;
  border-bottom: 1px solid #f1f1f1;
  
  &__title {
    margin-bottom: 10px;
    font-size: rem(18);
    line-height: 1.22;
    font-weight: 400;
    color: #1d1d1d;
  }

  &__items {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14/16*100%;
    font-weight: 200;
    color: #333;
  }

  &__item {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    width: 100%;
    @include mmtop(14px);
  }

  &__item-name {
    display: inline-flex;
    flex: 1;
    font-size: rem(14);
    font-weight: 300;
    line-height: 1.43;
    border-bottom: none;
    vertical-align: unset;
    &:after {
      display: inline-flex;
      content: '';
      flex: 1 1 auto;
      margin: 0px 7px 5px;
      border-bottom: 1px dotted currentColor;
    }
  }

  &__item-cost {
    display: inline-flex;
    width: auto;
    flex: 0;
    border-bottom: none; //1px solid #f1f1f1;
    white-space: nowrap;
    vertical-align: unset;
    color: #1d1d1d;
    font-size: rem(18);
    font-weight: normal;
    line-height: 1.22;
  }
  @include w1024 {
    .c-configurator__aside & {
      margin: 16px 0;
      padding-bottom: 16px;
      &__item {
        flex-flow: column nowrap;
        align-items: flex-start;
        &-name:after {
          display: none;
        }
      }
    }
  }

  .c-configurator__bottom-section & {
    width: 100%;
    margin-top: 0;
  }
//  &__sub-title {
//    @include mtop(20/20);
//    @include mbot(10/20);
//    font-size: 14/16*100%;
//    font-weight: 200;
//    color: #333;
//  }
//
//  &__sub-items {
//    margin: 0;
//    padding: 0;
//    list-style: none;
//    font-size: 14/16*100%;
//    font-weight: 200;
//    color: #333;
//  }
//
//  &__sub-item {
//    @include box-sizing;
//    @include margin(5/20);
//    @include clearfix;
//    display: table;
//    width: 100%;
//  }
//
//  &__sub-item-name {
//    display: table-cell;
//    vertical-align: bottom;
//  }
//
//  &__sub-item-cost {
//    display: table-cell;
//    width: 1px;
//    white-space: nowrap;
//    vertical-align: bottom;
//    color: #969696;
//  }
//
//  &__sub-wrap {
//    padding-bottom: 15px;
//    // border-bottom: 1px solid #f1f1f1;
//  }
}
