mixin estimate()
  .b-estimate.iblock&attributes(attributes)
    .b-estimate__title Товары в&nbsp;конфигураторе
    ul.b-estimate__items
      li.b-estimate__item
        .b-estimate__item-name Корпус
        .b-estimate__item-cost 1&nbsp;999 <span class="rub">i</span>
      li.b-estimate__item
        .b-estimate__item-name Блок питания
        .b-estimate__item-cost 3&nbsp;999 <span class="rub">i</span>

    .b-estimate__sub-title Дополнительные компоненты:
    .b-estimate__sub-wrap
      ul.b-estimate__sub-items
        li.b-estimate__sub-item
          .b-estimate__sub-item-name Мышь
          .b-estimate__sub-item-cost 799 <span class="rub">i</span>
        li.b-estimate__sub-item
          .b-estimate__sub-item-name Колонки
          .b-estimate__sub-item-cost 1&nbsp;499 <span class="rub">i</span>

mixin estimate_checkout()
  .b-estimate.iblock&attributes(attributes)
    .b-estimate__title Товары в&nbsp;заказе
    ul.b-estimate__items
      li.b-estimate__item
        .b-estimate__item-name Умные часы Sony Smartwatch 3 SWR50 Metal, серебристые
        .b-estimate__item-cost 49&nbsp;999 <span class="rub">i</span>
      li.b-estimate__item
        .b-estimate__item-name Canon PowerShot SX400 IS&nbsp;с&nbsp;улучшенной матрицей и&nbsp;объективом
        .b-estimate__item-cost 49&nbsp;999 <span class="rub">i</span>
      li.b-estimate__item
        .b-estimate__item-name Автокресло <nobr>Maxi-Cosi</nobr> Cabrio Fix Walnut Brown
        .b-estimate__item-cost 49&nbsp;999 <span class="rub">i</span>
