mixin estimate()
  .b-estimate.iblock&attributes(attributes)
    ul.b-estimate__items
      li.b-estimate__item
        span.b-estimate__item-name Стоимость компонентов
        span.b-estimate__item-cost 246&nbsp;990&nbsp;₽
      li.b-estimate__item
        span.b-estimate__item-name Операционная система
        span.b-estimate__item-cost 7&nbsp;790&nbsp;₽
      li.b-estimate__item
        span.b-estimate__item-name Сборка
        span.b-estimate__item-cost нет

mixin estimate_checkout()
  .b-estimate.iblock&attributes(attributes)
    .b-estimate__title Товары в&nbsp;заказе
    ul.b-estimate__items
      li.b-estimate__item
        span.b-estimate__item-name Умные часы Sony Smartwatch 3 SWR50 Metal, серебристые
        span.b-estimate__item-cost 49&nbsp;999&nbsp;₽
      li.b-estimate__item
        span.b-estimate__item-name Canon PowerShot SX400 IS&nbsp;с&nbsp;улучшенной матрицей и&nbsp;объективом
        span.b-estimate__item-cost 49&nbsp;999&nbsp;₽
      li.b-estimate__item
        span.b-estimate__item-name Автокресло <nobr>Maxi-Cosi</nobr> Cabrio Fix Walnut Brown
        span.b-estimate__item-cost 49&nbsp;999&nbsp;₽
