.b-qiwi-modal {
  width: 100%;
  max-width: 620px;

  &__header {
    padding-top: 35px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
  }

  &__title {
    font-size: 32/16*100%;
    font-weight: 200;
    line-height: 1.22;
  }

  &__title-remark {
    font-size: 14/16*100%;
    font-weight: 200;
    line-height: 1.29;
    color: #969696;
  }

  &__full-image {
    max-width: 100%;
    height: auto;
  }

  &__content {
    padding: 20px 40px 40px;

    font-size: 14px;

    h4, .h4 {
      font-size: 16/14*100%;
    }
  }
}

.fancybox-inner {
  @media (max-width: 480px) {
    .b-qiwi-modal {
      &__title {
        font-size: 28px;
      }

      &__header {
        padding-left: 20px;
        padding-right: 20px;
      }

      &__content {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}
