mixin qiwi-modal()
	.b-qiwi-modal.iblock&attributes(attributes)
		.b-qiwi-modal__header
			.b-qiwi-modal__title Почтоматы InPost*
			.b-qiwi-modal__title-remark *Бывший QIWI Post
		.b-qiwi-modal__main
			img.b-qiwi-modal__full-image(src="assets/img/content/qiwi.jpg", alt="qiwi" width=622 height=223)
			.b-qiwi-modal__content.content-area
				.h4 InPost&nbsp;&mdash; это удобный способ доставки заказов из&nbsp;нашего <nobr>интернет-магазина</nobr>!

				p Почтоматы InPost расположены в&nbsp;удобных местах: на&nbsp;заправках, возле гипермаркетов, рядом с&nbsp;метро <nobr>и т. д.</nobr> Вы&nbsp;можете получить свой заказ в&nbsp;терминалах InPost 24 часа в&nbsp;сутки, 7 дней в&nbsp;неделю.

				.h4 Как воспользоваться доставкой через почтоматы InPost:

				ol
					li При заказе в&nbsp;нашем <nobr>интернет-магазине</nobr> выберите способ доставки InPost. Затем укажите наиболее удобный терминал.
					li Когда посылка будет доставлена в&nbsp;выбранный терминал, на&nbsp;указанный в&nbsp;заказе мобильный номер телефона придет SMS с&nbsp;<nobr>6-значным</nobr> кодом доступа к&nbsp;ячейке терминала. Заказ будет находиться в&nbsp;терминале InPost в&nbsp;течение 4 дней.
					li Следуя инструкциям на&nbsp;мониторе терминала InPost, получите ваш заказ.

				p 98% посылок можно получить уже на&nbsp;следующий день после отправления.

				.h4 Внимание!
				p <b>Если вы получаете посылку в выбранном терминале в первый раз, рекомендуется взять с собой схему расположения терминала.</b>
