mixin metro-map()
  .b-metro-map.iblock&attributes(attributes)
    .b-metro-map__header
      .b-metro-map__cols
        .b-metro-map__hypermarkets
          .b-metro-map__col-caption Гипермаркеты
          ul.b-metro-map__header-links
            li.b-metro-map__header-link-item
              a.b-metro-map__header-link(href="#" data-offset='74.8,44.5' data-link="ajax/shop-detail.html") <span class="b-metro-map__metro-icon" style="background-color: #ffcb31;"></span> Площадь Ильича
              .b-metro-map__icon-content Гипермаркет ОГО!
              .b-metro-map__address Театральная аллея, д. 3, стр.&nbsp;1
              .b-metro-map__phone <nobr>+7 495 229-56-53</nobr>
              .b-metro-map__hours Ежедневно с&nbsp;10:00 до&nbsp;22:00

            li.b-metro-map__header-link-item
              a.b-metro-map__header-link(href="#" data-link="ajax/shop-detail.html" data-offset='29,26.2') <span class="b-metro-map__metro-icon" style="background-color: #54871d;"></span> Динамо
              .b-metro-map__icon-content Гипермаркет ОГО!
              .b-metro-map__address Золоторожский Вал, д. 4, стр.&nbsp;4
              .b-metro-map__phone <nobr>+7 495 229-56-53</nobr>
              .b-metro-map__hours Ежедневно с&nbsp;10:00 до&nbsp;22:00

        .b-metro-map__pickpoints
          .b-metro-map__col-caption Точки выдачи
          .b-metro-map__cols
            .b-metro-map__col
              ul.b-metro-map__header-links
                li.b-metro-map__header-link-item
                  a.b-metro-map__header-link(href="#" data-link="ajax/shop-detail.html" data-offset='58.2,73.3') <span class="b-metro-map__metro-icon" style="background-color: #54871d;" style="background-color: #54871d;"></span> Коломенская
                  .b-metro-map__icon-content Точка выдачи ОГО!
                  .b-metro-map__address Проспект Андропова, д. 26, ТК&nbsp;&laquo;Коломенский пассаж&raquo;, каб. &#8470;&nbsp;3.
                  .b-metro-map__phone <nobr>+7 495 229-56-53</nobr>
                  .b-metro-map__hours Ежедневно с&nbsp;10:00 до&nbsp;22:00

                li.b-metro-map__header-link-item
                  a.b-metro-map__header-link(href="#" data-link="ajax/shop-detail.html" data-offset='43.3,4.6') <span class="b-metro-map__metro-icon" style="background-color: #bfbfbf;"></span> Алтуфьево
                  .b-metro-map__icon-content Точка выдачи ОГО!
                  .b-metro-map__address Алтуфьевское шоссе, дом 84, 2 этаж, павильон 36
                  .b-metro-map__phone <nobr>+7 495 229-56-53</nobr>
                  .b-metro-map__hours Ежедневно с&nbsp;10:00 до&nbsp;22:00

                li.b-metro-map__header-link-item
                  a.b-metro-map__header-link(href="#" data-link="ajax/shop-detail.html" data-offset='81.6,59.1') <span class="b-metro-map__metro-icon" style="background-color: #c70070;"></span> Волгоградский пр-т
                  .b-metro-map__icon-content Точка выдачи ОГО!
                  .b-metro-map__address Волгоградский <nobr>пр-т</nobr>, д.32, корп. 8, ТЦ&nbsp;<nobr>&laquo;Техно-Холл&raquo;</nobr>, 2 этаж, павильон <nobr>D7-8</nobr>
                  .b-metro-map__phone <nobr>+7 495 229-56-53</nobr>
                  .b-metro-map__hours Ежедневно с&nbsp;10:00 до&nbsp;22:00

            .b-metro-map__col
              ul.b-metro-map__header-links
                li.b-metro-map__header-link-item
                  a.b-metro-map__header-link(href="#" data-link="ajax/shop-detail.html" data-offset='46.4,64.5') <span class="b-metro-map__metro-icon" style="background-color: #bfbfbf;"></span> Нагатинская
                  .b-metro-map__icon-content Точка выдачи ОГО!
                  .b-metro-map__address Варшавское шоссе, дом 39, БЦ&nbsp;&laquo;Нагатинский&raquo;, 3 этаж, 330 комната
                  .b-metro-map__phone <nobr>+7 495 229-56-53</nobr>
                  .b-metro-map__hours Ежедневно с&nbsp;10:00 до&nbsp;22:00

                li.b-metro-map__header-link-item
                  a.b-metro-map__header-link(href="#" data-link="ajax/shop-detail.html" data-offset='86.4,47') <span class="b-metro-map__metro-icon" style="background-color: #ffb800;"></span> Новогиреево
                  .b-metro-map__icon-content Точка выдачи ОГО!
                  .b-metro-map__address ТК&nbsp;Федеративный, цокольный этаж, кабинет &#8470;&nbsp;12.
                  .b-metro-map__phone <nobr>+7 495 229-56-53</nobr>
                  .b-metro-map__hours Ежедневно с&nbsp;10:00 до&nbsp;22:00

                li.b-metro-map__header-link-item
                  a.b-metro-map__header-link(href="#" data-link="ajax/shop-detail.html" data-offset='5,18') <span class="b-metro-map__metro-icon" style="background-color: #0255ac;"></span> Митино
                  .b-metro-map__icon-content Точка выдачи ОГО!
                  .b-metro-map__address Митинская улица, д. 27, 1 этаж (вход со&nbsp;двора)
                  .b-metro-map__phone <nobr>+7 495 229-56-53</nobr>
                  .b-metro-map__hours Ежедневно с&nbsp;10:00 до&nbsp;22:00

    .b-metro-map__main
      .b-metro-map__bg-holder
        img.b-metro-map__bg(src="assets/img/metro-map.jpg", alt="Метро" width=1138 height=1308)

        .b-metro-map__dots
