mixin configurator-link()
  .b-configurator-link.iblock&attributes(attributes)
    .b-configurator-link__title Ссылка на&nbsp;конфигуратор
    .b-configurator-link__inputs
      .b-configurator-link__text-holder
        input.b-configurator-link__text(type="text" value="http://ogo1.ru/configurator/1282445/")
      .b-configurator-link__btn-holder
        a.b-configurator-link__btn.button-gray(href="javascript:void(0)") Скопировать

mixin configurator-link_aside()
  .b-configurator-link.iblock&attributes(attributes)
    .b-configurator-link__title.b-configurator-link__title_bold Ссылка на&nbsp;конфигуратор
    .b-configurator-link__inputs
      .b-configurator-link__text-holder
        input.b-configurator-link__text(type="text" value="http://ogo1.ru/configurator/1282445/")
      .b-configurator-link__btn-holder
        a.b-configurator-link__btn.button-gray(href="javascript:void(0)") Скопировать
