mixin alphabetic-cols()
  .b-alphabetic-cols.iblock&attributes(attributes)

    ul.b-alphabetic-cols__cols
      li.b-alphabetic-cols__col
        .b-alphabetic-cols__title A
        ul.b-alphabetic-cols__items
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") A-SOLAR
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") ABAC
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") ABB
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") ABRAFORCE
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") Accurate
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") ACV
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") ADA
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") ADDEN BAU
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") AEG
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") AFA
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") AFG
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") AGA
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") AGESTAR
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") AIKEN
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") AILEBEBE
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") AION
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") AIR Paper
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") AIRLINE
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") AIRON
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") AIST
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") AKAI
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") Akenori
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") AL-KO
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") ALAN
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") ALCO SAFE
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") ALCOCHECK
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") ALCOSCENT
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") ALEX BAUMAN
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") ALLIGATOR

      li.b-alphabetic-cols__col
        .b-alphabetic-cols__title B
        ul.b-alphabetic-cols__items
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") BABYLISS
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") BABYSPECI
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") BACH
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") BAHCO
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") BALLU
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") BALONIA
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") BALTERIO
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") BASICXL
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") BAU-FIX
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") BAUMASTER
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") BAUMESSER
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") BAXI
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") BEKA
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") BELEZZA
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") BELTRONICS
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") BERCOMAC
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") BERGER
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") BERRY ALLOC
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") BESSEY
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") BEST

      li.b-alphabetic-cols__col
        .b-alphabetic-cols__title C
        ul.b-alphabetic-cols__items
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") CALEO
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") CAMELION
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") CANADIANA
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") Cansonic
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") CAREX
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") CARMATE
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") CARMEGA
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") CARRIER
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") CARVER
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") CEL
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") CELEN

      li.b-alphabetic-cols__col
        .b-alphabetic-cols__title D
        ul.b-alphabetic-cols__items
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") DAIRE
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") DALI
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") DAMIXA
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") Datakam
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") DAYREX
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") DDE
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") DEBEVER
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") DECOR
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") DEEPCOOL
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") DEFENDER
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") DEFORT
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") DEKA
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") DELONGHI
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") DENKA
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") DENSO
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") DENZEL
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") DEPPA
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") DEVI
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") DeWALT
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") DI-STAR
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") DIAM
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") DIGITOP
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") DIMPLEX
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") DISNEY
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") DOD
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") DOHLE
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") DOLMAR
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") DOLONI
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") DOMETIC

      li.b-alphabetic-cols__col
        .b-alphabetic-cols__title E
        ul.b-alphabetic-cols__items
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") Earthquake
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") ECHO
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") ECHOWELL
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") ECON
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") ECOS
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") ECOWATT
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") Edding
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") EDELFORM
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") EDIFIER
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") EDISSON
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") EFCO
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") EGA MASTER
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") EIKOSHA
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") EINHELL
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") EISEMANN
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") ELAND
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") ELECTRALINE
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") ELECTROLUX
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") ELEMENT SYSTEM
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") ELEMENTA
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") ELGO
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") ELITECH
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") ELKOP
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") ELKRAFT

      li.b-alphabetic-cols__col
        .b-alphabetic-cols__title F
        ul.b-alphabetic-cols__items
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") FALCON EYE
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") FAVOURITE
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") FB
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") FELISATTI
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") FENOM
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") FERRABOLI
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") FILL INN
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") FILTERO

      li.b-alphabetic-cols__col
        .b-alphabetic-cols__title G
        ul.b-alphabetic-cols__items
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") G-TEQ
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") GAIAM
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") GALA
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") GALS
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") GARDEN GUARD
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") GARDENA
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") GARDENLUX
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") GARDMAN
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") GARMIN
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") GEBERIT
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") GEIST
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") GEKO
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") GENERAC
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") GENERAL CLIMATE
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") GENERAL PIPE
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") GENERAL PUMP
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") GENMAC
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") GEO-FENNEL
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") GEOBOX
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") GEOR
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") GERAT
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") GF
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") GIBBON

      li.b-alphabetic-cols__col
        .b-alphabetic-cols__title H
        ul.b-alphabetic-cols__items
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") HAMMER
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") HAEMMERLIN
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") HAIER
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") HANSA
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") HANSGROHE
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") HARTE
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") HAUPA
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") HAZET
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") HEAT-PRO
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") HEATEQ
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") HEGEL
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") HELEX
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") HELMUT

      li.b-alphabetic-cols__col
        .b-alphabetic-cols__title I
        ul.b-alphabetic-cols__items
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") IBIX
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") ICS
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") IDEAL STANDARD
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") IEK
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") IKRA Mogatec
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") INDA
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") INFINITER
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") INNO
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") INSEKTLINE
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") INSPECTOR
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") INSTRUMAX
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") INTEGO
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") Ion
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") IPPON
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") IREGA
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") IRIT
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") IRWIN
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") IT'S A HAPPY DAY
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") ITA Filter

      li.b-alphabetic-cols__col
        .b-alphabetic-cols__title J
        ul.b-alphabetic-cols__items
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") JACOB DELAFON
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") JAGUAR
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") JARKOFF
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") JET
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") JETECH
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") Jettools
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") JEVA
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") JIKA
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") JILONG
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") JIMTEN
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") JONNESWAY
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") JPOWER

      li.b-alphabetic-cols__col
        .b-alphabetic-cols__title K
        ul.b-alphabetic-cols__items
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") KAINDL
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") KAITEKI
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") KANGAROO
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") KAPRIOL
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") KAPRO
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") KARCHER
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") KAWASAKI
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") KEIL
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") KEMAP
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") KEMPER
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") KEMPPI
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") KENWOOD
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") KEOS
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") KETER

      li.b-alphabetic-cols__col
        .b-alphabetic-cols__title 0-9
        ul.b-alphabetic-cols__items
          li.b-alphabetic-cols__item
            a.b-alphabetic-cols__link(href="#") 2 Something
