mixin comparison-table()
  .container
    .comparison-table__btn-container
      ul.b-tags__items
        li.b-tags__item
          a(href="").b-tags__tag.b-tags__tag_active Умные чаcы
            .b-tags__tag__count 7
            .b-tags__tag__count-reset
        li.b-tags__item
          a(href="").b-tags__tag Телевизоры
            .b-tags__tag__count 4
            .b-tags__tag__count-reset
        li.b-tags__item
          a(href="").b-tags__tag Смартфоны
            .b-tags__tag__count 8
            .b-tags__tag__count-reset
        .comparison-table__checkbox-modile
          +checkbox('Только различающиеся характеристики')
    .comparison-table
      table.comparison-table-main
        tr
          th.comparison-table-main__options
            +checkbox('Только различающиеся характеристики')

        tr
          td Количество Sim-карт
        tr
          td Количество Sim-карт
        tr
          td Количество Sim-карт
        tr
          td Количество Sim-карт
        tr
          td Количество Sim-карт
        tr
          td Количество Sim-карт
        tr
          td Количество Sim-карт
        tr
          td Количество Sim-карт
        tr
          td Количество Sim-карт
        tr
          td Количество Sim-карт
        tr
          td Количество Sim-карт
        tr
          td Количество Sim-карт
        tr
          td Количество Sim-карт
        tr
          td Количество Sim-карт
      table.comparison-table-table
        tr
          th(data-product= "") 
            +list-product()(class="_flexible")
          th(data-product= "") 
            +list-product()(class="_flexible")
          th(data-product= "") 
            +list-product()(class="_flexible")
          th(data-product= "") 
            +list-product()(class="_flexible")
          th(data-product= "") 
            +list-product()(class="_flexible")
          th(data-product= "") 
            +list-product()(class="_flexible")
          th(data-product= "") 
            +list-product()(class="_flexible")
          th(data-product= "") 
            +list-product()(class="_flexible")
          th(data-product= "") 
            +list-product()(class="_flexible")
          th(data-product= "") 
            +list-product()(class="_flexible")
          th(data-product= "") 
            +list-product()(class="_flexible")
          th(data-product= "") 
            +list-product()(class="_flexible")
          th(data-product= "") 
            +list-product()(class="_flexible")
          th(data-product= "") 
            +list-product()(class="_flexible")
          th(data-product= "") 
            +list-product()(class="_flexible")
        tr.scloll-tr(data-category= "")
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 1678GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB

        tr.scloll-tr(data-category= "")
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB

        tr.scloll-tr(data-category= "")
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB

        tr.scloll-tr(data-category= "")
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB

        tr.scloll-tr(data-category= "")
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB

        tr.scloll-tr(data-category= "")
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB

        tr.scloll-tr(data-category= "")
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB

        tr.scloll-tr(data-category= "")
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB

        tr.scloll-tr(data-category= "")
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB

        tr.scloll-tr(data-category= "")
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB

        tr.scloll-tr(data-category= "")
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB

        tr.scloll-tr(data-category= "")
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB

        tr.scloll-tr(data-category= "")
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
        tr.scloll-tr(data-category= "")
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 1678GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16GB
          td.scroll-td 16Gb
