mixin stock-info()
  // CATALOG CARD
  .b-stock-info.iblock&attributes(attributes)
    .b-stock-info__delivery-section
      .b-stock-info__title.b-stock-info__title_car
        span.b-stock-info__title-text <strong>Доставка 8 августа</strong> бесплатно

      .b-stock-info__container
        .b-stock-info__cols
          .b-stock-info__left-col
            .b-stock-info__sub-caption В&nbsp;руки
            ul.b-stock-info__list
              li.b-stock-info__list-item 250 <span class="rub">i</span>&nbsp;&mdash; 3&ndash;4 дня, СДЭК
              li.b-stock-info__list-item 340 <span class="rub">i</span>&nbsp;&mdash; 2&ndash;4 дня, СПРС
              li.b-stock-info__list-item 250 <span class="rub">i</span>&nbsp;&mdash; 3&ndash;4 дня, КСЭ

            a.b-stock-info__more-link(href="#") Все варианты доставки

          .b-stock-info__right-col
            .b-stock-info__sub-caption До&nbsp;пункта выдачи/постомата
            ul.b-stock-info__list
              li.b-stock-info__list-item 250 <span class="rub">i</span>&nbsp;&mdash; 3&ndash;4 дня, постоматы QIWIPost
              li.b-stock-info__list-item 340 <span class="rub">i</span>&nbsp;&mdash; 2&ndash;4 дня, постоматы СДЭК
              li.b-stock-info__list-item 250 <span class="rub">i</span>&nbsp;&mdash; 3&ndash;4 дня, КСЭ

            a.b-stock-info__more-link(href="#") Подробнее

    .b-stock-info__keeping-section
      .b-stock-info__title.b-stock-info__title_place
        span.b-stock-info__title-text Наличие в&nbsp;гипермаркетах ОГО!

      .b-stock-info__container
        .b-stock-info__cols
          .b-stock-info__left-col
            .b-stock-info__sub-caption В&nbsp;руки
            ul.b-stock-info__list
              li.b-stock-info__list-item 250 <span class="rub">i</span>&nbsp;&mdash; 3&ndash;4 дня, СДЭК
              li.b-stock-info__list-item 340 <span class="rub">i</span>&nbsp;&mdash; 2&ndash;4 дня, СПРС
              li.b-stock-info__list-item 250 <span class="rub">i</span>&nbsp;&mdash; 3&ndash;4 дня, КСЭ

            a.b-stock-info__more-link(href="#") Все варианты доставки

          .b-stock-info__right-col
            .b-stock-info__sub-caption До&nbsp;пункта выдачи/постомата
            ul.b-stock-info__list
              li.b-stock-info__list-item 250 <span class="rub">i</span>&nbsp;&mdash; 3&ndash;4 дня, постоматы QIWIPost
              li.b-stock-info__list-item 340 <span class="rub">i</span>&nbsp;&mdash; 2&ndash;4 дня, постоматы СДЭК
              li.b-stock-info__list-item 250 <span class="rub">i</span>&nbsp;&mdash; 3&ndash;4 дня, КСЭ

            a.b-stock-info__more-link(href="#") Подробнее
  // endof CATALOG CARD