mixin tags()
	.b-tags.iblock&attributes(attributes)
		ul.b-tags__items
			li.b-tags__item
				a.b-tags__tag(href="") Дешёвые фотоаппараты
			li.b-tags__item
				a.b-tags__tag(href="") Фотоаппараты Canon
			li.b-tags__item
				a.b-tags__tag(href="") Фотоаппараты для новичков
			li.b-tags__item
				a.b-tags__tag.b-tags__tag_new(href="") Новинки
			li.b-tags__item
				a.b-tags__tag.b-tags__tag_discount(href="") Скидки
