mixin feedback-form()
  .b-feedback-form.iblock&attributes(attributes)
    label.b-feedback-form__field
      .b-feedback-form__label Плюсы
      .b-feedback-form__input
        .b-feedback-form__textarea
          textarea.scroll-fixer(name="plus") Аккумулятор очень долго держит зарядку&nbsp;&mdash; две недели и&nbsp;это по&nbsp;30 -40 снимков в&nbsp;день, объектив китовый неплохой для быстрой съемки, а&nbsp;для художественного фото использовал советские объективы Таир -11, Гелиос 40 и&nbsp;44, Юпитер 37а&nbsp;&mdash; все подходят через переходное кольцо, Тушка аппарата неплохо сделана&nbsp;&mdash; все просто.

    label.b-feedback-form__field
      .b-feedback-form__label Минусы
      .b-feedback-form__input
        .b-feedback-form__textarea
          textarea.scroll-fixer(name="minus") Китовый объектив это как дешевая пластиковая игрушка (имеются люфты).

    label.b-feedback-form__field
      .b-feedback-form__label Комментарий
      .b-feedback-form__input
        .b-feedback-form__textarea
          textarea.scroll-fixer(name="comment") До этого снимал Зенитом Е и т. д. Никон D3200 использую в режиме М и очень нравится — вручную можно легко выставить диафрагму, выдержку и чувствительность матрицы (ISO)
