/** CATALOG CARD */
.b-product-images {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  max-width: 100%;
  &__slider {
    display: block;
    width: 100%;
    height: 100%;
    &-holder {
      position: relative;
      max-width: 408px;
      height: 408px;
      margin: 0 15px;
      overflow: hidden;
    }
    .slick {
      &-list,
      &-track,
      &-slide {
        height: 100%;
      }
      &-arrow {
        position: absolute;
        width: 50px;
        height: 60px;
        padding: 0;
        top: 50%;
        color: rgba(#1d1d1d, 0.5);
        font-size: 30px;
        transform: translateY(-50%);
        opacity: 0.5;
        border: none;
        z-index: 1;
        svg {
          stroke: rgba(#1d1d1d, 0.5);
        }
        &:before {
          display: none;
        }
        &:hover,
        &:active {
          color: rgba(#1d1d1d, 1);
          svg {
            stroke: rgba(#1d1d1d, 1);
          }
        }
      }
      &-prev {
        left: 0;
      }
      &-next {
        right: 0;
      }
    }
  }
  &__slide {
    height: 100%;
    &:focus {
      outline: none;
    }
    &-link {
      display: flex;
      width: 100%;
      height: 100%;
      flex: 1;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      &:focus {
        outline: none;
      }
    }
    &-img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }
  &__thumbs {
    position: relative;
    height: 100%;
    list-style: none;
    overflow: hidden;
    &-holder {
      flex: 0;
      min-width: 72px;
      max-width: 72px;
      height: 408px;
    }
    .slick {
      &-list {
        box-sizing: border-box;
        height: 100% !important;
      }
      &-track {
        &:before,
        &:after {
          display: none;
        }
      }
      &-arrow {
        position: absolute;
        left: 0;
        width: 100%;
        height: 20px;
        border: 0;
        background-color: #f1f1f1;
        font-size: 0;
        color: #969696;
        z-index: 1;
        
        transition: transform 0.2s ease-in-out;
        &:before {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 2em;
          margin-top: -3px;
          margin-left: -1em;
          font-size: 7px;
          transform-origin: 50% 50%;
        }
      }
      &-next {
        bottom: 0;
        opacity: 0;
        transform: translateY(100%);
        &:before {
          @include ft-icon($ft-arrow-down);
        }
      }
      &-prev {
        top: 0;
        opacity: 0;
        transform: translateY(-100%);
        &:before {
          @include ft-icon($ft-arrow-up);
        }
      }
      &-slide {
        float: none;
        &:hover {
          cursor: pointer;
        }
        
       
      }
    }
    &:hover {
      .slick-prev,
      .slick-next {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  &__thumb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 72px !important;
    margin: 7px 0;
    border: 2px solid transparent;
    background: #fff;
    outline: none;
    &.slick-slide {
      display: flex;
      border-width: 2px;
    }
    &.slick-current {
      border-color: #3e8bdc;
    }
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &:nth-child(n+6) {
      display: none;
    }
    .slick-initialized &.slick-slide:nth-child(n+5) {
      display: flex;
    }
    &-img {
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
  @include w1024 {
    &__slider {
      &-holder {
        margin: 0 25px;
        height: 380px;
      }
    }
  }
  @include w768 {
    &__slider {
      &-holder {
        margin: 0;
      }
    }
  }
  @include w480 {
    flex-flow: column wrap;
    &__slider {
      &-holder {
        width: 100%;
        height: 350px;
        margin: 0;
      }
    }
    &__thumbs {
      &-holder {
        display: none;
      }
    }
  }
  /*deprecated ↓
  &__scale-holder {
    position: absolute;
    top: 0;
    right: -15px;
    bottom: 0;
    width: 7px;
    background-color: #f5f6f8;
    border-radius: 6px;
    cursor: pointer;
  }

  &__scale {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: auto;
  }

  &__scale.ui-slider {
    @include box-sizing;
    width: 100%;
    background-color: #f5f6f8;
    border: none;
    border-radius: 6px;

    .ui-slider-handle {
      z-index: 5;
      left: 0;
      width: 100%;
      margin: 0;
      border: none;
      transition: bottom .2s;
      background: #ced5da;
      border-radius: 6px;
    }
  }
  

  &__slider {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__slider-wrap {
    position: relative;
    max-width: 100%;
  }
 
  &__slide {
    margin: 0;
  }

  &__prev {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 0;
    visibility: hidden;
    margin-top: -5px;
    text-decoration: none;
    color: #a0a0a0;

    &:before {
      @include ft-icon($ft-arrow-left);
      font-size: 22px;
    }
  }

  &__next {
    position: absolute;
    z-index: -1;
    top: 50%;
    right: 0;
    visibility: hidden;
    margin-top: -5px;
    text-decoration: none;
    color: #a0a0a0;

    &:before {
      @include ft-icon($ft-arrow-right);
      font-size: 22px;
    }
  }
  endof deprecated */
}

//.b-product-images._nojs {
//  .b-product-images {
//    &__slide:nth-child(n+2) {
//      display: none;
//    }
//  }
//}
/** CATALOG CARD */