mixin product-images()
  .b-product-images.iblock._nojs&attributes(attributes)
    .b-product-images__cols
      .b-product-images__thumbs-holder
        ul.b-product-images__thumbs
          li.b-product-images__thumb
            a.b-product-images__thumb-link._active(href="javascript:void(0);")
              img.b-product-images__thumb-img(src="assets/img/content/thumb1.png", alt="Изображение" width=80 height=80)

          li.b-product-images__thumb
            a.b-product-images__thumb-link(href="javascript:void(0);")
              img.b-product-images__thumb-img(src="assets/img/content/thumb2.png", alt="Изображение" width=80 height=80)

          li.b-product-images__thumb
            a.b-product-images__thumb-link(href="javascript:void(0);")
              img.b-product-images__thumb-img(src="assets/img/content/thumb3.png", alt="Изображение" width=80 height=80)

          li.b-product-images__thumb
            a.b-product-images__thumb-link(href="javascript:void(0);")
              img.b-product-images__thumb-img(src="assets/img/content/thumb4.png", alt="Изображение" width=80 height=80)

          li.b-product-images__thumb
            a.b-product-images__thumb-link(href="javascript:void(0);")
              img.b-product-images__thumb-img(src="assets/img/content/thumb1.png", alt="Изображение" width=80 height=80)

          li.b-product-images__thumb
            a.b-product-images__thumb-link(href="javascript:void(0);")
              img.b-product-images__thumb-img(src="assets/img/content/thumb4.png", alt="Изображение" width=80 height=80)

      .b-product-images__main-holder
        .b-product-images__slider-wrap
          a.b-product-images__prev(href="#")
          a.b-product-images__next(href="#")

          ul.b-product-images__slider
            li.b-product-images__slide
              img.b-product-images__main-img(src="assets/img/content/product-photo1.jpg", alt="Товар" width=548 height=446)
            li.b-product-images__slide
              img.b-product-images__main-img(src="assets/img/content/product-photo1.jpg", alt="Товар" width=548 height=446)
            li.b-product-images__slide
              img.b-product-images__main-img(src="assets/img/content/product-photo1.jpg", alt="Товар" width=548 height=446)
            li.b-product-images__slide
              img.b-product-images__main-img(src="assets/img/content/product-photo1.jpg", alt="Товар" width=548 height=446)
            li.b-product-images__slide
              img.b-product-images__main-img(src="assets/img/content/product-photo1.jpg", alt="Товар" width=548 height=446)
            li.b-product-images__slide
              img.b-product-images__main-img(src="assets/img/content/product-photo1.jpg", alt="Товар" width=548 height=446)
