.b-configurator-additional {
  min-width: auto;
  &__caption {
    margin: 0;
    padding: 0;
    font-size: rem(24);
    line-height: 1.17;
    font-weight: 300;
    color: #1d1d1d;
    border-bottom: none; //1px solid #f1f1f1;
    &:after {
      right: 5px;
    }
  }

  &__holder {
    padding: 0; //15px;
  }

  &__items {
    @include clearfix;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    list-style: none;
    margin: 24px -7px -7px -7px;
    padding: 0;
    &:first-child {
      margin-top: 0;
    }
  }

  &__item {
    float: none;
    width: auto;
    flex: 1 0 calc(33% - 14px);
    max-width: calc(33% - 14px);
    padding-right: 0;
    //margin-top: 7px;
    //margin-bottom: 0;
    margin: 7px;
    &:first-child {
      margin-top: 7px;
    }
    &:nth-child(3n+1) {
      clear: left;
    }
    &._clear {
      clear: left;
    }
  }

  &__holder {
    padding: 20px;
    overflow: hidden;
  }

  &__label {
    display: block;
    @extend .button-gray;
    font-size: rem(14);
  }
  @include w768 {
    &__item {
      flex: 1 0 calc(50% - 14px);
      max-width: calc(50% - 14px);
      &:first-child {
        margin-top: 7px;
      }
    }
  }
  @include w480 {
    &__item {
      @include mmtop(14px);
      flex: 1 1 100%;
      max-width: none;
    }
  }
}

@mixin mx630($mod: "") {
  .b-configurator-additional#{$mod} {
    .b-configurator-additional {
      &__item {
        width: 1/2*100%;

        &:nth-child(3n+1) {
          clear: none;
        }

        &:nth-child(2n+1) {
          clear: left;
        }
      }
    }
  }
}

@mixin mx420($mod: "") {
  .b-configurator-additional#{$mod} {
    .b-configurator-additional {
      &__item {
        float: none;
        width: auto;
        padding-right: 0;
        max-width: none;
        margin-left: auto;
        margin-right: auto;
      }

      &__label {
        @include box-sizing;
        width: 100%;
        text-align: left;
      }

      &__caption {
        text-align: left;
      }
    }
  }
}

@mixin mn1000($mod: "") {
  .b-configurator-additional#{$mod} {
    .b-configurator-additional {
      &__item {
        width: 1/4*100%;

        &:nth-child(3n+1) {
          clear: none;
        }

        &:nth-child(4n+1) {
          clear: left;
        }
      }
    }
  }
}

@include mx630("._mx630");
@include mx420("._mx420");
@include mn1000("._mn1000");

.c-configurator__additional-items {
  @media (max-width: 670px) {
    @include mx630();
  }

  @media (max-width: 460px) {
    @include mx420();
  }
}
