mixin configurator-additional()
  .b-configurator-additional.iblock.js-accordion&attributes(attributes)
    .b-configurator-additional__holder.js-accordion-item.active
      .b-configurator-additional__caption.js-accordion-header Дополнительные компоненты
      ul.b-configurator-additional__items.js-accordion-body
        li.b-configurator-additional__item
          a.b-configurator-additional__label.button-gray(href="#") Монитор
        li.b-configurator-additional__item
          a.b-configurator-additional__label.button-gray(href="#") Микрофон
        li.b-configurator-additional__item
          a.b-configurator-additional__label.button-gray(href="#") SSD накопитель
        li.b-configurator-additional__item
          a.b-configurator-additional__label.button-gray(href="#") Мышь
        li.b-configurator-additional__item
          a.b-configurator-additional__label.button-gray(href="#") Джойстик
        li.b-configurator-additional__item
          a.b-configurator-additional__label.button-gray(href="#") Звуковая карта
        li.b-configurator-additional__item
          a.b-configurator-additional__label.button-gray(href="#") Клавиатура
        li.b-configurator-additional__item
          a.b-configurator-additional__label.button-gray(href="#") Аксессуары к&nbsp;корпусу
        li.b-configurator-additional__item
          a.b-configurator-additional__label.button-gray(href="#") Плата видеомонтажа
        li.b-configurator-additional__item
          a.b-configurator-additional__label.button-gray(href="#") Клавиатура+мышь
        li.b-configurator-additional__item
          a.b-configurator-additional__label.button-gray(href="#") Кулер для корпуса
