mixin subcategory-slider()
  .b-subcategory-slider.iblock._nojs&attributes(attributes)
    ul.b-subcategory-slider__slider
      each val in [1,1,1,1,1]
        li.b-subcategory-slider__slide
          .b-subcategory-slider__slide-wrap
            +promo-block6()
