/**
* MODULE UPDATE 26.10.2020
*/
.b-subcategory-slider {
  color: red;
  .slick-slide img {
    display: inline-block;
  }

  .slick-dots {
    position: absolute;
    bottom: 7px;
    left: 0;
    right: 0;
    margin: 0;
    text-align: center;

    .slick-active button {
      @include opacity(.5);
      cursor: default;
    }

    > li {
      display: inline-block;
      margin: 0;
      width: 10px;
      height: 10px;
      margin-right: .25em;
    }

    button {
      @include opacity(.2);
      width: 10px;
      height: 10px;
      border: none;
      font-size: 0;
      border-radius: 0;
      vertical-align: top;
      background-color: #000;
      border: 1px solid #fff ;
      &:hover {
        @include opacity(.7);
      }
    }
  }

  &__slider {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
  }

  &__slide {
    margin: 0;
    background-color: #fff;
    height: 100%;
    &-wrap {
      position: relative;
    }
  }

  &__bg-holder {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  &__bg {
    position: absolute;
    right: 0;
    top: 0;
  }

  &__bg-colors {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: auto;
  }

  &__content-holder {
    @include box-sizing;
    position: relative;
    z-index: 2;
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 404px;
    padding-top: 80px;
    text-align: center;
  }

  &__caption {
    font-size: 24/16*100%;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 7px;
    color: #333;
  }

  &__logo-holder {
    @include margin(20/20);
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__more {
    background-color: #f1f1f1;
  }

  &._nojs {
    .b-subcategory-slider {
      &__slide {
        display: none;

        &:first-child {
          display: block;
        }
      }
    }
  }
}
