mixin tabs()
	.b-tabs.iblock&attributes(attributes)
		ul.b-tabs__cols
			li.b-tabs__col.b-tabs__col_active
				a.b-tabs__link(href="#")
					span.b-tabs__link-text На карте
			li.b-tabs__col
				a.b-tabs__link(href="#")
					span.b-tabs__link-text На&nbsp;схеме метро

		ul.b-tabs__holders
			li.b-tabs__holder.b-tabs__holder_active
			li.b-tabs__holder
