.b-search-slider {
  &__slider {
    @include clearfix;
  }

  &__slide {
    @include box-sizing;
    margin: 0;
    padding: 3px;
  }

  &__wrap {
    position: relative;
    padding: 0;
  }

  &__prev {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 0;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    background-color: #ff7575;
    text-align: center;
    color: white;
    cursor: pointer;

    &:before {
      @include ft-icon($ft-arrow-left)
        width: 1.1em;
      font-size: 12px;
      line-height: 30px;
    }
  }

  &__next {
    position: absolute;
    z-index: 10;
    top: 50%;
    right: 0;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    background-color: #ff7575;
    text-align: center;
    color: white;
    cursor: pointer;

    &:before {
      @include ft-icon($ft-arrow-right)
        width: 1.1em;
      font-size: 12px;
      line-height: 30px;
    }
  }
}

.b-search-slider._no-js {
  .b-search-slider {
    &__slide {
      float: left;
      width: 1/4*100%;

      &:nth-child(4n+1) {
        clear: left;
      }
    }
  }
}
