mixin main-advantages()
  .b-main-advantages.iblock&attributes(attributes)
    ul.b-main-advantages__items
      li.b-main-advantages__item
        .b-main-advantages__item-wrap
          .b-main-advantages__image-holder
            img.b-main-advantages__image(src="assets/img/content/main-advantages1.png", alt="Преимущество" width=315 height=255)
          .b-main-advantages__content-holder
            .b-main-advantages__title Всегда низкие цены
            .b-main-advantages__text.content-area
              p Самовывоз из&nbsp;двух магазинов рядом с&nbsp;метро.

      li.b-main-advantages__item
        .b-main-advantages__item-wrap
          .b-main-advantages__image-holder
            img.b-main-advantages__image(src="assets/img/content/main-advantages2.png", alt="Преимущество" width=315 height=255)

          .b-main-advantages__content-holder
            .b-main-advantages__title Быстро доставим на&nbsp;дом или в&nbsp;пункт выдачи
            .b-main-advantages__text.content-area
              p Самовывоз из&nbsp;двух магазинов рядом с&nbsp;метро.

      li.b-main-advantages__item
        .b-main-advantages__item-wrap
          .b-main-advantages__image-holder
            img.b-main-advantages__image(src="assets/img/content/main-advantages3.png", alt="Преимущество" width=315 height=255)

          .b-main-advantages__content-holder
            .b-main-advantages__title Только официальная гарантия
            .b-main-advantages__text.content-area
              p Товары сертифицированы ЕАС (РСТ) и&nbsp;имеют официальную гарантию
