
// Обновлен 28.10.2020 с new1.ogo.ru
.b-events-slider,
.b-events-slider *,
.b-events-slider *::before,
.b-events-slider *::after {
  box-sizing: border-box;
}

.b-events-slider__header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 12px;
}

@media (max-width: 650px) {
  .b-events-slider__header {
    margin-bottom: 14px;
  }
}

.b-events-slider__title {
  flex-shrink: 0;
  font-weight: 300;
  font-size: 28px;
  line-height: 34px;
  margin: 0;
}

@media (max-width: 650px) {
  .b-events-slider__title {
    font-size: 26px;
    line-height: 30px;
  }
}

.b-events-slider__arrows {
  flex-shrink: 0;
  display: inline-flex;
  vertical-align: top;
  margin: 0 -1px 0 auto;
}

@media (max-width: 1040px) {
  .b-events-slider__arrows {
    margin-right: 0;
  }
}

.b-events-slider__all {
  font-size: 12px;
  line-height: 18px;
  border: 1px solid #F1F1F1;
  padding: 7px 15px 5px;
  transition: border-color 0.2s, box-shadow 0.2s;
}

@media (max-width: 374px) {
  .b-events-slider__all {
    padding: 7px 8px 5px;
  }
}

.b-events-slider__all:hover {
  border-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.b-events-slider .slider-arrow {
  margin-left: 5px;
}

@media (max-width: 480px) {
  .b-events-slider .slider-arrow {
    display: none !important;
  }
}

.b-events-slider__prev {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  margin-right: .5em;
  text-decoration: none;
  text-align: center;
  color: #969696;
  background-color: #fff;
}

.b-events-slider__prev:before {
  content: "î …";
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  text-decoration: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  line-height: 40px;
}

.b-events-slider__prev:hover {
  color: #333;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.b-events-slider__next {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  text-decoration: none;
  text-align: center;
  color: #969696;
  background-color: #fff;
}

.b-events-slider__next:before {
  content: "î „";
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  text-decoration: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  line-height: 40px;
}

.b-events-slider__next:hover {
  color: #333;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.b-events-slider .slider-dots {
  text-align: left;
  max-width: calc(100% - 14px);
  max-height: 18px;
  right: auto;
  left: 7px;
  bottom: 14px;
  padding-left: 12px;
  padding-right: 120px;
}

@media (min-width: 481px) {
  .b-events-slider .slider-dots {
    display: none !important;
  }
}

@media (max-width: 340px) {
  .b-events-slider .slider-dots {
    padding-right: 110px;
  }
}

.b-events-slider .slider-dots li {
  width: 8px;
  height: 8px;
  margin: 4px 3px 0;
}

.b-events-slider .slider-dots button {
  width: 8px;
  height: 8px;
}

.b-events-slider__slider {
  display: flex;
  margin: 0 -7px;
  overflow: hidden;
}

.b-events-slider__slider.slick-initialized {
  display: block;
}

.b-events-slider__slider .slick-track {
  display: flex;
}

.b-events-slider__slide {
  flex-shrink: 0;
  flex-grow: 0;
  width: 33.33333%;
  padding: 0 7px;
  float: none;
  height: auto;
}

@media (max-width: 780px) {
  .b-events-slider__slide {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .b-events-slider__slide {
    width: 100%;
  }
}

.b-events-slider__slide-wrap {
  position: relative;
  height: 100%;
  padding: 18px 18px 20px 17px;
  background-color: #fff;
}

@media (max-width: 1040px) {
  .b-events-slider__slide-wrap {
    padding: 18px 19px 20px 18px;
  }
}

@media (max-width: 650px) {
  .b-events-slider__slide-wrap {
    padding: 14px;
  }
}

.b-events-slider__logo-holder {
  text-align: center;
  display: block;
  width: 100%;
  height: auto;
  margin: 0 0 15px;
}

@media (max-width: 1040px) {
  .b-events-slider__logo-holder {
    margin-bottom: 10px;
  }
}

.b-events-slider__logo-holder:last-child {
  margin-bottom: 0;
}

.b-events-slider__logo-holder a {
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

.b-events-slider__logo {
  vertical-align: top;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.b-events-slider__caption {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  height: 44px;
  overflow: hidden;
  margin: 0 0 10px;
}

.b-events-slider__caption:last-child {
  margin-bottom: 0;
}

.b-events-slider__text {
  font-size: 87.5%;
  font-weight: 400;
  color: #141414;
  max-height: 80px;
  overflow: hidden;
  height: 20px;
  margin-top: 0;
  margin-bottom: 10px;
}

.b-events-slider__text:first-child {
  margin-top: 0;
}

.b-events-slider__bottom-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 14px;
}

@media (max-width: 1040px) {
  .b-events-slider__bottom-section {
    margin-top: 9px;
  }
}

@media (max-width: 650px) {
  .b-events-slider__bottom-section {
    align-items: flex-start;
    margin-top: 14px;
  }
}

.b-events-slider__date {
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  color: #969696;
  white-space: nowrap;
  padding-right: 10px;
  margin-top: 3px;
}

@media (max-width: 650px) {
  .b-events-slider__date {
    padding-bottom: 19px;
    margin-top: 1px;
  }
}

.b-events-slider__more {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #4A4A4A;
  padding: 10px 13px;
}

@media (max-width: 340px) {
  .b-events-slider__more {
    padding: 10px;
  }
}