mixin news-slider()
  .b-events-slider.iblock._nojs&attributes(attributes)
    .b-events-slider__header
      .b-events-slider__title Новости

      .b-events-slider__arrows
        a.b-events-slider__all.button-gray(href="#") Все новости
        a.b-events-slider__prev(href="#")
        a.b-events-slider__next(href="#")

    .b-events-slider__slider-holder
      .b-events-slider__slider
        each val in [v,v,v]
          .b-events-slider__slide
            .b-events-slider__slide-wrap
              .b-events-slider__caption Дарим подарки от&nbsp;Apple!
              .b-events-slider__text.content-area
                p При покупке iPhone до&nbsp;2000&nbsp;рублей в&nbsp;подарок

              .b-events-slider__slide-footer
                .b-events-slider__logo-holder
                  .b-events-slider__logo-wrap
                    img.b-events-slider__logo(src="assets/img/content/news/news_preview1.jpg", alt="Логотип" width=96 height=53)

                .b-events-slider__bottom-section

                  .b-events-slider__date <nobr>10.02.2016</nobr>&nbsp;&mdash; <nobr>10.05.2016</nobr>
                  .b-events-slider__more-holder
                    a.b-events-slider__more.button-gray(href="#") Подробнее
