mixin order-cart()
  .b-order-cart.iblock&attributes(attributes)
    ul.b-order-cart__items
      li.b-order-cart__item
        +cart-product_checkout()

      li.b-order-cart__item
        +cart-product_checkout()

      li.b-order-cart__item
        +cart-product_checkout()

      li.b-order-cart__item
        +cart-product_checkout()
