mixin main-consult()
	.b-main-consult.iblock&attributes(attributes)
		.b-main-consult__header
			.b-main-consult__photo-holder
				img.b-main-consult__photo(src="assets/img/content/photo.jpg", alt="" width=50 height=50)
				.b-main-consult__photo-title
					.b-main-consult__name Василий Петров
					.b-main-consult__job Ваш констультант

			.b-main-consult__callback-holder
				a.b-main-consult__callback.button-gray.js-modal(href="#callback-modal") Заказать звонок

		.b-main-consult__main
			.b-main-consult__messages-holder
				.b-main-consult__messages
					.b-main-consult__message-holder
						.b-main-consult__message Здравствуйте!<br/>Не&nbsp;могу найти информацию о&nbsp;доставке по&nbsp;Москве
						.b-main-consult__message-remark Просмотренно в 12:27

					.b-main-consult__message-holder._consult
						.b-main-consult__message._consult Стоимость доставки: от&nbsp;150 i! Получить можно уже завтра, если заказ будет оформлен сегодня до&nbsp;16:00.<br/>Подробнее можно узнать здесь: <a href="#">http://ogo1.ru/about/</a>

					.b-main-consult__message-holder
						.b-main-consult__message Здравствуйте!<br/>Не&nbsp;могу найти информацию о&nbsp;доставке по&nbsp;Москве
						.b-main-consult__message-remark Просмотренно в 12:27

					.b-main-consult__message-holder._consult
						.b-main-consult__message._consult Стоимость доставки: от&nbsp;150 i! Получить можно уже завтра, если заказ будет оформлен сегодня до&nbsp;16:00.<br/>Подробнее можно узнать здесь: <a href="#">http://ogo1.ru/about/</a>

					.b-main-consult__typing

		.b-main-consult__footer
			.b-main-consult__ui-holder
				.b-main-consult__ui-header
					.b-main-consult__ui-label Сообщение
					.b-main-consult__ui-send Отправить: Enter &#8629;

				.b-main-consult__textarea-holder
					textarea.b-main-consult__textarea

mixin main-consult_modal()
	.b-main-consult._modal.iblock&attributes(attributes)
		.b-main-consult__caption Мы всегда на связи!
		.b-main-consult__header
			.b-main-consult__photo-holder
				img.b-main-consult__photo(src="assets/img/content/photo.jpg", alt="" width=50 height=50)
				.b-main-consult__photo-title
					.b-main-consult__name Василий Петров
					.b-main-consult__job Ваш констультант

			.b-main-consult__callback-holder
				a.b-main-consult__callback.button-gray.js-modal(href="#callback-modal") Заказать звонок

		.b-main-consult__main
			.b-main-consult__messages-holder
				.b-main-consult__messages
					.b-main-consult__message-holder
						.b-main-consult__message Здравствуйте!<br/>Не&nbsp;могу найти информацию о&nbsp;доставке по&nbsp;Москве
						.b-main-consult__message-remark Просмотренно в 12:27

					.b-main-consult__message-holder._consult
						.b-main-consult__message._consult Стоимость доставки: от&nbsp;150 i! Получить можно уже завтра, если заказ будет оформлен сегодня до&nbsp;16:00.<br/>Подробнее можно узнать здесь: <a href="#">http://ogo1.ru/about/</a>

					.b-main-consult__message-holder
						.b-main-consult__message Здравствуйте!<br/>Не&nbsp;могу найти информацию о&nbsp;доставке по&nbsp;Москве
						.b-main-consult__message-remark Просмотренно в 12:27

					.b-main-consult__message-holder._consult
						.b-main-consult__message._consult Стоимость доставки: от&nbsp;150 i! Получить можно уже завтра, если заказ будет оформлен сегодня до&nbsp;16:00.<br/>Подробнее можно узнать здесь: <a href="#">http://ogo1.ru/about/</a>

					.b-main-consult__typing

		.b-main-consult__footer
			.b-main-consult__ui-holder
				.b-main-consult__ui-header
					.b-main-consult__ui-label Сообщение
					.b-main-consult__ui-send Отправить: Enter &#8629;

				.b-main-consult__textarea-holder
					textarea.b-main-consult__textarea
