mixin promo-block4()
	.b-promo-block4.iblock&attributes(attributes)
		.b-promo-block4__bg-holder
			img.b-promo-block4__bg(src="assets/img/content/promo4-bg.png" alt="Фон" width=347 height=150)

		.b-promo-block4__content-holder
			a.b-promo-block4__title(href="#") ASUS дарит 2000 бонусов на&nbsp;карту ОГО!

			.b-promo-block4__logo-holder
				img.b-promo-block4__logo(src="assets/img/content/asus-logo.png", alt="asus" width=130 height=23)
