mixin map-point()
  .b-map-point.iblock&attributes(attributes)
    .b-map-point__choose-holder._active
      a.b-map-point__choose-btn.button(href="#") Найти другой терминал

    .b-map-point__map-section
      .b-map-point__select
        select.select2
          option М. Комсомольская, Ащеулов пер., д.9
          option Золоторожский Вал, д. 4, стр. 2

      .b-map-point__map
        .b-ymap
          .b-ymap__map(data-center="55.767701,37.634613")

    ul.b-map-point__options
      li.b-map-point__option._active(data-coords="55.767701,37.634613")
        .b-map-point__caption.
          <span class="b-map-point__address">Ащеулов пер., д.9</span>,
          <span class="b-map-point__metro"><span class="metro-icon">м</span>&nbsp;Сретенский Бульвар,</span>
          <span class="b-map-point__metro"><span class="metro-icon">м</span>&nbsp;Чистые Пруды</span>
        .b-map-point__text Между Ащеуловым и&nbsp;Луковым пер., вдоль стены, за&nbsp;шлагбаумом. Лучше подойти со&nbsp;стороны Лукового переулка пройти через шлагбаум вдоль стены.
        .b-map-point__time Забрать заказ вы&nbsp;сможете сегодня (<nobr>03.09.2015</nobr>) после 18:00
        .b-map-point__remark Ежедневно и&nbsp;круглосуточно, <nobr>8-800-333-51-46</nobr>

      li.b-map-point__option(data-coords="55.754973,37.690534")
        .b-map-point__caption.
          <span class="b-map-point__address">Золоторожский Вал, д. 4, стр. 2</span>,
          <span class="b-map-point__metro"><span class="metro-icon">м</span>&nbsp;Сретенский Бульвар</span>,
          <span class="b-map-point__metro"><span class="metro-icon">м</span>&nbsp;Чистые Пруды</span>
        .b-map-point__text Между Ащеуловым и&nbsp;Луковым пер., вдоль стены, за&nbsp;шлагбаумом. Лучше подойти со&nbsp;стороны Лукового переулка пройти через шлагбаум вдоль стены.
        .b-map-point__time Забрать заказ вы&nbsp;сможете сегодня (<nobr>03.09.2015</nobr>) после 18:00
        .b-map-point__remark Ежедневно и&nbsp;круглосуточно, <nobr>8-800-333-51-46</nobr>
