mixin faq-list()
	.b-faq-list.iblock&attributes(attributes)
		.b-faq-list__header
			.b-faq-list__title Есть вопросы?
		.b-faq-list__main
			ul.b-faq-list__questions
				li.b-faq-list__question-item
					a.b-faq-list__question(href="#") Программа лояльности ОГО!Бонус

				li.b-faq-list__question-item
					a.b-faq-list__question(href="#") Точки выдачи

				li.b-faq-list__question-item
					a.b-faq-list__question(href="#") Это ЕАС (РСТ)? Это не&nbsp;&laquo;серяк&raquo;?

				li.b-faq-list__question-item
					a.b-faq-list__question(href="#") Гарантия

				li.b-faq-list__question-item
					a.b-faq-list__question(href="#") Самовывоз из&nbsp;магазина

		.b-faq-list__footer
			.b-faq-list__more-holder
				a.b-faq-list__more.button-white(href="#") Показать еще
