mixin town-select()
	.b-town-select.iblock&attributes(attributes)
		.b-town-select__label Город:
			a.b-town-select__link.b-town-select__link_current.js-modal(href="#town-modal") <nobr>Санкт-Петербург</nobr>
