extends ../layout/page-template

block head
	title Производители

block head-scripts

block breadcrumbs

block caption

block inner-content
	section.c-brands
		.c-brands__header
			.h1.c-brands__caption Производители

		.c-brands__main-holder
			.c-brands__list
				+alphabetic-cols()