mixin cert-slider()
  .b-cert-slider.iblock&attributes(attributes)
    .b-cert-slider__header
      .b-cert-slider__title Сертификаты

    .b-cert-slider__main
      .b-cert-slider__slider-holder
        .b-cert-slider__slider
          a.b-cert-slider__slide-link.js-gallery(href="img/content/cert1.jpg")
            img.b-cert-slider__cert(src="assets/img/content/cert1.jpg", alt="Сертификат" width=680 height=494)
          a.b-cert-slider__slide-link.js-gallery(href="img/content/cert1.jpg")
            img.b-cert-slider__cert(src="assets/img/content/certificate-demo.jpg", alt="Сертификат")
          a.b-cert-slider__slide-link.js-gallery(href="img/content/cert1.jpg")
            img.b-cert-slider__cert(src="assets/img/content/cert1.jpg", alt="Сертификат" width=680 height=494)
          a.b-cert-slider__slide-link.js-gallery(href="img/content/cert1.jpg")
            img.b-cert-slider__cert(src="assets/img/content/cert1.jpg", alt="Сертификат" width=680 height=494)
          a.b-cert-slider__slide-link.js-gallery(href="img/content/cert1.jpg")
            img.b-cert-slider__cert(src="assets/img/content/cert2.jpg", alt="Сертификат" width=680 height=483)
          a.b-cert-slider__slide-link.js-gallery(href="img/content/cert1.jpg")
            img.b-cert-slider__cert(src="assets/img/content/cert1.jpg", alt="Сертификат" width=680 height=494)

      a.b-cert-slider__brand(href="#")
        span.b-cert-slider__logo-holder
          img.b-cert-slider__logo(src="assets/img/content/nikon.png", alt="nikon" width=91 height=25)

        span.b-cert-slider__brand-text Гипермаркет &laquo;ОГО!&raquo;&nbsp;&mdash; авторизованный партнёр NIKON Ltd.
