mixin shops-preview()
  .b-shops-preview.iblock&attributes(attributes)

    .b-shops-preview__items
      .b-shops-preview__shop-item
        .b-shops-preview__shop
          .b-shops-preview__image-holder
            img.b-shops-preview__image(src="assets/img/content/shop1_new.jpg", alt="Магазин" width=468 height=230)
          .b-shops-preview__content-holder
            .b-shops-preview__title Магазин <span class="metro-icon"></span> Площадь Ильича
            .b-shops-preview__address Золоторожский Вал, д. 4, стр.&nbsp;4

          .b-shops-preview__footer
            .b-shops-preview__contacts
              .b-shops-preview__phone <nobr>+7 495 229-56-53</nobr>
              .b-shops-preview__time Ежедневно с&nbsp;10:00 до&nbsp;22:00

            .b-shops-preview__more-holder
              a.b-shops-preview__more.button-gray(href="#") Подробнее

      .b-shops-preview__shop-item
        .b-shops-preview__shop
          .b-shops-preview__image-holder
            img.b-shops-preview__image(src="assets/img/content/shop2_new.jpg", alt="Магазин" width=468 height=230)
          .b-shops-preview__content-holder
            .b-shops-preview__title Магазин <span class="metro-icon"></span> Динамо
            .b-shops-preview__address Золоторожский Вал, д. 4, стр.&nbsp;4

          .b-shops-preview__footer
            .b-shops-preview__contacts
              .b-shops-preview__phone <nobr>+7 495 229-56-53</nobr>
              .b-shops-preview__time Ежедневно с&nbsp;10:00 до&nbsp;22:00

            .b-shops-preview__more-holder
              a.b-shops-preview__more.button-gray(href="#") Подробнее

      .b-shops-preview__pickpoint-item
        .b-shops-preview__pickpoint
          .b-shops-preview__pickpoint-header
            img.b-shops-preview__pickpoint-image(src="assets/img/content/pickpoint-image.png", alt="pickpoint" width=84 height=84)
            .b-shops-preview__pickpoint-title Точек выдачи ОГО!
            .b-shops-preview__pickpoint-remark В&nbsp;Москве, Люберцах и&nbsp;Мытищах

          .b-shops-preview__pickpoint-main
            .b-shops-preview__pickpoint-text Заказ можно забрать через 2 часа после оформления. Услуга бесплатна.
            a.b-shops-preview__pickpoint-more.button-gray(href="#") Найти на карте
