.b-password-change {
  padding-left: 20px;
  padding-right: 20px;

  &__header {
    @include clearfix;
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f1f1f1;
  }

  &__title {
    float: left;
    font-size: 18/16*100%;
    color: #333;
  }

  &__status {
    float: right;
    margin-left: 20px;
    color: #81c03d;
    font-size: 14/16*100%;
    font-weight: 200;
    opacity: 0;
    transition: .4s opacity;

    &:before {
      @include ft-icon($ft-check);
      margin-right: .5em;
    }

    &._active {
      opacity: 1;
    }
  }

  &__input-cols {
    @include clearfix;
    margin-left: -10px;
    margin-right: -10px;
  }

  &__input-col {
    @include box-sizing;
    float: left;
    width: 1/3*100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;

    &:nth-child(3n+1) {
      clear: left;
    }
  }

  &__field-label {
    @include mbot(10/20);
    font-size: 14/16*100%;
    font-weight: 200;
    color: #262626;
  }

  &__field-input {
    position: relative;
    font-size: 14/16*100%;
    color: #333;
  }

  &__field-remark {
    color: #969696;
  }

  &__save-btn {
    text-align: center;
    font-size: 14/16*100%;

    &._active {
      background-color: #dc3e48;
      color: white;

      &:hover {
        background-color: #a52e35;
      }
    }
  }

  &__footer {
    @include margin(20/20);
    padding-bottom: 20px;
  }

  &__btns {
    @include clearfix;
  }

  &__right-side {
    float: right;
    text-align: right;
  }

  &__eye {
    position: absolute;
    top: 20px;
    right: 10px;
    width: 26px;
    height: 14px;
    margin-top: -7px;
    cursor: pointer;

    &:before {
      @include bgr("../img/passeye_open","png");
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-size: 26px 14px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }

    &._open {
      height: 10px;
      margin-top: -3px;
      &:before {
        @include bgr("../img/passeye_closed","png");
        background-size: 25px 9px;
      }
    }
  }

  input {
    width: 100%;
    padding-right: 50px;
  }
}

@mixin mx600($mod: "") {
  .b-password-change#{$mod} {
    .b-password-change {
      &__input-col {
        float: none;
        width: auto;
      }

      &__right-side {
        float: none;
        text-align: left;
      }

      &__title {
        float: none;
      }

      &__status {
        display: none;
      }
    }
  }
}

@include mx600("._mx600");

.c-lk__password-holder {
  @media (max-width: 649px) {
    @include mx600();
  }
}
