mixin password-change()
  .b-password-change.iblock&attributes(attributes)
    form(action="/")
      .b-password-change__header
        .b-password-change__title Сменить пароль
        .b-password-change__status Изменения сохранены

      .b-password-change__main
        .b-password-change__input-cols
          .b-password-change__input-col
            label.b-password-change__field
              .b-password-change__field-label Пароль <span class="b-password-change__field-remark">(Тот, что сейчас)</span>
              .b-password-change__field-input
                input(type="password" name="current-password")
                span.b-password-change__eye

          .b-password-change__input-col
            label.b-password-change__field
              .b-password-change__field-label Новый пароль
              .b-password-change__field-input
                input(type="text")
                span.b-password-change__eye._open

          .b-password-change__input-col
            label.b-password-change__field
              .b-password-change__field-label Новый пароль еще раз
              .b-password-change__field-input
                input(type="password")
                span.b-password-change__eye

      .b-password-change__footer
        .b-password-change__btns
          .b-password-change__right-side
            a.b-password-change__save-btn.button-gray(href="#") Сохранить изменения
