mixin promo-block3-slider()
	.b-promo-block3-slider.iblock._nojs&attributes(attributes)
		ul.b-promo-block3-slider__slider
			each val in [1,1,1,1,1]
				li.b-promo-block3-slider__slide
					.b-promo-block3-slider__slide-wrap
						+promo-block3()
