mixin product-links()
	.b-product-links.iblock&attributes(attributes)
		.b-product-links__cols
			.b-product-links__col
				a.b-product-links__link.b-product-links__link_gear(href="#prod-1")
					span.b-product-links__link-text Характеристики
			.b-product-links__col
				a.b-product-links__link.b-product-links__link_document(href="#prod-3")
					span.b-product-links__link-text Обзор
			.b-product-links__col
				a.b-product-links__link.b-product-links__link_sms(href="#prod-2")
					span.b-product-links__link-text Отзывы
			.b-product-links__col
				a.b-product-links__link.b-product-links__link_chat(href="#")
					span.b-product-links__link-text Вопросы и&nbsp;ответы
