.b-product-links {
  &__cols {
    @include box-sizing;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: auto;
  }

  &__col {
    display: block;
    width: auto;
    flex: 0 1 auto;
    min-width: 180px;
    text-align: center;
  }

  &__link {
    display: block;
    white-space: nowrap;
    //width: 180px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    color: black;
    font-size: 15/16*100%;
    text-decoration: none;
    border-bottom: 3px solid #e8e8e8;
    box-sizing: border-box;
    &:hover,
    &._active {
      color: #3e8bdc;
      border-bottom-color: #3e8bdc;

      &:before {
        background-position: 0 -25px;
      }
    }

    &:before {
    }

    &_gear {
      &:before {
        @include ft-icon($ft-gear);
        font-size: 24px;
        margin-right: 10px;
        position: relative;
        top: 4px;
      }

      &:hover:before {
        color: #3e8bdc;
      }
    }

    &_sms {
      &:before {
        @include ft-icon($ft-chat);
        font-size: 24px;
        margin-right: 10px;
        position: relative;
        top: 4px;
      }

      &:hover:before {
        color: #3e8bdc;
      }
    }

    &_document {
      &:before {
        @include ft-icon($ft-doc);
        font-size: 24px;
        margin-right: 10px;
        position: relative;
        top: 2px;
      }

      &:hover:before {
        color: #3e8bdc;
      }
    }

    &_chat {
      &:before {
        @include ft-icon($ft-messages);
        font-size: 24px;
        margin-right: 10px;
        position: relative;
        top: 2px;
      }

      &:hover:before {
        color: #3e8bdc;
      }
    }
  }
}

@mixin mx720($mod: "") {
  .b-product-links#{$mod} {
    .b-product-links {
      &__cols {
        @include clearfix;
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
      }

      &__col {
        @include box-sizing;
        display: block;
        width: auto;
        width: 50%;
        min-width: 180px;
        max-width: none;
        margin: 0;
        float: left;
        text-align: left;
      }

      &__link {
        width: auto;
        max-width: none;
        border: none;
        padding: 10px;
      }
    }
  }
}

@include mx720("._mx720");
