mixin main-plates()
  .b-main-plates.iblock&attributes(attributes)
    ul.b-main-plates__items
      li.b-main-plates__item._right
        .b-main-plates__ratio-holder
          a.b-main-plates__item-wrap._green(href="#")
            span.b-main-plates__image-holder
              .b-main-plates__full-image(style="background-image: url('assets/img/content/categories/cat-bg4.png');")
              .b-main-plates__full-image._2x(style="background-image: url('assets/img/content/categories/cat-bg4@2x.png');")
            span.b-main-plates__title Товары для кухни

      li.b-main-plates__item
        .b-main-plates__ratio-holder
          a.b-main-plates__item-wrap._blue(href="#")
            span.b-main-plates__image-holder
              img.b-main-plates__image(src="assets/img/content/categories/cat27.png", alt="Категория" width=200 height=200)
            span.b-main-plates__title Смартфоны

      li.b-main-plates__item._mobile-show
        .b-main-plates__ratio-holder
          a.b-main-plates__item-wrap._red(href="#")
            span.b-main-plates__image-holder
              img.b-main-plates__image(src="assets/img/content/categories/cat25.png", alt="Категория" width=200 height=200)
            span.b-main-plates__title Телевизоры

      li.b-main-plates__item.b-main-plates__item_big._right
        +subcategory-slider()

      li.b-main-plates__item
        .b-main-plates__ratio-holder
          a.b-main-plates__item-wrap(href="#")
            span.b-main-plates__image-holder
              .b-main-plates__full-image(style="background-image: url('assets/img/content/categories/cat-bg3.png');")
              .b-main-plates__full-image._2x(style="background-image: url('assets/img/content/categories/cat-bg3@2x.png');")

            span.b-main-plates__title Товары для детей

      li.b-main-plates__item
        .b-main-plates__ratio-holder
          a.b-main-plates__item-wrap._cyan(href="#")
            span.b-main-plates__image-holder
              img.b-main-plates__image(src="assets/img/content/categories/cat26.png", alt="Категория" width=200 height=200)
            span.b-main-plates__title Пылесосы

      li.b-main-plates__item
        .b-main-plates__ratio-holder
          a.b-main-plates__item-wrap(href="#")
            span.b-main-plates__image-holder
              .b-main-plates__full-image(style="background-image: url('assets/img/content/categories/cat-bg2.png');")
              .b-main-plates__full-image._2x(style="background-image: url('assets/img/content/categories/cat-bg2@2x.png');")

            span.b-main-plates__title Товары для дачи

      li.b-main-plates__item._desktop-show
        .b-main-plates__ratio-holder
          a.b-main-plates__item-wrap._red(href="#")
            span.b-main-plates__image-holder
              img.b-main-plates__image(src="assets/img/content/categories/cat25.png", alt="Категория" width=200 height=200)
            span.b-main-plates__title Телевизоры

mixin main-plates_margin()
  .b-main-plates._margin.iblock&attributes(attributes)
    ul.b-main-plates__items
      li.b-main-plates__item._right
        .b-main-plates__ratio-holder
          a.b-main-plates__item-wrap._white(href="#")
            span.b-main-plates__image-holder
              .b-main-plates__full-image(style="background-image: url('assets/img/content/categories/cat-bg4.png');")
              .b-main-plates__full-image._2x(style="background-image: url('assets/img/content/categories/cat-bg4@2x.png');")
            span.b-main-plates__title Товары для кухни

      li.b-main-plates__item
        .b-main-plates__ratio-holder
          a.b-main-plates__item-wrap._white(href="#")
            span.b-main-plates__image-holder
              img.b-main-plates__image(src="assets/img/content/categories/cat27.png", alt="Категория" width=200 height=200)
            span.b-main-plates__title Смартфоны

      li.b-main-plates__item._mobile-show
        .b-main-plates__ratio-holder
          a.b-main-plates__item-wrap._white(href="#")
            span.b-main-plates__image-holder
              img.b-main-plates__image(src="assets/img/content/categories/cat25.png", alt="Категория" width=200 height=200)
            span.b-main-plates__title Телевизоры

      li.b-main-plates__item.b-main-plates__item_big._right
        +subcategory-slider()

      li.b-main-plates__item
        .b-main-plates__ratio-holder
          a.b-main-plates__item-wrap(href="#")
            span.b-main-plates__image-holder
              .b-main-plates__full-image(style="background-image: url('assets/img/content/categories/cat-bg3.png');")
              .b-main-plates__full-image._2x(style="background-image: url('assets/img/content/categories/cat-bg3@2x.png');")

            span.b-main-plates__title Товары для детей

      li.b-main-plates__item
        .b-main-plates__ratio-holder
          a.b-main-plates__item-wrap._white(href="#")
            span.b-main-plates__image-holder
              img.b-main-plates__image(src="assets/img/content/categories/cat26.png", alt="Категория" width=200 height=200)
            span.b-main-plates__title Пылесосы

      li.b-main-plates__item
        .b-main-plates__ratio-holder
          a.b-main-plates__item-wrap(href="#")
            span.b-main-plates__image-holder
              .b-main-plates__full-image(style="background-image: url('assets/img/content/categories/cat-bg2.png');")
              .b-main-plates__full-image._2x(style="background-image: url('assets/img/content/categories/cat-bg2@2x.png');")

            span.b-main-plates__title Товары для дачи

      li.b-main-plates__item._desktop-show
        .b-main-plates__ratio-holder
          a.b-main-plates__item-wrap._white(href="#")
            span.b-main-plates__image-holder
              img.b-main-plates__image(src="assets/img/content/categories/cat25.png", alt="Категория" width=200 height=200)
            span.b-main-plates__title Телевизоры

mixin main-plates_brand()
  .b-main-plates._margin.iblock&attributes(attributes)
    ul.b-main-plates__items
      li.b-main-plates__item._right
        .b-main-plates__ratio-holder
          a.b-main-plates__item-wrap._white(href="#")
            span.b-main-plates__image-holder
              img.b-main-plates__image(src="assets/img/content/categories/cat1.png", alt="Категория" width=200 height=200)
            span.b-main-plates__title Планшеты

      li.b-main-plates__item
        .b-main-plates__ratio-holder
          a.b-main-plates__item-wrap._white(href="#")
            span.b-main-plates__image-holder
              img.b-main-plates__image(src="assets/img/content/categories/cat24.png", alt="Категория" width=200 height=200)
            span.b-main-plates__title Телевизоры

      li.b-main-plates__item._mobile-show
        .b-main-plates__ratio-holder
          a.b-main-plates__item-wrap._white(href="#")
            span.b-main-plates__image-holder
              img.b-main-plates__image(src="assets/img/content/categories/cat3.png", alt="Категория" width=200 height=200)
            span.b-main-plates__title Микроволновые печи

      li.b-main-plates__item.b-main-plates__item_big._right
        .b-main-plates__big-holder
          a.b-main-plates__item-wrap._white(href="#")
            span.b-main-plates__image-holder
              span.b-main-plates__big-full-image(style="background-image: url('assets/img/content/cat_bg.jpg');")
              span.b-main-plates__big-full-image._2x(style="background-image: url('assets/img/content/cat_bg@2x.jpg');")
              img.b-main-plates__big-image(src="assets/img/content/categories/cat27.png", alt="Категория" width=200 height=200)
            span.b-main-plates__big-title Мобильные телефоны

      li.b-main-plates__item
        .b-main-plates__ratio-holder
          a.b-main-plates__item-wrap._white(href="#")
            span.b-main-plates__image-holder
              img.b-main-plates__image(src="assets/img/content/categories/cat3.png", alt="Категория" width=200 height=200)
            span.b-main-plates__title Микроволновые печи

      li.b-main-plates__item
        .b-main-plates__ratio-holder
          a.b-main-plates__item-wrap._white(href="#")
            span.b-main-plates__image-holder
              img.b-main-plates__image(src="assets/img/content/categories/cat15.png", alt="Категория" width=200 height=200)
            span.b-main-plates__title Встраиваемая техника

      li.b-main-plates__item
        .b-main-plates__ratio-holder
          a.b-main-plates__item-wrap._white(href="#")
            span.b-main-plates__image-holder
              img.b-main-plates__image(src="assets/img/content/categories/cat4.png", alt="Категория" width=200 height=200)

            span.b-main-plates__title Пылесосы

      li.b-main-plates__item._desktop-show
        .b-main-plates__ratio-holder
          a.b-main-plates__item-wrap._white(href="#")
            span.b-main-plates__image-holder
              img.b-main-plates__image(src="assets/img/content/categories/cat2.png", alt="Категория" width=200 height=200)
            span.b-main-plates__title Стиральные машины
