/* Конфигуратор */
.c-configurator {
  &__header {
    display: flex;
    flex-flow: row nowrap;
    padding: 0 35px 35px 35px;
  }
  &__body {
    display: flex;
    flex-flow: row nowrap;
    padding: 35px;
    background: #F8F8F8;
  }
  
  &__main {
    flex: 2;
    margin: 0 14px 0 0;
  }

  &__aside {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    &-plate {
      @include mmtop(14px);
      padding: 15px;
      border: 1px solid #F1F1F1;
      background: #fff; 
    }
  }
  
  &__additional-items {
    @include margin(10/20);
  }

  &__bottom-section {
    @include clearfix;
    display: table;
    width: 100%;
  }

  &__estimate {
    @include box-sizing;
    display: table-cell;
    width: 50%;
    height: 100%;
    vertical-align: top;
    padding-right: 5px;
    background-color: #fff;

    .b-estimate {
      @include box-sizing;
      height: 100%;
    }
  }

  &__total {
    @include box-sizing;
    display: table-cell;
    width: 50%;
    height: 100%;
    padding-left: 10px;
    vertical-align: top;


    .b-configurator-total {
      @include box-sizing;
      height: 100%;
    }
  }

  &__aside-guarantee {
    margin: 0;
    color: #7e7e7e;
    font-size: rem(13);
    font-weight: 300;
    line-height: 1.46;
    background: none;
    &:before {
      @include ft-icon($ft-shield);
      margin-right: 7px;
      font-size: 1.25em;
    }
  }

  &__save {
    @include margin(10/20)
      padding: 20px;
    background-color: #fff;
  }

  &__link {
    @include margin(10/20)
      padding: 20px;
    background-color: #fff;
  }

  &__socials {
    @include margin(10/20)
      padding: 20px;
    background-color: #fff;
  }

  &__consult {
    @include margin(20/20);
  }
}

@media #{$media-desktop} {
  .c-configurator {
    &__cols {
      padding: 10px;
    }
  }
}

@media #{$media-tablet} {
  .c-configurator {
    &__header {
      padding: 15px;
    }
    &__body {
      padding: 15px;
    }
    &__cols {
      padding: 20px;
    }

    &__aside-col {
      display: none;
    }

    &__main-col {
      @include margin(10/20);
      margin-right: 0;
    }

    &__aside-total {
      display: none;
    }

    &__link {
      display: none;
    }

    &__aside-guarantee {
      display: none;
    }

    &__save {
      float: left;
      clear: left;
      width: 215px;
      margin-top: 0;
      margin-right: 10px;
    }

    &__socials {
      display: none;
    }

    &__consult {
      overflow: hidden;
    }
  }
}

@media #{$media-phone-landscape} {
  .c-configurator {
    &__save {
      float: none;
      width: auto;
      margin-right: 0;
    }

    &__consult {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
    }

    &__bottom-section {
      display: block;
    }

    &__estimate {
      display: block;
      width: auto;
      height: auto;
      float: none;
      padding-right: 0;
    }

    &__total {
      @include margin(10/20);
      display: block;
      width: auto;
      height: auto;
      float: none;
      padding-left: 0;
    }
  }
}

@media #{$media-phone} {
  .c-configurator {
    &__cols {
      padding: 5px;
    }
  }
}
