/* Адреса магазинов */
.c-contacts-list {
  &__header {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
  }

  &__main-holder {
    padding: 6px 40px 20px;
    background-color: #f8f8f8;
  }

  &__map {
    padding: 20px;
    padding-top: 5px;
    background-color: #fff;

    .b-tabs__link {
      padding-top: 5px;
      padding-bottom: 10px;
    }

    .b-tabs__col {
      padding-left: 10px;
      margin-right: 20px;
    }

    .b-tabs__holder {
      padding-top: 20px;
    }
  }

  &__detail-card {
    .b-shop-card {
      &__header {
        padding-left: 40px;
        padding-right: 40px;
      }

      &__cols {
        padding-left: 40px;
        padding-right: 40px;
      }
    }
  }
}

@media #{$media-desktop} {
}

@media #{$media-tablet} {
}

@media #{$media-phone-landscape} {
}

@media #{$media-phone} {
}

