mixin params-list()
	.b-params-list.iblock&attributes(attributes)
		ul.b-params-list__items
			li.b-params-list__item
				span.b-params-list__label Физический размер
				span.b-params-list__value 23.2&times;15.2&nbsp;мм
			li.b-params-list__item
				span.b-params-list__label Диафрагма
				span.b-params-list__value CMOS
			li.b-params-list__item
				span.b-params-list__label Формат записи
				span.b-params-list__value RAW, JPEG, MP4 и&nbsp;другие
			li.b-params-list__item
				span.b-params-list__label Фокусное расстояние
				span.b-params-list__value 18&ndash;55&nbsp;мм.
