mixin intro-plates()
  .b-intro-plates.iblock&attributes(attributes)
    ul.b-intro-plates__items
      li.b-intro-plates__item._right._nowide
        .b-intro-plates__ratio-holder
          a.b-intro-plates__item-wrap._green(href="#")
            span.b-intro-plates__image-holder
              .b-intro-plates__full-image(style="background-image: url('assets/img/content/categories/cat-bg4.png');")
              .b-intro-plates__full-image._2x(style="background-image: url('assets/img/content/categories/cat-bg4@2x.png');")
            span.b-intro-plates__title Товары для кухни

      li.b-intro-plates__item._nowide
        .b-intro-plates__ratio-holder
          a.b-intro-plates__item-wrap._blue(href="#")
            span.b-intro-plates__image-holder
              img.b-intro-plates__image(src="assets/img/content/categories/cat27.png", alt="Категория" width=200 height=200)
            span.b-intro-plates__title Смартфоны

      li.b-intro-plates__item._mobile-show
        .b-intro-plates__ratio-holder
          a.b-intro-plates__item-wrap._red(href="#")
            span.b-intro-plates__image-holder
              img.b-intro-plates__image(src="assets/img/content/categories/cat25.png", alt="Категория" width=200 height=200)
            span.b-intro-plates__title Телевизоры

      li.b-intro-plates__item.b-intro-plates__item_big._right
        +subcategory-slider()

      li.b-intro-plates__item
        .b-intro-plates__ratio-holder
          a.b-intro-plates__item-wrap(href="#")
            span.b-intro-plates__image-holder
              .b-intro-plates__full-image(style="background-image: url('assets/img/content/categories/cat-bg3.png');")
              .b-intro-plates__full-image._2x(style="background-image: url('assets/img/content/categories/cat-bg3@2x.png');")

            span.b-intro-plates__title Товары для детей

      li.b-intro-plates__item
        .b-intro-plates__ratio-holder
          a.b-intro-plates__item-wrap._cyan(href="#")
            span.b-intro-plates__image-holder
              img.b-intro-plates__image(src="assets/img/content/categories/cat26.png", alt="Категория" width=200 height=200)
            span.b-intro-plates__title Пылесосы

      li.b-intro-plates__item
        .b-intro-plates__ratio-holder
          a.b-intro-plates__item-wrap(href="#")
            span.b-intro-plates__image-holder
              .b-intro-plates__full-image(style="background-image: url('assets/img/content/categories/cat-bg2.png');")
              .b-intro-plates__full-image._2x(style="background-image: url('assets/img/content/categories/cat-bg2@2x.png');")

            span.b-intro-plates__title Товары для дачи

      li.b-intro-plates__item._desktop-show
        .b-intro-plates__ratio-holder
          a.b-intro-plates__item-wrap._red(href="#")
            span.b-intro-plates__image-holder
              img.b-intro-plates__image(src="assets/img/content/categories/cat25.png", alt="Категория" width=200 height=200)
            span.b-intro-plates__title Телевизоры

      li.b-intro-plates__item._wide
        .b-intro-plates__ratio-holder
          a.b-intro-plates__item-wrap._blue(href="#")
            span.b-intro-plates__image-holder
              img.b-intro-plates__image(src="assets/img/content/categories/cat27.png", alt="Категория" width=200 height=200)
            span.b-intro-plates__title Смартфоны
