.b-configurator {
  &__btn {
    color: #7e7e7e;
    margin: 7px;
    padding: rem(8) rem(12);
    &:hover {
      cursor: pointer;
    }
    &:active {
      outline: none;
    }
  }
  &__newconfig {
    align-self: flex-end;
    white-space: nowrap;
  }
  @include w480 {
    &__newconfig {
      margin: 15px 0 0 15px;
    }
  }
}