mixin town-delivery()
  .b-town-delivery.iblock&attributes(attributes)
    .b-town-delivery__cols
      .b-town-delivery__icon-holder
        img.b-town-delivery__icon(src="assets/img/content/town-delivery.png", alt="Машина" width=77 height=42)

      .b-town-delivery__content-holder
        .b-town-delivery__caption Доставим в&nbsp;Екатеринбург!
        .b-town-delivery__content Доставка готового компьютера в&nbsp;ваш город от&nbsp;590&nbsp;рублей.
