mixin configurator-product()
  .b-configurator-product.iblock&attributes(attributes)
    .b-configurator-product__wrap
      a(href="#").b-configurator-product__image-col
        img.b-configurator-product__image(src="assets/img/configurator/confprod.png", alt="Корпус ATX Miditower AeroCool Tomahawk A Black")

      .b-configurator-product__description-col
        span.b-configurator-product__art Арт. 290965
        a.b-configurator-product__title(href="#") Корпус ATX Miditower AeroCool Tomahawk A Black

      .b-configurator-product__qtty-col
        select.select2.b-configurator-product__qtty
          option 1
          option 2
          option 3
          option 4
          option 5
          option 6

      .b-configurator-product__price-col
        .b-configurator-product__price
          span.b-configurator-product__current-price 107&nbsp;990&nbsp;₽
          span.b-configurator-product__bonus +4&nbsp;999 бонусов

mixin configurator-product-alt()
  .b-configurator-product.iblock&attributes(attributes)
    .b-configurator-product__wrap
      a(href="#").b-configurator-product__image-col
        img.b-configurator-product__image(src="assets/img/configurator/confprod2.png", alt="Блок питания 750W Gigabyte AORUS GP-AP750GM")

      .b-configurator-product__description-col
        span.b-configurator-product__art Арт. 290965
        a.b-configurator-product__title(href="#") Блок питания 750W Gigabyte AORUS GP-AP750GM

      .b-configurator-product__qtty-col
        select.select2.b-configurator-product__qtty
          option 1
          option 2
          option 3
          option 4
          option 5
          option 6

      .b-configurator-product__price-col
        .b-configurator-product__price
          span.b-configurator-product__new-price 107&nbsp;999&nbsp;₽
          span.b-configurator-product__old-price 107&nbsp;999&nbsp;₽
        span.b-configurator-product__bonus +4&nbsp;999 бонусов

