mixin radio(content)
	label.b-radio.iblock
		span.b-radio__check-holder
			input.b-radio__input.icheck(type="radio")&attributes(attributes)
			span.b-radio__label

		span.b-radio__text !{content}

mixin radio_box(content)
	label.b-radio.iblock.b-radio_box
		span.b-radio__check-holder
			input.b-radio__input.icheck(type="radio")&attributes(attributes)
			span.b-radio__label

		span.b-radio__text !{content}
