/*
.b-news-slider {
  &__header {
    @include clearfix;
  }

  &__arrows {
    float: right;
  }

  &__slider {
    @include clearfix;
    margin-left: -3px;
    margin-right: -3px;
  }

  &__slide {
    @include box-sizing;
    height: 300px;
    padding-left: 3px;
    padding-right: 3px;
  }

  &__slide-wrap {
    @include box-sizing;
    position: relative;
    height: 100%;
    min-height: 245px;
    padding: 20px;
    padding-bottom: 150px;
    background-color: #fff;
  }

  &__title {
    @include margin(20/20);
    float: left;
    font-size: 24/16*100%;
    font-weight: 200;
  }

  &__caption {
    @include margin(15/20);
    min-height: 50px;
  }

  &__text {
    @include mtop(15/20);
    font-size: 14/16*100%;
    font-weight: 400;
    color: #141414;
    max-height: 80px;
    overflow: hidden;
  }

  &__logo-holder {
    @include mtop(30/20);
    @include mbot(0);
    display: table;
    width: 100px;
    height: 70px;
    border: 1px solid #f8f8f8;
    text-align: center;
  }

  &__logo-wrap {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  &__logo {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
  }

  &__date {
    display: table-cell;
    vertical-align: bottom;
    color: #969696;
    font-size: 13/16*100%;
    font-weight: 200;
    white-space: nowrap;
  }

  &__slide-footer {
    position: absolute;
    right: 20px;
    bottom: 20px;
    left: 20px;
  }

  &__bottom-section {
    display: table;
    width: 100%;
  }

  &__more-holder {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
  }

  &__more {
    font-size: 14/16*100%;
    text-decoration: none;
  }

  &__all {
    float: left;
    height: 40px;
    line-height: 40px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #fff;
    font-size: 14/16*100%;
    margin-right: .75em;


    &:hover {
      background-color: #fff;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    }
  }

  &__prev {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    margin-right: .5em;
    text-decoration: none;
    text-align: center;
    color: #969696;
    background-color: #fff;

    &:before {
      @include ft-icon($ft-arrow-left);
      font-size: 12px;
      line-height: 40px;
    }

    &:hover {
      color: #333;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    }
  }

  &__next {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    text-decoration: none;
    text-align: center;
    color: #969696;
    background-color: #fff;

    &:before {
      @include ft-icon($ft-arrow-right);
      font-size: 12px;
      line-height: 40px;
    }

    &:hover {
      color: #333;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    }
  }
}

// Модификаторы
.b-news-slider._nojs {
  .b-news-slider {
    &__slide {
      float: left;
      width: 1/3*100%;
      height: 300px;

      &:nth-child(n+4) {
        display: none;
      }
    }

    &__arrows {
      display: none;
    }
  }
}
@media (max-width: 970px) {
  @include mx930("._nojs");
}

@media (max-width: 640px) {
  @include mx600("._nojs");

  .b-news-slider {
    &__arrows {
      float: none;
      display: block;
      margin-bottom: 10px;
    }

    &__title {
      float: none;
    }
  }
}
*/
// Адаптация
@mixin mx930($mod: "") {
  .b-news-slider#{$mod} {
    .b-news-slider {
      &__slide {
        width: 50%;

        &:nth-child(n+3) {
          display: none;
        }
      }
    }
  }
}

@mixin mx600($mod: "") {
  .b-news-slider#{$mod} {
    .b-news-slider {
      &__slide {
        width: 100%;

        &:nth-child(n+2) {
          display: none;
        }
      }
    }
  }
}

// Обновлен 28.10.2020 с new1.ogo.ru
.b-news-slider,
.b-news-slider *,
.b-news-slider *::before,
.b-news-slider *::after {
  box-sizing: border-box;
}

.b-news-slider__header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 12px;
}

@media (max-width: 650px) {
  .b-news-slider__header {
    margin-bottom: 14px;
  }
}

.b-news-slider__title {
  flex-shrink: 0;
  font-weight: 300;
  font-size: 28px;
  line-height: 34px;
  margin: 0;
}

@media (max-width: 650px) {
  .b-news-slider__title {
    font-size: 26px;
    line-height: 30px;
  }
}

.b-news-slider__arrows {
  flex-shrink: 0;
  display: inline-flex;
  vertical-align: top;
  margin: 0 -1px 0 auto;
}

@media (max-width: 1040px) {
  .b-news-slider__arrows {
    margin-right: 0;
  }
}

.b-news-slider__all {
  font-size: 12px;
  line-height: 18px;
  border: 1px solid #F1F1F1;
  padding: 7px 15px 5px;
  transition: border-color 0.2s, box-shadow 0.2s;
}

@media (max-width: 374px) {
  .b-news-slider__all {
    padding: 7px 8px 5px;
  }
}

.b-news-slider__all:hover {
  border-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.b-news-slider .slider-arrow {
  margin-left: 5px;
}

@media (max-width: 480px) {
  .b-news-slider .slider-arrow {
    display: none !important;
  }
}

.b-news-slider__prev {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  margin-right: .5em;
  text-decoration: none;
  text-align: center;
  color: #969696;
  background-color: #fff;
}

.b-news-slider__prev:before {
  content: "î …";
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  text-decoration: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  line-height: 40px;
}

.b-news-slider__prev:hover {
  color: #333;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.b-news-slider__next {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  text-decoration: none;
  text-align: center;
  color: #969696;
  background-color: #fff;
}

.b-news-slider__next:before {
  content: "î „";
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  text-decoration: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  line-height: 40px;
}

.b-news-slider__next:hover {
  color: #333;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.b-news-slider .slider-dots {
  text-align: left;
  max-width: calc(100% - 14px);
  max-height: 18px;
  right: auto;
  left: 7px;
  bottom: 14px;
  padding-left: 12px;
  padding-right: 120px;
}

@media (min-width: 481px) {
  .b-news-slider .slider-dots {
    display: none !important;
  }
}

@media (max-width: 340px) {
  .b-news-slider .slider-dots {
    padding-right: 110px;
  }
}

.b-news-slider .slider-dots li {
  width: 8px;
  height: 8px;
  margin: 4px 3px 0;
}

.b-news-slider .slider-dots button {
  width: 8px;
  height: 8px;
}

.b-news-slider__slider {
  display: flex;
  margin: 0 -7px;
  overflow: hidden;
}

.b-news-slider__slider.slick-initialized {
  display: block;
}

.b-news-slider__slider .slick-track {
  display: flex;
}

.b-news-slider__slide {
  flex-shrink: 0;
  flex-grow: 0;
  width: 33.33333%;
  padding: 0 7px;
  float: none;
  height: auto;
}

@media (max-width: 780px) {
  .b-news-slider__slide {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .b-news-slider__slide {
    width: 100%;
  }
}

.b-news-slider__slide-wrap {
  position: relative;
  height: 100%;
  padding: 18px 18px 20px 17px;
  background-color: #fff;
}

@media (max-width: 1040px) {
  .b-news-slider__slide-wrap {
    padding: 18px 19px 20px 18px;
  }
}

@media (max-width: 650px) {
  .b-news-slider__slide-wrap {
    padding: 14px;
  }
}

.b-news-slider__logo-holder {
  text-align: center;
  display: block;
  width: 100%;
  height: auto;
  margin: 0 0 15px;
}

@media (max-width: 1040px) {
  .b-news-slider__logo-holder {
    margin-bottom: 10px;
  }
}

.b-news-slider__logo-holder:last-child {
  margin-bottom: 0;
}

.b-news-slider__logo-holder a {
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

.b-news-slider__logo {
  vertical-align: top;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.b-news-slider__caption {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  height: 44px;
  overflow: hidden;
  margin: 0 0 10px;
}

.b-news-slider__caption:last-child {
  margin-bottom: 0;
}

.b-news-slider__text {
  font-size: 87.5%;
  font-weight: 400;
  color: #141414;
  max-height: 80px;
  overflow: hidden;
  height: 20px;
  margin-top: 0;
  margin-bottom: 10px;
}

.b-news-slider__text:first-child {
  margin-top: 0;
}

.b-news-slider__bottom-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 14px;
}

@media (max-width: 1040px) {
  .b-news-slider__bottom-section {
    margin-top: 9px;
  }
}

@media (max-width: 650px) {
  .b-news-slider__bottom-section {
    align-items: flex-start;
    margin-top: 14px;
  }
}

.b-news-slider__date {
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  color: #969696;
  white-space: nowrap;
  padding-right: 10px;
  margin-top: 3px;
}

@media (max-width: 650px) {
  .b-news-slider__date {
    padding-bottom: 19px;
    margin-top: 1px;
  }
}

.b-news-slider__more {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #4A4A4A;
  padding: 10px 13px;
}

@media (max-width: 340px) {
  .b-news-slider__more {
    padding: 10px;
  }
}