mixin shop-slider-modal()
  .shop-slider-modal.iblock&attributes(attributes)
    .shop-slider-modal__title Фотогалерея
    .shop-slider-modal__title-small Магазин м. Динамо
    .shop-slider
      .shop-slide
        img.b-accessories-slider__image(src="http://localhost:3000/img/content/way-slide1@2x.jpg")
      .shop-slide
        img.b-accessories-slider__image(src="http://localhost:3000/img/content/way-slide2@2x.jpg")
      .shop-slide
        img.b-accessories-slider__image(src="http://localhost:3000/img/content/way-slide3@2x.jpg")
      .shop-slide
        img.b-accessories-slider__image(src="http://localhost:3000/img/content/way-slide1@2x.jpg")
      .shop-slide
        img.b-accessories-slider__image(src="http://localhost:3000/img/content/way-slide1@2x.jpg")
      .shop-slide
        img.b-accessories-slider__image(src="http://localhost:3000/img/content/way-slide1@2x.jpg")
      .shop-slide
        img.b-accessories-slider__image(src="http://localhost:3000/img/content/way-slide1@2x.jpg")
      .shop-slide
        img.b-accessories-slider__image(src="http://localhost:3000/img/content/way-slide1@2x.jpg")
    .shop-slider-nav
      .shop-slide-nav
        img.b-accessories-slider__image(src="http://localhost:3000/img/content/way-slide1@2x.jpg")
      .shop-slide-nav
        img.b-accessories-slider__image(src="http://localhost:3000/img/content/way-slide2@2x.jpg")
      .shop-slide-nav
        img.b-accessories-slider__image(src="http://localhost:3000/img/content/way-slide3@2x.jpg")
      .shop-slide-nav
        img.b-accessories-slider__image(src="http://localhost:3000/img/content/way-slide1@2x.jpg")
      .shop-slide-nav
        img.b-accessories-slider__image(src="http://localhost:3000/img/content/way-slide1@2x.jpg")
      .shop-slide-nav
        img.b-accessories-slider__image(src="http://localhost:3000/img/content/way-slide1@2x.jpg")
      .shop-slide-nav
        img.b-accessories-slider__image(src="http://localhost:3000/img/content/way-slide1@2x.jpg")
      .shop-slide-nav
        img.b-accessories-slider__image(src="http://localhost:3000/img/content/way-slide1@2x.jpg")
