mixin checkout-comment()
  .b-checkout-comment.iblock&attributes(attributes)
    .b-checkout-comment__title Комментарий к&nbsp;заказу
    .b-checkout-comment__textarea-holder
      textarea.b-checkout-comment__textarea(name="comment")
