mixin order-contents()
  .b-order-contents.iblock.b-order-contents_active&attributes(attributes)
    ul.b-order-contents__items
      li.b-order-contents__item
        .b-order-contents__title Canon PowerShot SX400 IS&nbsp;с&nbsp;улучшенной матрицей и&nbsp;объективом
        .b-order-contents__summ 2 шт. 49&nbsp;999 <span class="rub">i</span>

      li.b-order-contents__item
        .b-order-contents__title Умные часы Sony Smartwatch 3 SWR50 Metal, серебристые
        .b-order-contents__summ 2 шт. 49&nbsp;999 <span class="rub">i</span>

      li.b-order-contents__item
        .b-order-contents__title Автокресло <nobr>Maxi-Cosi</nobr> Cabrio Fix Walnut Brown
        .b-order-contents__summ 2 шт. 49&nbsp;999 <span class="rub">i</span>

      li.b-order-contents__btns
        a.button(href="#") Добавить товар по&nbsp;артикулу

mixin order-contents_complete()
  .b-order-contents.iblock&attributes(attributes)
    ul.b-order-contents__items
      li.b-order-contents__item
        .b-order-contents__title Canon PowerShot SX400 IS&nbsp;с&nbsp;улучшенной матрицей и&nbsp;объективом
        .b-order-contents__summ 2 шт. 49&nbsp;999 <span class="rub">i</span>

      li.b-order-contents__item
        .b-order-contents__title Умные часы Sony Smartwatch 3 SWR50 Metal, серебристые
        .b-order-contents__summ 2 шт. 49&nbsp;999 <span class="rub">i</span>

      li.b-order-contents__item
        .b-order-contents__title Автокресло <nobr>Maxi-Cosi</nobr> Cabrio Fix Walnut Brown
        .b-order-contents__summ 2 шт. 49&nbsp;999 <span class="rub">i</span>
