mixin promo-block6()
  .b-promo-block6.iblock&attributes(attributes)
    .b-promo-block6__bg-holder
      img.b-promo-block6__bg(src="assets/img/content/subcategory-slider.png" alt="Фон" width=489 height=379)

    .b-promo-block6__content-holder
      .b-promo-block6__title Удивительно легкий
      .b-promo-block6__text Ноутбук Asus X553MA 90NB04&times;<nobr>1-M27560</nobr>
      .b-promo-block6__price 23&nbsp;990 <span class="rub">i</span>
