mixin configurator-mandatory()
  .b-configurator-mandatory.iblock&attributes(attributes)
    .b-configurator-mandatory__title Конфигурация
    .b-configurator-mandatory__status Выбраны не все обязательные компоненты
    progress.b-configurator-mandatory__progress._required(value="10" min="0" max="100")

