mixin expand-content(data)
	.b-expand-content.iblock&attributes(attributes)
		.b-expand-content__link-holder
			a.b-expand-content__link(href="#") <span>!{data.title}</span>
		.b-expand-content__content-holder !{data.content}
