mixin upload-input()
  label.b-upload-input.iblock&attributes(attributes)
    .button-gray.b-upload-input__upload Загрузить документ
    a.button-gray.b-upload-input__remove.js-upload-remove(href=jv0) Удалить документ

    input(type='file')
