@font-face {
  font-family: 'fontello';
  src: url('../fonts/Fontello/fontello.eot');
  src: url('../fonts/Fontello/fontello.eot#iefix') format('embedded-opentype'),
    url('../fonts/Fontello/fontello.woff') format('woff'),
    url('../fonts/Fontello/fontello.ttf') format('truetype'),
    url('../fonts/Fontello/fontello.svg#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ProximaNova/ProximaNova-Regular.woff2') format('woff2'),
       url('../fonts/ProximaNova/ProximaNova-Regular.woff') format('woff'),
       url('../fonts/ProximaNova/ProximaNova-Regular.ttf') format('truetype'),
       url('../fonts/ProximaNova/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova/ProximaNova-Light.eot');
  src: url('../fonts/ProximaNova/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ProximaNova/ProximaNova-Light.woff2') format('woff2'),
       url('../fonts/ProximaNova/ProximaNova-Light.woff') format('woff'),
       url('../fonts/ProximaNova/ProximaNova-Light.ttf') format('truetype'),
       url('../fonts/ProximaNova/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova/ProximaNova-Semibold.eot');
  src: url('../fonts/ProximaNova/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ProximaNova/ProximaNova-Semibold.woff2') format('woff2'),
       url('../fonts/ProximaNova/ProximaNova-Semibold.woff') format('woff'),
       url('../fonts/ProximaNova/ProximaNova-Semibold.ttf') format('truetype'),
       url('../fonts/ProximaNova/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Rouble';
  src: url('../fonts/Rouble/rouble.eot');
  src: url('../fonts/Rouble/rouble.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Rouble/rouble.woff2') format('woff2'),
       url('../fonts/Rouble/rouble.woff') format('woff'),
       url('../fonts/Rouble/rouble.ttf') format('truetype'),
       url('../fonts/Rouble/rouble.svg#als_rublregular') format('svg');
  font-weight: normal;
  font-style: normal;
}