mixin bonus-promo()
	.b-bonus-promo.iblock&attributes(attributes)
		.b-bonus-promo__bg-holder
			img.b-bonus-promo__bg(src="assets/img/content/bonus-promo.png", alt="Карта" width=500 height=262)
		.b-bonus-promo__content-holder
			.b-bonus-promo__caption Бонусная карта ОГО!
			.b-bonus-promo__text 1 бонус = 1&nbsp;рубль.<br/> За&nbsp;каждый товар предусмотрено своё вознаграждение в&nbsp;бонусах. Количество бонусов указано на&nbsp;сайте для каждого товара.

			.b-bonus-promo__btn-holder
				a.b-bonus-promo__btn.button(href="#") Активировать карту
