mixin promo-block1()
	.b-promo-block1.iblock&attributes(attributes)
		.b-promo-block1__holder
			.b-promo-block1__bg-holder
				img.b-promo-block1__bg-image(src="assets/img/content/fuji.png", alt="Fuji" width=454 height=314)

			.b-promo-block1__content
				a.b-promo-block1__title(href="#") 25 компактных фотоаппаратов,<br/>которые не&nbsp;уступают по&nbsp;качеству<br/> снимков &laquo;зеркалкам&raquo;
				.b-promo-block1__text.content-area
					p Наша подборка для тех, представляет себе жизнь без смены объективов, но&nbsp;терпеть не&nbsp;может некачественных снимков.
